#!/bin/bash
#
# Source function library.
. /lib/lsb/init-functions

set -e

user=travis
name=rtail-client
dir=/opt/{{ name }}
pidfile=/var/run/$name.pid
logfile=/var/log/rtail/$name.log
command="tail -F /opt/{{ name }}-{{ env }}.log | rtail --id {{ env }}.{{ name }}.com/api --host 127.0.0.1 --port 9090"

if [ ! -d /var/log/rtail ]; then
    mkdir /var/log/rtail
fi

if [ ! -f $logfile ]; then
    touch $logfile
    chown $user $logfile
fi

if [ ! -f $pidfile ]; then
    touch $pidfile
    chown $user $pidfile
fi

test -x $DAEMON || exit 0

case "$1" in
  start)
        start-stop-daemon --start --quiet --chuid $user \
        --make-pidfile --pidfile $pidfile --background       \
        --startas /bin/bash -- -c "$command > $logfile 2>&1"
        ;;
  stop)
        echo -n "Stopping $name : "
        start-stop-daemon --stop --pidfile $pidfile
        kill $(ps aux | grep '/usr/bin/rtail --i[d]' | awk '{print $2}')
        rm $pidfile
        echo "Done"
        ;;

  restart|force-reload)
        ${0} stop
        ${0} start
        ;;

  status)
        echo -n "$name is "
        if start-stop-daemon --stop --quiet --signal 0 --name ${name} --pidfile ${pidfile}
        then
                echo "running"
        else
                echo "not running"
                exit 1
        fi
        ;;

  *)
        echo "Usage: /etc/init.d/$name {start|stop|restart|force-reload}" >&2
        exit 1
        ;;
esac

exit 0


