.loading-container {

  ion-pane {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    color: $light;
    background-color: $dark;

    .spinner svg {
      width: 20%;
      height: 20%;
    }

    h5 {
      text-transform: uppercase;
    }

  }
}
