.auth {
  &.auth-index ion-content {
    background: url('../img/bg.png') no-repeat center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .logo {
      height: 100%;
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .logoPicture{
        background: url('../img/bg_logo.png') no-repeat center center;
        background-size: contain;
        height: 60px;
        margin-top: 20px;
      }
      .logoBetter{
        background: url('../img/bg_better.png') no-repeat center center;
        background-size: contain;
        height: 24px;
        margin-left: 45%;
        width: 60%;
      }
      .logoIoniq{
        background: url('../img/bg_ioniq.png') no-repeat center center;
        background-size: contain;
        height: 60px;
        margin: 0px auto;
        width: 80%;
      }
      .logoFeaturing{
        background: url('../img/bg_featuring.png') no-repeat center center;
        background-size: contain;
        height: 24px;
        margin: 5px auto 0px;
        width: 60%;
      }
    }

    .button-group {
      min-width: 100%;
      margin: 0 auto;
      padding: 0px 37px 27px;
      & .button {
        min-height: 67px;
        font-family: LatoWeb;
        font-size: 18px;
        padding: 4px 12px 0px;
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
    }

  }

  form.loginUser{
    .item-input{
      span.input-label{
        width: 40%;
      }
    }
  }

  // &.forgot-password-success {
  //   ion-content {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     align-content: center;
  //   }
  // }
}
