.auth {
  &.auth-index ion-content {
    background-repeat: no-repeat;
    background-image: url('../img/background.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 20px;
    }

    .logo-image {
      width: 100%;
      svg {
        width: 100%;
      }
    }

    .button-group {
      min-width: 100%;
      margin: 0 auto;
      padding: 0px 37px 27px;
      & .button {
        min-height: 67px;
        font-family: LatoWeb;
        font-size: 18px;
        padding: 4px 12px 0px;
        margin-bottom: 20px;
        letter-spacing: 2px;
      }
    }

  }

  form.loginUser{
    .item-input{
      span.input-label{
        width: 40%;
      }
    }
  }

  // &.forgot-password-success {
  //   ion-content {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     align-content: center;
  //   }
  // }
}
