.auth {
  &.auth-index ion-content {
    background-repeat: no-repeat;
    background-image: url('/img/background.png');
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .logo {
      min-height: 45%;
      img {
        width: 86%;
      }
    }

    .button-group {
      min-width: 100%;
      margin: 0 auto;
    }
  }
}
