.charging-station-info .buttons {
  width: 100%;
  display: block;
  height: 14%;
  position: relative;
}

.dashboard-information .col {
  text-align: center;
}

.dashboard-information .col i {
  border: none;
  font-size: 5.5em;
  margin: 0;
  padding: 0;
}

.dashboard-information .col .big-title {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 0;
}

.dashboard-information .col .small-title {
  font-size: 1em;
  margin-top: 10px;
}

.item-popover-content .navigate {
  position: absolute;
  top: 1.2rem;
  right: 1.5em;
}
.portList {
  text-align: center;
  .port { 
    display: inline-block;
    padding: 0.4rem;
    border: 1px solid rgba(96,96,255,1);
    border-radius: 5px;
    color: #66f;
    text-align: center;
    margin: 0 0.5rem;
    width: 65px;
    img {
      width: 40px;
      padding-bottom:0.2rem;
      display:inline-block;
      max-height: 50px;
    }
  }
}
.item-popover {
  .name {
    font-weight: bold;
    line-height: 36px;
  }
  .description {
    margin-top: 0.2rem;
  }
}
.charging-station-info .close-button {
  z-index: 2;
}

.reservation-extension {
  .reservation-text {
    line-height: 26px;
    padding: 4px 1px 2px;
    font-size: 12px;
  }

  .button {
    margin-left: 8px;
  }
  img {
    margin-right: 0.4rem;
    height: 1em;
    margin-bottom: -1px;
  }
}

.bookings-show {
  width: 100%;
  height: 100%;
  .fees-info {
    height: 36%;
  }
  .points-info {
    height: 42%;
  }
  .page-title {
    color: $dark;
  }
  .summary-container {
    div {
      padding-top: 2.6%;
      padding-bottom: 2.6%;
    }
    div.tableContainer {
      border-bottom: 0.005rem solid $gray5;
      width: 92%;
      margin: 0 auto;
      tr.totalRow {
        border-top: 0.0001rem solid $gray5;
        td {
          padding-top: 0.5rem;
        }
      }
    }
    div.tableContainer:last-child {
      border: none;
    }
    .ride-info {
      min-height: 18%;
      background-color: $gray3;
      color: $gray4;
      p {
        width: 88%;
        margin: 0 auto;
      }
    }
    .warn {
      background-color: #FCE6E0
    }
    background-color: #FFF;
    .time-and-distance-info {
      height: 15%;
    }
    .title {
      color: $gray5;
      &.total {
        font-family: "LatoWebBold";
        text-transform: uppercase
      }
    }
    .value {
      color: $dark;
      font-family: "LatoWebBold";
    }
  }
  table {
    width: 100%;
    td {
      padding-bottom: 0.5rem;
      &:first-child {
        padding-bottom: 0rem;
      }
      &.value {
        text-align: right;
      }
      &.title {
        text-align: left;
        font-weight: bold;
      }
    }
  }
}

.start-ride {
  .empty-red {
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid #FB4738;
  }

  .empty-green {
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 2px solid #25C155;
  }

  .info-header-item {
    svg {
      width: 30px;
    }
  }
}

.has-footer.has-ride-footer {
  bottom: 99px;
}

.ride-footer {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 800;
  width: 100%;
  border-top: 1px solid #999;
  padding: 0 5px;
  background: #f4f4f4;
  .button-small {
    background: #ccc;
    border: 1px solid #555;
    color: #000;
  }
  .item-right {
    justify-content: flex-end;
    width: 35%;
  }
  .icon {
    margin-bottom: -3px;
  }

  & + .bar-footer {
    height: 60px;
  }
}

.parking-footer {
  position: absolute;
  bottom: 105px;
  z-index: 800;
  background-color: white;
  width: 100%;
  font-size: 14px;
  padding: 10px 5px;
  text-align: center;
}

.parking-timer {
  line-height: 1.1em;
  font-size: 1em;
}

.button-blue {
  color: $blue;
  border-color: $blue;
}
.button-gray.button-lighter {
  background-color: #666 !important;
}

.parking-location {
  .button-dark {
    background-color: #444;
    color: #fff;
  }

  .add-image {
    width: 45px;
    height: 45px;
    background: url('../img/camera.svg') center center no-repeat;
    background-color: #444;
  }

  .address {
    display: inline-block;
    text-align: center;
  }

  .parking-details-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    .parking-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 16px;

      .row {
        padding: 0;
        .fill {
          flex: 1;
        }
      }
    }

    .button-bar {
      margin-top: -18px;
      padding-top: 18px;
      background: black;
      z-index: 10;
      flex: inherit;
      -webkit-flex: inherit;
    }
  }

  .street-sign-image {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    display: inline-block;
    background-size: cover;
    align-items: center;
    justify-content: center;
  }

  .small-input {
    position: relative;
    width: 40px;
    display: inline-block;
    vertical-align: top;

    input {
      padding: 2px 6px;
      width: 100%;
      border-radius: 6px;
      text-align: center;
    }

    span {
      text-align: center;
      padding: 0 0 8px 0;
      color: #fff;
      font-size: 14px;
      min-width: 100%;
      display: inline-block;
    }
  }
}

.past-rides-content{
  .ride-block{
    .header{
      background-color: #fff;
      color: #000;
      text-transform: uppercase;
      padding: 13px 0px;
    }
    .line{
      display: block;
      width: 30px;
      margin: 0px auto;
      background-color: #25C557;
      height: 1px;
    }
    .body{
      height: 200px;
    }
    .hour, .price{
      padding: 9px 13px;
    }
  }
}

.side-image {
  height: 100px;
  width: 133px;
  background-color: #444;
  background: url('../img/camera.svg') center center no-repeat;
  background-size: 100%;
}

.sample-image {
  height: 100px;
  width: 133px;
  background-size: 100%;
}

.start-ride-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parking-image {
  height: 133px;
  width: 100px;
  background-color: #444;
  background: url('../img/camera.svg') center center no-repeat;
  background-size: 100%;
}

.parking-sample-image {
  height: 133px;
  width: 100px;
  background-size: 100%;
}

.parking-section {
  margin: 18px 0;
  p {
    text-align: left;
  }
  .half-width {
    width: 60%;
    float: left;
  }
  .photo-section {
    margin: 0 0 24px;
    p {
      text-align: right;
      margin: 0 8px 2px 0;
    }
  }
  .photo-wrapper {
    margin-top: -20px;
  }
  .resume-ride {
    margin-top: 8px;
  }
  .parking-input {
    margin: 20px 12px 15px 0;
    div, p {
      float: right;
    }
    p {
      text-align: right;
      max-width: 80%;
      margin-right: 12px;
    }
  }
  ul.bold-list > li > p.pull-left {
    font-weight: normal;
  }
  h4 {
    display: block;
    text-align: left;
    text-transform: none !important;
    font-weight: 600;
  }
}

.continue {
  font-size: 16px;
  margin-bottom: 15px;
}
