// /cars/:id

.info-footer {
  height: $infoFooterHeight * 1%;
  background-color: #FFF;
  color: #545a56;

  &.big-info-footer {
    height: $bigInfoFooterHeight* 1%;
    .title {
      font-weight: bold;
    }

    .license {
      color: #738076;
    }

    .line {
      margin-top: 2px;
      background: #25C155;
      height: 3px;
      width: 20px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      padding: 0;
      font-size: 1rem;
      flex: 1 1 auto;
      align-self: auto;
      border-bottom: none;

      img {
        height: 15px;
        margin-left: 6.66%;
        margin-right: 6.66%;
      }

    }


  }

  .footer-information {
    font-size: $headerTitleSize * 0.6rem;
    height: $footerInformationSize*1%;
    margin: -1.5em 0 0;
    p {
      @include vertical-align;
    }
    .text-left {
      display: inline-block;
      margin-top: 0.25em;
    }
    .time-extension {
      margin-left: -11px;
    }
  }
  .has-footer-information {
    height: (100-$footerInformationSize)*1%;
    width: 100%;
    display: block;
  }
  // .info-card {
  //   display: inline-block;
  //   margin: 0;
  //   border: 0;
  //   height: 100%;
  //   float: left;
  //   p {
  //     text-align: left;
  //     &.title {
  //       font-size: $headerTitleSize*0.8rem;
  //     }
  //     font-size: $headerTitleSize*0.7rem;
  //     span {
  //       font-size: $headerTitleSize*0.7rem;
  //     }
  //   }
  //   &.info-card-s {
  //     width: 35%;
  //   }
  //   &.info-card-m {
  //     width: 65%;
  //   }
  // }

  &.two-rows {
    height: 13% !important;
  }
}

car-charge-status svg {
  width: 24px;
  margin: 0 10px;
}

.car-image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin: 10px;
}

.car-row.unavailable {
  opacity: 0.4;
  color: #444;
}
.car-row {
  svg {
    height: 16px;
  }
  .is-charging {
    .battery-background {
      fill: #20e25c;
    }
  }
  .car-cell {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    min-height: 80px;
    .battery {
      display: inline-block;
      width: 30px;
    }
  }
}
