$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #25C155 !default;
$energized:                       #ffc900 !default;
$assertive:                       #fa4838 !default;
$royal:                           #886aea !default;
$dark:                            #021207 !default;
$grayBg:                          rgb(30,30,30);
$blue:							  #4F70F8 !default;