.lined {
  height: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row;

  svg {
    display: inline-block;
    height: 1rem;
    flex-grow: 1;
    line {
      stroke: $gray4;
      stroke-width: 1.5%;
    }
  }
  .content {
    flex-shrink: 0;
    margin: 0 1.5rem;
    display: inline-block;
    text-align: center;
  }
}

.wizard {

  svg {
    height: 0.5rem;
  }

  line {
    stroke-width: 0.4rem;
    stroke: $gray;
    &.passed {
      stroke: $green;
    }
  }

}

.strike {
  line {
    stroke: $green;
    stroke-width: 10%;
  }
  height: 0.5rem;
  width: 10.22%;
  display: block;
  margin: 0 auto;
}

.yes-no-toggle {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 35px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  background-color: $assertive;

  &.active {
    background-color: $balanced;
  }

  .yes {
    left: 0;
  }

  .no {
    left: 50%;
  }

  .yes, .no {
    height: 100%;
    width: 50%;
    position: absolute;
    padding-top: 7px;
    font-size: 12px;
    display: inline-block;

    &.inactive {
      border-radius: 6px;
      background-color: #fff;
    }
  }
}
