.lined {
  height: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row;

  svg {
    display: inline-block;
    height: 1rem;
    flex-grow: 1;
    line {
      stroke: $gray4;
      stroke-width: 1.5%;
    }
  }
  .content {
    flex-shrink: 0;
    margin: 0 1.5rem;
    display: inline-block;
    text-align: center;
  }
}

.wizard {

  svg {
    height: 0.5rem;
  }

  line {
    stroke-width: 0.4rem;
    stroke: $gray;
    &.passed {
      stroke: $green;
    }
  }

}

.strike {
  line {
    stroke: $green;
    stroke-width: 10%;
  }
  height: 0.5rem;
  width: 10.22%;
  display: block;
  margin: 0 auto;
}

.yes-no-toggle {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 35px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  background-color: $assertive;

  &.active {
    background-color: $balanced;
  }

  .yes {
    left: 0;
  }

  .no {
    left: 50%;
  }

  .yes, .no {
    height: 100%;
    width: 50%;
    position: absolute;
    padding-top: 7px;
    font-size: 12px;
    display: inline-block;

    &.inactive {
      border-radius: 6px;
      background-color: #fff;
    }
  }
}

.slider-confirm {
  width: 100%;
  height: 44px;

  /* set the wrapper as the anchor element for positioning */
  position: relative;
  background-color: #ccc;

  input {
      -webkit-appearance: none;
      width: 100%;
      background: #ddd;
      padding: 3px;
      border: 1px solid #525252;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #000000),
          color-stop(1, #222222)
      );
  }
  input::-webkit-slider-thumb {
      -webkit-appearance: none;

      /* position the button on top of everything */
      z-index: 100;
      position: relative;

      width: 68px;
      height: 36px;
      -webkit-border-radius: 10px;
      border-radius: 10px;

      /* arrow and button gradient */
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAYCAYAAAB0kZQKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNpi7OnpYaAC0AXiF0D8mhzNTAzUASBHnAdim4F0BAhIA/EBIC4aSEeAADMQ9wLxRiDmHyhHwIAfNHqMiXZEcXExGJMCiNCjCMTHgDiTkFmM////p4rXe3t78Rm0DIjTgfgLNkkWoGZQij7MQFsQBY2aICC+Rq80gQ2oA/EZIE4YSEeAACcQzwfimVD2gDgCBtKgiVZlIB0BAgbQbBwykI5A5I4BtPsaNLfcHKiQWADEJiAHDERIfAfiLKgjBiQ67kCD/zK2NAFqjMyi0AJQVnPCI78GiBNxFttQF6ZToVjG5ohfoLoOiKcMVO54BA3+swPVntgKxIbEOIAWjvgLxJVA7APE7waisHoKxBFAfGSgSszL0MLnBTmaAQIMAKg/OsrT7JG8AAAAAElFTkSuQmCC'),
      -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #fefefe),
          color-stop(0.49, #dddddd),
          color-stop(0.51, #d1d1d1),
          color-stop(1, #a1a1a1)
      );
      background-repeat: no-repeat;
      background-position: 50%;
  }
  span {
      /* position the text just under the button in the stacking order */
      position: absolute;
      z-index: 99;
      top: 26%;
      left: 37%;

      // font-family: "Helvetica Neue", Helvetica, sans;
      font-size: 20px;
      color: white;
      cursor: default;
      -webkit-user-select: none;

      /* semitransparent gradient mask to animate over the text */
      -webkit-mask-image: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(0, rgba(0,0,0,0.3)),
          color-stop(0.45, rgba(0,0,0,0.3)),
          color-stop(0.5, rgba(0,0,0,1)),
          color-stop(0.55, rgba(0,0,0,0.3)),
          color-stop(1, rgba(0,0,0,0.3))
      );
      -webkit-mask-size: 1000px;
      -webkit-mask-repeat: no-repeat;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation: text-spotlight 4s infinite;
  }
}

/* animate the webkit-mark over the text */
@-webkit-keyframes text-spotlight {
  0% {
    -webkit-mask-position: -800px;
  }

  100% {
    -webkit-mask-position: 0px;
  }
}
