.lined {
  height: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row;

  svg {
    display: inline-block;
    height: 1rem;
    flex-grow: 1;
    line {
      stroke: $gray4;
      stroke-width: 1.5%;
    }
  }
  .content {
    flex-shrink: 0;
    margin: 0 1.5rem;
    display: inline-block;
    text-align: center;
  }
}

.wizard {

  svg {
    height: 0.5rem;
  }

  line {
    stroke-width: 0.4rem;
    stroke: $gray;
    &.passed {
      stroke: $green;
    }
  }

}

.strike {
  line {
    stroke: $green;
    stroke-width: 10%;
  }
  height: 0.5rem;
  width: 10.22%;
  display: block;
  margin: 0 auto;
}

