.license-thumbnail {
  img {
    width: auto;
  }
}
.verify-id-new {
  .image-tray {
    text-align: center;
    p {
      margin-top: 0.1em;
      margin-bottom: 1.75em;
    }
  }
  .tnail {
    display: inline-block;
    width: 90%;
    height: 170px;
  }

  .tnail.license-image {
    width: 98%;
    height: 150px;
  }
}

