.map-instance {
  width: 100%;
  height: 100%;
}

ng-map {
  width: 100%;
  height: 100% !important;
}

.map-container {
  height: 100%;
  width: 100%;
  &.map-container-medium {
    height: 60%
  }
  // .leaflet-control {
  //   a,
  //   a:link,
  //   a:visited,
  //   a:hover {
  //     text-decoration: none;
  //     color: $dark;
  //   }
  // }
}

.map-container {
  height: 100%;
  width: 100%;
  &.has-info-footer {
    // height: (100-$infoFooterHeight)*1%
    height: (100 - $infoFooterHeight) * 1%;

    &.has-info-subheader {
      height: (100 - $infoFooterHeight - $smallSubHeaderSize) * 1%;

    }
  }
  &.has-big-info-footer {
    height: (100 - $bigInfoFooterHeight) * 1%;

    &.has-info-subheader {
      height: (100 - $bigInfoFooterHeight - $smallSubHeaderSize) * 1%
    }
  }
}
