.map-instance {
  width: 100%;
  height: 100%;

  .help-wrap {
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    text-align:left;
    width: 83%;
    height: 60%;
    -webkit-overflow-scrolling: touch;
    .help {
      display: none;
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      box-shadow: 0 0 0px 1px rgba(64,64,64,0.4);
      background: rgba(240,240,242,0.85);
      display:inline-block;
      vertical-align: top;
    }
    .close {
      display: inline-block;
      margin-left: -2rem;
      background: rgba(232,232,232,0.8);
      padding: 0.5rem;
      position: relative;
      font-size: 1.15rem;
      color: rgb(32,32,32);
    }

    a {
      text-decoration: none;
      color: blue;
      &:visited {
        color: blue;
      }
    }
  }
}

.map-container {
  height: 100%;
  width: 100%;
  &.map-container-medium {
    height: 60%
  }
  // .leaflet-control {
  //   a,
  //   a:link,
  //   a:visited,
  //   a:hover {
  //     text-decoration: none;
  //     color: $dark;
  //   }
  // }
}

.map-container {
  height: 100%;
  width: 100%;
  &.has-info-footer {
    // height: (100-$infoFooterHeight)*1%
    height: (100 - $infoFooterHeight) * 1%;

    &.has-info-subheader {
      height: (100 - $infoFooterHeight - $smallSubHeaderSize) * 1%;

    }
  }
  &.has-big-info-footer {
    height: (100 - $bigInfoFooterHeight) * 1%;

    &.has-info-subheader {
      height: (100 - $bigInfoFooterHeight - $smallSubHeaderSize) * 1%
    }
  }
}
