.sign-in-header{

  .progress-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li{
      width: 25%;
      height: 2px;
      margin: 0px 2px 0px 1px;
      background-color: #5D5D5D;
      &.active{
        background-color: #25C155;
      }
    }
  }

  page-title{
    h4 span{
      font-family: LatoWeb;
      font-size: 14px;
      letter-spacing: 2px;
      margin-bottom: 4px;
      padding-top: 10px;
    }
  }

}



.sign-in-content{

  .button{
    font-family: LatoWeb;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 5px;
    height: 54px;
    line-height: 1.3;
  }

  .button-fb{
    padding: 0px;
    margin-top: 14px;
    height: 54px;
    background-color: #4f70f8;
    .logo-fb{
      float: left;
      .fa-facebook{
        font-size: 20px;
        padding: 18px 23px 16px;
        margin-left: -1px;
        margin-top: -1px;
        border-right: 1px solid #243B6E;
      }
    }
    .text-fb{
      float: left;
      width: 73%;
      text-align: left;
      font-size: 14px;
      line-height: 18px;
      height: 54px;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }

  .lined{
    font-family: LatoWeb;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 29px;
    margin-bottom: 35px;
  }

  .has-footer{
    bottom: 54px;
  }

  .icon-flag{
    padding-top: 6px;
    width: 33px;
  }

  .item-input{
    border-color: #727B75;
    padding: 4px 0 2px 16px;
    .input-label, input{
      font-size: 14px;
    }
    .input-label{
      padding: 5px 10px 4px 0px;
    }
  }

  .text-agreeing{
    color: #CCCCCC;
    font-size: 11px;
    line-height: 14px;
    a, a:link{
      color: #CCCCCC;
    }
    &.padding{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .bar-footer{
    height: 54px;
  }

  form {
    .errors {
      padding-top: 15px;
    }
    [ng-messages]{
      padding: 0;
    }
  }

  form.newUser{
    .item-input{
      input{
        width: 50%;
      }
    }
  }
  form.newLicense{
    .item-input{
      select{
        width: 55%;
      }
      span.input-label{
        width: 51%;
      }
    }
  }
  form.newCreditCard{
    .item-input{
      span.input-label{
        width: 51%;
      }
    }
  }

  button.license-image, button.selfie-image{
    width: 100%;
    height: 150px;
    border: 1px solid #404D43;
    &+p{
      color: #CCCCCC;
    }
  }

}
