.sign-in-header{

  .progress-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li{
      width: 25%;
      height: 2px;
      margin: 0px 2px 0px 1px;
      background-color: #5D5D5D;
      &.active{
        background-color: #25C155;
      }
    }
  }

  page-title{
    h4 span{
      font-family: LatoWeb;
      font-size: 18px;
      letter-spacing: 1.5px;
      margin-bottom: 4px;
    }
  }

}



.sign-in-content{}