.sign-in-header{

  .progress-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li{
      width: 25%;
      height: 2px;
      margin: 0px 2px 0px 1px;
      background-color: #5D5D5D;
      &.active{
        background-color: #25C155;
      }
    }
  }

  page-title{
    h4 span{
      font-family: LatoWeb;
      font-size: 18px;
      letter-spacing: 1.5px;
      margin-bottom: 4px;
    }
  }

}



.sign-in-content{

  .button{
    font-family: LatoWeb;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding-top: 5px;
    height: 67px;
  }

  .button-fb{
    padding: 0px;
    .logo-fb{
      float: left;
      .fa-facebook{
        font-size: 24px;
        padding: 22px 23px 21px;
        margin-left: -1px;
        margin-top: -1px;
        border-right: 1px solid #243B6E;
      }
    }
    .text-fb{
      float: left;
      width: 73%;
      text-align: left;
      line-height: 22px;
      height: 67px;
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }

  .lined{
    font-family: LatoWeb;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-top: 40px;
    margin-bottom: 45px;
  }

  .has-footer{
    bottom: 67px;
  }

  .icon-flag{
    padding-top: 6px;
    width: 33px;
  }

  .item-input{
    border-color: #727B75;
    .input-label, input{
      font-size: 18px;
    }
    input{
      width: 50%;
    }
  }

  .text-agreeing{
    color: #CCCCCC;
    a, a:link{
      color: #CCCCCC;
    }
    &.padding{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .bar-footer{
    height: 67px;
  }

  form {
    .errors {
      padding-top: 15px;
    }
    [ng-messages]{
      padding: 0;
    }
  }

  button.license-image, button.selfie-image{
    width: 100%;
    height: 150px;
    border: 1px solid #404D43;
    &+p{
      color: #CCCCCC;
    }
  }

}