//Vws
$headerTitleSize:2.2;
$headerSubtitleSize:$headerTitleSize*0.8;
 //Percentages
$menuRowSpacing:5;
$infoFooterHeight: 30;
$bigHeaderSize: 15;
$mainTitleHeightPercent:  80;
$barHeight: 10;
$barFooterHeight:10;


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}