.vision {
  ion-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 0px 5%;

    .body-text {
      padding: 0px 10%;
    }

    .cards {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      margin-top: 20px;

      div {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0 3%;
        vertical-align: top;
        img {
          width: 60%;
        }
      }
    }
  }
}
