<ion-pane class="vision">
  <header-bar type="nav" on-button-click="showNav()">Our vision</header-bar>

  <ion-content scroll="false" class="vision-container has-header">
    <div class="vision-wrapper">

      <div class="vision-long-text">
        <p>We believe in breaking paradigms and trying new systems to solve the big problems.</p>
        <p> We believe in sharing resources.</p>
        <p>We believe that renewable energy must reach as many people as possible in order to create a sustainable future.</p>
        <br/>
        <p>Drive an ecological car for free. Thank you for helping.</p>
      </div>

      <p class="vision-conlusion">We’re all helping this much!</p>

      <div class="data-container">
        <div class="data-item">
          <img src="img/tree-icon.svg" />
          <p>3.500 PPM (CO2)</p>
        </div>
        <div class="data-item">
          <img src="img/gasoline-icon.svg" />
          <p>50.000 galons of gasoline</p>
        </div>
        <div class="data-item">
          <img src="img/clock-icon.svg" />
          <p>360 hours of city traffic</p>
        </div>
      </div>

    </div>
  </ion-content>

</ion-pane>