<ion-view class="info">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">INFO</page-title>
  </ion-nav-title>



  <ion-content scroll="true" padding="false" class="ion-content--center">

    <div class="body-text text-muted">
      <p>
        We believe in breaking paradigms and trying new systems to solve the big problems.<br>
        We believe in sharing resources.<br>
        We believe that renewable energy must reach as many people as possible in order to create a sustainable future.
      </p>

      <p>
        Drive an ecological car for free. Thank you for helping.
      </p>

      <h4 class="padding-top">We’re all helping this much!</h4>
    </div>

    <div class="cards">

      <div class="text-center">
        <img src="img/tree-icon.svg" />
        <p>3.500 PPM (CO2)</p>
      </div>

      <div class="text-center">
        <img src="img/gasoline-icon.svg" />
        <p>50.000 galons of gasoline</p>
      </div>

      <div class="text-center">
        <img src="img/clock-icon.svg" />
        <p>360 hours of city traffic</p>
      </div>

    </div>


  </ion-content>

</ion-view>
