@import '~styles/variables';
@import './select/_select';
@import './mixin';

.bento-form {
  @include bento-form-animated-label(28px, 1.1rem, #eee, $brand-primary);
}

.bento-form-static {
  @include bento-form-static-label(28px, 1.1rem, #eee, $brand-primary);
}

.bento-form, .bento-form-static {
  .Select-control {
    border        : none;
    border-bottom : 1px solid #eee;
    border-radius : 0;
    background    : none;
    padding       : 8px 52px 0px 10px;
  }

  .is-focused:not(.is-open) > .Select-control {
    border-bottom: 1px solid #eee;
    box-shadow: none;
  }

  .Select-arrow {
    top : 17px;
  }

  .Select-clear {
    padding : 8px 10px;
  }
}
