#site {
  h1 {
    font-size  : 1.65rem;
    margin     : 70px 0;
    text-align : center;
  }
  h3 {
    font-size : 1.2rem;
    margin    : 40px 0 20px 0;
  }
  p {
    line-height : 1.35rem;
    font-size   : 1.05rem;
  }
}

.row {
  margin: 0!important;
}
