<h3>Hello, {{ name }}</h3>
<p>
  Your verificationc code is {{ token }}.
</p>
<p>
  <strong>Don't recognize this activity?</strong><br>
  If you did not submit a request for a password reset, please ignore this email.
</p>
<p>
  Best,<br>
  The {{ service }} Team
</p>