<ion-view ng-controller="UserEditController">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">General Account</page-title>
  </ion-nav-title>

  <ion-content padding="true" class="ion-content--center gray-bg">
    <form ng-submit="save(form)" name="form" id="form" novalidate>
      <div ng-include="'/templates/users/_form.html'"></div>
    </form>
    <div ng-click="goToResetPassword()" ng-if="!user.facebook">Reset Your Password</div>
    <div ng-click="goToResetPassword()" ng-if="user.facebook">Set Password</div>
  </ion-content>
  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="submit" form="form" class="button button-balanced">Update</button>
    </div>
  </ion-footer-bar>
</ion-view>
