<ion-view>

  <ion-nav-title>
    <page-title class="dark-bg">Connect With Facebook</page-title>
  </ion-nav-title>

  <ion-content padding="true" class="ion-content--center dark-bg">


    <form ng-submit="userCreate.save(form)" name="form" id="form" novalidate>
      <div class="list">

        <p>Review your information</p>

        <label class="item item-input">
          <span class="input-label required">First Name</span>
          <input type="text" name="firstName" placeholder="John" ng-model="userCreate.user.firstName" required autofocus />
        </label>

        <label class="item item-input">
          <span class="input-label required">Last Name</span>
          <input type="text" name="lastName" placeholder="Smith" ng-model="userCreate.user.lastName" required />
        </label>

        <label class="item item-input">
          <span class="input-label required">Email</span>
          <input type="email" placeholder="john@example.com" name="email" ng-model="userCreate.user.email" required />
        </label>

        <p class="padding-top">Enter your mobile number and password</p>

        <label class="item item-input">
          <span class="input-label mobile-label required">Mobile</span>
          <i class="icon placeholder-icon">
            <img src="img/flag-icon.svg" alt="flag" class="icon-flag">
          </i>
          <input type="text" name="mobile" placeholder="0411 099 110" ng-model="userCreate.user.phone" required />
        </label>

        <label class="item item-input">
          <span class="input-label required">Password</span>
          <input type="password" placeholder="* * * * * *" name="password" ng-model="userCreate.user.password" ng-minlength="6">
        </label>

        <label class="item item-input">
          <span class="input-label required">Confirm</span>
          <input type="password" name="passwordConfirm" ng-model="userCreate.user.passwordConfirm" required equal-to="userCreate.user.password" />
        </label>

        <div class="validations" ng-if="form.$submitted && form.$invalid">
          <div class="help-block" ng-if="form.firstName.$error.required">First Name is required</div>
          <div class="help-block" ng-if="form.lastName.$error.required">Last Name is required</div>
          <div class="help-block" ng-if="form.email.$error.required">An Email Address is required</div>
          <div class="help-block" ng-if="form.email.$error.email">A valid Email Address is required</div>
          <div class="help-block" ng-if="form.phone.$error.required">Mobile Number is required</div>
        </div>

        <div class="validations" ng-if="form.$invalid && form.password.$dirty">
          <div class="help-block" ng-if="form.password.$error.required">Password is required</div>
          <div class="help-block" ng-if="form.password.$error.minlength">Password must have at least 6 characters</div>
          <div class="help-block" ng-if="form.passwordConfirm.$dirty && form.passwordConfirm.$error.equalTo">Password confirmation must match the password</div>
        </div>

      </div>

    </form>

    <p class="padding-top">You won't receive any spam from us</p>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" go-back>Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Continue</button>
    </div>
  </ion-footer-bar>

</ion-view>
