<ion-view can-swipe-back="false" class="new-user">
  <ion-nav-title>
    <page-title class="dark-bg">Register</page-title>
  </ion-nav-title>
  <ion-content padding="true" class="ion-content--center dark-bg">
    <div>
      <button type="button" class="button button-block button-positive button-padded button-fb" ng-click="userCreate.registerWithFacebook()">
        <i class="fa fa-facebook"></i> Register with Facebook
      </button>
      <lined>Or</lined>
    </div>
    <form ng-submit="userCreate.save(form)" name="form" id="form" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Full Name</span>
          <input type="text" name="fullName" placeholder="John Doe" ng-model="userCreate.user.fullName" required />
        </label>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="name@example.com" name="email" ng-model="userCreate.user.email" required />
        </label>

        <label class="item item-input">
          <span class="input-label mobile-label">Mobile</span>
          <i class="icon icon-flag" ng-include="'/img/flag-icon.svg'"></i>
          <input type="text" name="phone" ng-model="userCreate.user.phone" ng-keyup="userCreate.enterPhone($event)" required />
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="6 characters or more" name="password" ng-model="userCreate.user.password" ng-required="!userCreate.user.id" ng-minlength="6">
        </label>

        <div class="validations" ng-if="form.$submitted && form.$invalid">
          <div class="help-block" ng-if="form.fullName.$error.required">Full Name is required</div>
          <div class="help-block" ng-if="form.email.$error.required">An Email Address is required</div>
          <div class="help-block" ng-if="form.email.$error.email">A valid Email Address is required</div>
          <div class="help-block" ng-if="form.phone.$error.required">A Mobile Phone Number is required</div>
          <div class="help-block" ng-if="form.password.$error.required">Password is required</div>
          <div class="help-block" ng-if="form.password.$error.minlength">Password must be greater than 5 characters</div>
        </div>
      </div>
    </form>
    <p class="text-agreeing">By tapping on continue, you are agreeing with our<br/><a href="#">Terms of Services.</a><br/><br/>You won't receive any spam from us.</p>
  </ion-content>
  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" ui-sref="auth">Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Continue</button>
    </div>
  </ion-footer-bar>
</ion-view>
