<ion-view can-swipe-back="false" hide-back-button="true" class="sign-in-content">

  <ion-nav-title class="sign-in-header">
    <ul class="progress-bar">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <page-title class="dark-bg">Register</page-title>
  </ion-nav-title>

  <ion-content scroll="true" padding="true" class="ion-content--center dark-bg">

    <div>
      Our lovely Waivecars currently live in sunny santa monica california
    </div>

    <div>
      You've been added to the waitlist and we'll let you know when a slot opens up
    </div>


  </ion-content>


</ion-view>
