<ion-view can-swipe-back="false" hide-back-button="true" class="sign-in-content">

  <ion-nav-title class="sign-in-header">
    <ul class="progress-bar">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <page-title class="dark-bg">Register</page-title>
  </ion-nav-title>

  <ion-content scroll="true" padding="true" class="ion-content--center dark-bg">

    <h3>Thanks for signing up</h3>
    <div style='text-align:left'>
      <p>
        Sadly, our lovely Waivecars are currently living in sunny <b>Santa Monica, California</b>.
      </p>

      <p>
        We'll be expanding soon and you've helped us figure out where to expand to!
      </p>

      <p>
        Feel free to contact us if you'll be visiting the Los Angeles area soon and we'll make sure you're on the waitlist.
      </p>
    </div>
    <button type="button" class="button button-gray" go-back>Go Back</button>

  </ion-content>


</ion-view>
