<ion-view can-swipe-back="false" hide-back-button="true" class="sign-in-content">

  <ion-nav-title class="sign-in-header">
    <ul class="progress-bar">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <page-title class="dark-bg">Register</page-title>
  </ion-nav-title>

  <ion-content scroll="true" padding="true" class="ion-content--center dark-bg">

    <h3>Thanks for signing up</h3>
    <div style='text-align:left'>
      <p>
        Due to overwhelming popularity there is a waitlist for new registrations. 
      </p>

      <p>
        Our staff has been informed of your arrival and we'll contact you over email as soon as a slot opens up.
      </p>
    </div>
    <button type="button" class="button button-gray" ng-click="userCreateCtrl.goback()">Go Back</button>

  </ion-content>


</ion-view>
