<ion-pane  class="info-window" ng-controller="ErrorController as error">
	<ion-content scroll="false">
		<div class="container">
		 	<div class="top">
			 	<button  ui-sref="cars" class="icon ion-arrow-left-c button-left button"><button>
				<img src="img/waivecar-mark2.svg" class="waiveCar-icon" />
				<p class="highlight">Error</p>
		 	</div>
		 	<div class="middle">
				<p><span ng-bind="error.message"></span></p>
		 	</div>
		 	<div class="bottom">
		        <a class="button button-balanced button-padded" ui-sref="cars">ok</a>
		 	</div>
		</div>
	</ion-content>
</ion-pane>
