<div ng-include="'/templates/partials/admin-header.html'"></div>
<div ng-controller="VehicleController" class="container-fluid main-content">
  <div class="row">
    <div class="col-xs-12">
      <div class="list-head">
        <div class="row">
          <div class="col-xs-7">
            <div class="list-head-content">
              <h1>{{ active.vehicle.make }} {{ active.vehicle.model }} {{ active.vehicle.year }}</h1>
            </div>
          </div>
          <div class="col-xs-5">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row push-top-xs">
    <div class="col-sm-3">
      <ul class="list-group">
        <li class="list-group-item text-muted">Vehicle</li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>VIN</strong></span><span>{{ active.vehicle.vin }}</span>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Manufacturer</strong></span>{{ active.vehicle.manufacturer }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Make</strong></span>{{ active.vehicle.make }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Model</strong></span>{{ active.vehicle.model }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Year</strong></span>{{ active.vehicle.year }}
        </li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-heading" style="padding: 10px;">
          <h3 class="panel-title">Charge Level</h3>
        </div>
        <div class="panel-body">
          <canvas data="chart.data" labels="chart.labels" options="chart.options" colours="chart.colors" class="chart chart-doughnut"></canvas>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item text-muted">Information</li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Id</strong></span>{{ active.vehicle.id }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Phone</strong></span>{{ active.vehicle.phone }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Unit Type</strong></span>{{ active.vehicle.unitType }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Status</strong></span>{{ active.vehicle.onstarStatus }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>Primary Driver</strong></span>{{ active.vehicle.primaryDriverId }}
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left"><strong>In Pre Activation</strong></span>{{ active.vehicle.isInPreActivation }}
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <ul id="user-tabs" class="nav nav-tabs">
        <li class="active">
          <button data-toggle="tab" data-target="#vehicleDiagnostics">Diagnostics</button>
        </li>
        <li>
          <button data-toggle="tab" data-target="#vehicleCapabilities">Capabilities</button>
        </li>
        <li>
          <button data-toggle="tab" data-target="#vehicleCommands">Commands</button>
        </li>
        <li>
          <button data-toggle="tab" data-target="#vehicleBookings">Bookings</button>
        </li>
      </ul>
      <div class="tab-content">
        <div id="vehicleDiagnostics" class="tab-pane active">
          <div class="meta" json-human="active.vehicle.diagnostics"></div>
        </div>
        <div id="vehicleCapabilities" class="tab-pane">
          <div class="meta" json-human="active.vehicle.capabilities"></div>
        </div>
        <div id="vehicleCommands" class="tab-pane">
          <ul class="list-unstyled">
            <li>
              <button class="btn btn-danger" ng-click="unlock()">Unlock</button>
            </li>
            <li>
              <button class="btn btn-primary" ng-click="lock()">Lock</button>
            </li>
            <li>
              <button class="btn btn-danger" ng-click="start()">Start</button>
            </li>
            <li>
              <button class="btn btn-primary" ng-click="stop()">Stop</button>
            </li>
          </ul>
        </div>
        <div id="vehicleBookings" class="tab-pane">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Start</th>
                  <th>End</th>
                  <th>Car</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
