<ion-view hide-back-button="true" class="cars-index" can-swipe-back="false">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Find WaiveCars</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="false" class="ion-content--center">

    <div ng-if="!cars.currentLocation">
      <h1>Getting Location. Please Wait...</h1>
    </div>

    <div ng-if="!cars.showDibs" class="dibs">
      <p>
        There's no nearby WaiveCar. Get dibs on the next one near you.
      </p>
      <div>
        <button type="button" class="button button-link" ng-click="cars.showDibsHelp()">Find out more</button>
        <button type="button" class="button" ng-click="cars.getDibs()">Get Dibs</button>
      </div>
    </div>

    <google-map 
      ng-if="cars.currentLocation"
      id="map"
      control="cars.mapControl"
      markers="cars.all"
      on-marker-tap="cars.showCar"
      fit-bounds-by-markers="cars.fitMapBoundsByMarkers"
      current-location="cars.currentLocation"
    >
    </google-map>

  </ion-content>

</ion-view>
