<ion-view hide-back-button="true" class="cars-index" can-swipe-back="false">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Find WaiveCars</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="false" class="ion-content--center">

    <div ng-if="!ctrl.currentLocation">
      <h1>Getting Location.<br/>Please Wait...</h1>
    </div>

    <google-map 
      ng-if="ctrl.currentLocation"
      id="map"
      control="ctrl.mapControl"
      markers="ctrl.allMarkers"
      on-marker-tap="ctrl.showCar"
      fit-bounds-by-markers="ctrl.fitMapBoundsByMarkers"
      current-location="ctrl.currentLocation"
    >
    </google-map>

  </ion-content>

</ion-view>
