<ion-view hide-back-button="true" class="cars-index">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Find WaiveCars</page-title>
  </ion-nav-title>

  <ion-nav-buttons side="primary">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="false" padding="false" class="ion-content--center">

    <div class="map-container">
      <skobbler-map id="map" zoom="10"
        location="$root.currentLocation"
        cars="cars.all"
        on-car-tap="cars.showCar"
        locate-me
      >
      </skobbler-map>
    </div>

    <simple-modal
      title="{{::cars.modal.title}}"
      message="{{::cars.modal.message}}"
      actions="cars.modal.actions">
    </simple-modal>

  </ion-content>

</ion-view>
