<ion-view class="cars-list">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Find WaiveCars</page-title>
  </ion-nav-title>



  <ion-content scroll="true" padding="false">
    <ion-list
      show-delete="false"
      show-reorder="false"
      can-swipe="false">
      <ion-item ng-repeat="car in cars.all"
        class="item-thumbnail-left car-row"
        ng-class="{ available : car.isAvailable, unavailable : !car.isAvailable }"
        ng-click="cars.show(car)">
        <img ng-src="{{ car.image }}">
        <div 
          class="car-cell">
          <h2 ng-bind="car.license || '&nbsp;'"></h2>
          <div ng-if="car.isAvailable">
            <strong>{{ car.range.toFixed(0) }}</strong> mile range
          </div>
          <div ng-if="!car.isAvailable">
            (no longer available)
          </div>
          <div>
            <small><span ng-bind="car.charge"></span>% charged {{ car.model }}</small>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
