<ion-modal-view>
  <ion-header-bar>
    <ng-include src="'/img/waivecar-mark.svg'"></ng-include>
    <h3 class="margin-bottom-10">Bummer!</h3>
  </ion-header-bar>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">
    <div>
      <p>WaiveCar is currently available just in LA. Check back when you're in the area</p>
    </div>
    <div>
      <button type="button" class="button button-gray" ng-click="close()">Ok</button>
    </div>
  </ion-content>

</ion-modal-view>
