<ion-pane ng-controller="CarController">
  <ion-header-bar class="bar bar-header bar-light">
    <div class="header-text">
        <div class="vertical-aligned">
          <h6 class="header-title" data-fittext data-fittext-min="20">
            <reverse-geo-coding get-location="active.cars.location"></reverse-geo-coding>
          </h6>
          <route-information class="header-subtitle"></route-information>
        </div>
    </div>
    <button ui-sref="cars" class="button button-right button-icon icon ion-close"></button>
  </ion-header-bar>
  <ion-content scroll="false" class="has-footer-bar">
    <div class="map-container has-info-footer">
      <map id="map" zoom="15" >
        <device-location></device-location>
        <destiny-location location="active.cars.location"></destiny-location>
        <route-to-location></route-to-location>
      </map>
    </div>
    <div class="vehicle-summary-container info-footer">
      <div class="list pin-bottom size-3">
        <div class="item item-icon-left">
          <img src="img/battery.svg" alt="charge" class="icon" />
          <span ng-bind="carDiagnostic('evBatteryLevel')" class="highlight"></span><span class="highlight">&nbsp;charged |</span>
        </div>
        <div class="item item-icon-left">
          <img src="img/distance.svg" alt="" class="icon">
          <span ng-bind="chargeReach" class="highlight"></span> <span>available on current charge</span>
        </div>
        <div class="item item-icon-left">
          <img src="img/charging.svg" alt="" class="icon">
          <span ng-bind="chargeState"></span>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced" ui-sref="bookings-new({ carId : active.cars.id })">Book WaiveCar</button>
  </div>
</ion-pane>
