<ion-view>

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Find WaiveCars</page-title>
    <!-- <h6 class="header-title" data-fittext data-fittext-min="20">
      <reverse-geo-coding get-location="active.cars.location"></reverse-geo-coding>
    </h6>
    <route-information class="header-subtitle"></route-information> -->
  </ion-nav-title>

  <ion-nav-buttons side="primary">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- <ion-header-bar class="bar bar-header bar-light">
    <div class="header-text">
        <div class="vertical-aligned">
          <h6 class="header-title" data-fittext data-fittext-min="20">
            <reverse-geo-coding get-location="active.cars.location"></reverse-geo-coding>
          </h6>
          <route-information class="header-subtitle"></route-information>
        </div>
    </div>
    <button ui-sref="cars" class="button button-right button-icon icon ion-close"></button>
  </ion-header-bar> -->

  <ion-content scroll="false" padding="false" class="has-header has-footer">

    <div class="map-container has-info-footer">
      <map id="map" zoom="15" center="active.cars.location">
        <location-marker location="currentLocation" icon="device"></location-marker>
        <location-marker location="active.cars.location" icon="car"></location-marker>
        <route-to-location start="currentLocation" destiny="active.cars.location"></route-to-location>
      </map>
    </div>

    <div class="vehicle-summary-container info-footer">
      <div class="list pin-bottom size-3">
        <div class="item item-icon-left">
          <img src="img/battery.svg" alt="charge" class="icon" />
          <span ng-bind="carDiagnostic('evBatteryLevel')" class="highlight"></span><span class="highlight">&nbsp;charged |</span>
        </div>
        <div class="item item-icon-left">
          <img src="img/distance.svg" alt="" class="icon">
          <span ng-bind="chargeReach" class="highlight"></span> <span>available on current charge</span>
        </div>
        <div class="item item-icon-left">
          <img src="img/charging.svg" alt="" class="icon">
          <span ng-bind="chargeState"></span>
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-balanced" ng-click="book()">Book WaiveCar</button>
    </div>
  </ion-footer-bar>

</ion-view>
