.nav-component {
  background: #25C155;
  color: #ffffff;
  ion-content {
    .row {
      height: 33%;
    }
    .button {
      &:before {
        font-size: 50px;
        line-height: 50px;
      }
    }
  }
}
