<ion-pane >
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Get to your WaiveCar</h1>
    <button class="button button-icon icon ion-navicon" ng-click="showNav()"></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="map-container  map-container-medium">
      <map id="map" zoom="15" >
        <div>
          <device-location></device-location>
        </div>
      </map>
    </div>
    <div class="vehicle-summary-container">
      <car-information></car-information>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced">Connect to car</button>
  </div>
</ion-pane>
