<ion-pane ng-controller="CarsController as cars">
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Find WaiveCars</h1>
    <button class="button button-icon icon ion-navicon" ng-click="showNav()"></button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="map-container">
      <map id="map" zoom="15" >
        <div>
          <device-location></device-location>
          <nearby-fleet  on-click-marker="cars.showCarDetails(marker, info)"></nearby-fleet>
        </div>
      </map>
    </div>
  </ion-content>
</ion-pane>
