<ion-pane ng-controller="CarsController as carsCtrl" class="waiveCarContainer">
  <ion-header-bar class="bar bar-header bar-light">
    <div class="header-text">
        <h1 class="header-title" >Find WaiveCars</span>
</span></h1>
    </div>
    <button class="button button-right" ng-click="showNav()">
      <img src="img/menu.svg" >
    </button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="map-container">
      <map id="map" zoom="15" >
          <device-location></device-location>
          <nearby-fleet cars="carsCtrl.all.cars" on-click-marker="carsCtrl.showCarDetails(marker, info)"></nearby-fleet>
          <locate-me img-source="img/locate-me.svg" img-on-click="carsCtrl.locateMe()"></locate-me>
      </map>
    </div>
  </ion-content>
</ion-pane>