<ion-pane ng-controller="CarController as car"  class="waiveCarContainer">
  <ion-header-bar class="bar bar-header bar-light">
    <div class="header-text">
        <div class="vertical-aligned">
          <p class="header-title"><reverse-geo-coding  get-location="car.getDestiny()"></reverse-geo-coding></p>
          <route-information class="header-subtitle"></route-information>
        </div>
    </div>
    <button ui-sref="cars" class="button button-icon icon ion-close button-right"></button>
  </ion-header-bar>
  <ion-content scroll="false" class="has-footer-bar">
    <div class="map-container has-info-footer">
      <map id="map" zoom="15" >
        <device-location></device-location>
        <destiny-location  get-initial-destiny="car.getDestiny()"></destiny-location>
        <route-to-car></route-to-car>
      </map>
    </div>
    <div class="vehicle-summary-container info-footer">
      <car-charge-status></car-charge-status>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced" ng-click="car.book()">Book WaiveCar</button>
  </div>
</ion-pane>
