#===========================================================
# .gitignore
#===========================================================
#
# This file is used when you are using git for your project.
#
# Provided below are some reasonable defaults and can be
# modified to your needs.
#
#===========================================================

#===========================================================
# Local Configuration
#===========================================================
#
# Explicitly ignore files which contain
#
# 1. Sensitive information you'd rather not push to you git
#    repository. eg., your personal API keys or passwords.
#
# 2. Environment-specific configuration
#    Basically, anything that would be annoyng to have to
#    change every time you do a 'git pull'
#    e.g., your local development database, or the S3
#    bucket you're using for the file uploads development.
#
#===========================================================

config/**/local.js
sftp-config.json

#===========================================================
# Dependencies
#===========================================================
#
# When releasing a production app, you may want to consider
# leaving out dependencies so that they can be installed
# manually on the servers. These are good approaches so you
# can avoid bloat in your repository.
#
#===========================================================

node_modules

#===========================================================
# Node.js / NPM
#===========================================================
#
# Common files generated by Node, NPM, and the related
# ecosystem.
#
#===========================================================

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

#===========================================================
# Miscellaneous
#===========================================================
#
# Common files generated by text editors, operating systems,
# file systems, etc.
#
#===========================================================

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
coverage
retval
storage
.env
prepaid_users.csv
.vagrant
.bento-packages
*.sql
package-lock.json
.vscode/**
*.tgz
*.swp
.last-deploy
.deploy-history
