@import '~styles/variables';

.container {
  box-sizing : border-box;
  max-width  : 1070px;
  width      : 100%;
}

header {
  background    : #282828;
  border-bottom : 1px solid #fff;
  color         : #fff;
}