<div class="main"><h1>Hi, {{ name }}</h1>
  <p>
    You have successfully registered a new account with Waive, we wish to extend our welcome and hope you enjoy our services.
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>
</div>
