<h1>Hi, {{ name }}</h1>
<p>
  You have successfully registered a new account with {{ company }}, to be able to fully enjoy all the features our services offer please click the following link to confirm your email address.
</p>
<a href="{{ confirm }}">Link</a>