{
  "apps" : [{
    "name"        : "{{ name }}",
    "cwd"         : "/opt/{{ name }}/",
    "out_file"    : "../{{ name }}-stag.log",
    "error_file"  : "../{{ name }}-stag.error.log",
    "pid_file"    : "../{{ name }}-dev.pid",
    "script"      : "app.js",
    "merge_logs"  : true,
    "args"        : "",
    "watch"       : false,
    "node_args"   : "",
    "instances"   : "1",
    "exec_mode"   : "fork_mode",
    "env": {
        "NODE_ENV": "staging"
    }
  }]
}
