<header class="bar bar-header bar-dark">
  <div class="title">NAVIGATION</div>
  <div class="buttons">
    <button menu-toggle="right" class="button button-icon icon-svg">
      <ng-include src="'/img/close-icon.svg'" alt="close"></ng-include>
    </button>
  </div>
</header>

<ion-content has-header="true" padding="true" class="ion-content--center main-menu dark-bg" menu-close="true" ng-controller="MenuController as menu">

  <div class="text-center">
    <a ui-sref="cars" ng-if="!$data.active.bookings || $data.active.bookings.status === 'completed'">
      <ng-include class="menu-item-image" src="'/img/find-cars.svg'" alt=""></ng-include>
      <span class="button-icon-label">Find Cars</span>
    </a>
    <a ng-click="menu.currentRide()" ng-if="$data.active.bookings && data.active.bookings.status !== 'completed'">
      <ng-include class="menu-item-image" src="'/img/find-cars.svg'" alt=""></ng-include>
      <span class="button-icon-label">Current Ride</span>
    </a>
  </div>

  <div class="text-center">
    <a ui-sref="users-edit">
      <ng-include class="menu-item-image" src="'/img/account.svg'" alt=""></ng-include>
      <span class="button-icon-label">Account</span>
    </a>
  </div>

  <div class="text-center">
    <a ui-sref="bookings">
      <ng-include class="menu-item-image" src="'/img/past-rides.svg'" alt=""></ng-include>
      <span class="button-icon-label">Past Rides</span>
    </a>
  </div>

  <div class="text-center">
    <a ui-sref="info">
      <ng-include class="menu-item-image" src="'/img/vision.svg'" alt=""></ng-include>
      <span class="button-icon-label">Info</span>
    </a>
  </div>
  <div class="text-center">
    <a ui-sref="messages-new">
      <ng-include class="menu-item-image" src="'/img/contact.svg'" alt=""></ng-include>
      <span class="button-icon-label">Contact</span>
    </a>
  </div>

  <div class="text-center" ng-if="menu.$auth.isAuthenticated()">
    <a ng-click="menu.logout()">
      <ng-include class="menu-item-image" src="'img/logout.svg'"></ng-include>
      <span class="button-icon-label">Log Out</span>
    </a>
  </div>

</ion-content>
