<ion-view class="cars cars-show" ng-controller="SandpitController">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">
    </page-title>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="false" padding="false" class="has-header has-footer">
    <div  class="row row-center row-full-height">
      <div class="col col-center">
        <div>
          <p>outside zone : {{ outsideZone }}</p>
          <p>outside zone confirmation: {{ outsideZoneConfirmed }}</p>
          <ul class="list-unstyled text-left margin-top-10">
            <li>
              <button type="button" class="button button-block button-gray" ng-click="toggleZone()">Toggle Zone Check</button>
            </li>
            <li>
              <button type="button" class="button button-block button-balanced" ng-click="endRideOptions()">End Ride Flow</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="no-padding">
    <div class="button-bar">
    </div>
  </ion-footer-bar>
</ion-view>
