.charging-station-info .buttons{
	width: 100%;
	display: block;
	height: 14%;
	position: relative;
}
.dashboard-information .col{
	text-align: center;
}
.dashboard-information .col i{
	border:none;
	font-size:5.5em;
	margin:0;
	padding:0;
	margin: 0p
}
.dashboard-information .col .big-title{
	font-size:2.5em;
	margin-top: 10px;
	margin-bottom: 0;

}
.dashboard-information .col .small-title{
	font-size:1em;
	margin-top: 10px;
}
.charging-station-info .close-button{
	z-index:2;
}
.rideSummary{
	width: 100%;
	height: 100%;
	
	.fees-info{
		height: 36%;
	}
	.points-info{
		height: 42%;
	}	
	.page-title{
		color:$dark;
	}
	.summary-container{
		div{
			padding-top: 2.5%;
			padding-bottom: 2.5%;
		}
		.rideTables{
			div.tableContainer{
				border-bottom:0.05rem solid $gray5;
				width: 90%;
				margin: 0 auto;
			}
			div.tableContainer:last-child{
				border:none;
			}
		}
		.ride-info{
			height: 18%;
			background-color: $gray3;
			color:$gray4;
			p{
				width: 88%;
				margin: 0 auto;
			}
		}
		background-color: #FFF;
		
		.time-and-distance-info{
			height:10%;
		}
		.title{
			color:$gray5;
			&.total{
				font-family: "LatoWebBold";
				text-transform: uppercase
			}
		}
		.value{
			color:$dark;
			font-family: "LatoWebBold";
		}
	}
	table{
		width: 100%;
		td{
			&.value{
				text-align: right;
				padding-right: 1rem;
			}
			&.title{
				text-align: left;
				font-weight: bold;
				padding-left: 1rem;
			}
		}
	}
}

