.dashboard-information,.charging-station-info{
	height: 30%;
}
.charging-station-info .buttons{
	width: 100%;
	display: block;
	height: 14%;
	position: relative;
}
.dashboard-information .col{
	text-align: center;
}
.dashboard-information .col i{
	border:none;
	font-size:5.5em;
	margin:0;
	padding:0;
	margin: 0p
}
.dashboard-information .col .big-title{
	font-size:2.5em;
	margin-top: 10px;
	margin-bottom: 0;

}
.dashboard-information .col .small-title{
	font-size:1em;
	margin-top: 10px;
}