.charging-station-info .buttons{
	width: 100%;
	display: block;
	height: 14%;
	position: relative;
}
.dashboard-information .col{
	text-align: center;
}
.dashboard-information .col i{
	border:none;
	font-size:5.5em;
	margin:0;
	padding:0;
	margin: 0p
}
.dashboard-information .col .big-title{
	font-size:2.5em;
	margin-top: 10px;
	margin-bottom: 0;

}
.dashboard-information .col .small-title{
	font-size:1em;
	margin-top: 10px;
}
.charging-station-info .close-button{
	z-index:2;
}
$rideSize:12;
$timeAndDistanceSize:10;
$feeInfoDifference:5;
.summary-container{
	width: 100%;
	height: 100%;
	div{
		width: 100%;
		border: 1px black solid;
	}
	.ride-info{
		height: 12%;
	}
	.time-and-distance-info{
		height:10%;
	}
	.fees-info{
		height: 36%;
	}
	.points-info{
		height: 42%;
	}		
}

.rideSummary{
	table{
		width: 100%;
		td{
			&.value{
				text-align: right;
				padding-right: 1rem;
			}
			&.title{
				text-align: left;
				font-weight: bold;
				padding-left: 1rem;
			}
		}
	}
}