<ion-pane  ng-controller="ConnectionController as connection" class="waiveCarContainer">
  <header-bar type="nav" on-button-click="showNav()">Get to your WaiveCar</header-bar>
  <ion-content scroll="false" class="has-footer-bar has-header">
    <div class="map-container  has-info-footer">
      <map id="map" zoom="15" >
        <div>
          <device-location></device-location>
        </div>
      </map>
    </div>
    <div class="vehicle-summary-container info-footer">
      <car-information></car-information>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button  ng-click="connection.goToConnecting()" class="button button-balanced">Connect to waivecar</button>
  </div>
</ion-pane>