@import '~styles/variables';
@import '~styles/mixins';

body {
  background : #eee;
}

#app {
  .container {
    box-sizing : border-box;
    max-width  : 1070px;
    width      : 100%;
    .header {
      margin   : 25px 0;
      padding  : 0 25px;
      position : relative;
      h2 {
        color          : #777;
        font-size      : 15px;
        font-weight    : 400;
        margin         : 0;
        text-transform : uppercase;
      }
    }
  }
}