<ion-pane   class="waiveCarContainer ">
    <ion-content  class="full-page  has-footer-bar" >
		<page-title>Recover your password</page-title>
		<p class="textInfoTitle">Enter your Email or mobile number</p>
		<label class="item item-input">
			<span class="input-label">Email or Mobile</span>
			<input type="email">
		</label>
  </ion-content>
	<div class="bar bar-footer">
		<div class="footer-buttons">
			<button class="button button-dark"  ui-sref="signIn">Cancel</button>
			<button class="button button-balanced" next-state>Recover</button>
		</div>
	</div>
</ion-pane>