<ion-view ng-controller="LicenseController">
  <ion-nav-title>
    <page-title class="dark-bg">Driver's License</page-title>
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="ion-content--center dark-bg">
    <form ng-submit="save(form)" name="form" id="form" novalidate>
      <div ng-include="'/templates/licenses/_form.html'"></div>
      <div class="padding-top padding-bottom">
        <button type="submit" form="form" class="button button-balanced button-block">Validate</button>
        <button type="button" class="button button-gray button-block" ng-click="cancel()">Cancel Booking</button>
      </div>
    </form>
  </ion-content>
</ion-view>
