<ion-view class="licenses-new" ng-controller="LicenseController">

  <ion-nav-title>
    <page-title class="dark-bg">Driver's License</page-title>
  </ion-nav-title>

  <form ng-submit="save(form)" name="form" id="form" novalidate>
    <ion-content padding="true" class="ion-content--center dark-bg">

      <p>
        Your license looks good!.
        <br> Please enter your details
      </p>

      <div ng-include="'/templates/licenses/_form.html'"></div>

      <!-- <p class="padding-top">Have you received any tickets in the past year?</p>

    <div class="double-buttons">
      <button class="button button-light-gray button-small">Yes</button>
      <button class="button button-balanced button-small">No</button>
    </div> -->

    </ion-content>

    <ion-footer-bar class="no-padding">
      <div class="button-bar">
        <button type="submit" form="form" class="button button-balanced">Continue</button>
      </div>

    </ion-footer-bar>
  </form>

</ion-view>
