<!--     <div class="pre-data-collection-message">
      <p>TODO: Your driver's license must be validated by our insurance company to confirm that may drive a vehicle in the state of California.</p>
    </div>
    <form ng-submit="createLicense()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Driver's License Number</span>
          <input type="text" placeholder="Driver's License Number" ng-model="licenseCtrl.forms.new.id">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Expiry</span>
          <input type="text" placeholder="Expiry" ng-model="licenseCtrl.forms.new.expiry">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="licenseCtrl.forms.new.firstName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="licenseCtrl.forms.new.lastName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Address" ng-model="licenseCtrl.forms.new.address">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Date Of Birth</span>
          <input type="text" placeholder="Date of Birth" ng-model="licenseCtrl.forms.new.dob">
        </label>
      </div>
      <button type="submit" class="button">Verify License</button>
    </form>
    <div class="post-data-collection-message">
      <p>
        <small>TODO: Your license details will be stored on file.</small>
      </p>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced" ui-sref="cars">Back</button>
  </div>
</ion-pane>
 -->

<ion-pane class="licenses-new" ng-controller="LicenseController">

  <ion-content class="full-page">

    <step-by-step current-step="3"></step-by-step>

    <page-title back-button="true">Driver's License</page-title>

    <p>
      Your license looks good!.
      <br> Please enter your details
    </p>

    <form ng-submit="createLicense(licenseForm)" name="licenseForm" id="form" novalidate class="padding-bottom">
      <div class="list list-inset">

        <label class="item item-input">
          <span class="input-label required">License Number</span>
          <input name="number" type="text" placeholder="Driver's License Number" ng-model="forms.licenseForm.number" autofocus focused-on required>
        </label>

        <label class="item item-input">
          <span class="input-label required">State</span>
          <input name="state" type="text" placeholder="State" ng-model="forms.licenseForm.state" required>
        </label>

        <label class="item item-input">
          <span class="input-label required">Expiry</span>
          <input name="expiry" type="month" placeholder="Expiry" ng-model="forms.licenseForm.expiry" required>
        </label>

        <label class="item item-input">
          <span class="input-label required">First Name</span>
          <input name="firstName" type="text" placeholder="First Name" ng-model="forms.licenseForm.firstName" required>
        </label>

        <label class="item item-input">
          <span class="input-label required">Last Name</span>
          <input name="lastName" type="text" placeholder="Last Name" ng-model="forms.licenseForm.lastName" required>
        </label>

        <label class="item item-input">
          <span class="input-label required">Date Of Birth</span>
          <input name="birthDate" type="date" value="" placeholder="Date of Birth" ng-model="forms.licenseForm.birthDate" required>
        </label>

      </div>

      <div ng-messages="licenseForm.number.$error" ng-if="licenseForm.number.$dirty || licenseForm.$submitted" role="alert">
        <div ng-message="required">License number is required</div>
      </div>
      <div ng-messages="licenseForm.state.$error" ng-if="licenseForm.state.$dirty || licenseForm.$submitted" role="alert">
        <div ng-message="required">State is required</div>
      </div>
      <div ng-messages="licenseForm.expiry.$error" ng-if="licenseForm.expiry.$dirty || licenseForm.$submitted" role="alert">
        <div ng-message="required">Expiry date is required</div>
      </div>
      <div ng-messages="licenseForm.firstName.$error" ng-if="licenseForm.firstName.$dirty || licenseForm.$submitted" role="alert">
        <div ng-message="required">First Name is required</div>
      </div>
      <div ng-messages="licenseForm.lastName.$error" ng-if="licenseForm.lastName.$dirty || licenseForm.$submitted" role="alert">
        <div ng-message="required">Last Name is required</div>
      </div>
      <div ng-messages="licenseForm.birthDate.$error" ng-if="licenseForm.birthDate.$dirty || licenseForm.$submitted" role="alert">
        <div ng-message="required">Date of Birth is required</div>
      </div>

    </form>

    <p class="padding-top">Have you received any tickets in the past year?</p>

    <div class="double-buttons">
      <button class="button button-light-gray">Yes</button>
      <button class="button button-balanced">No</button>
    </div>

  </ion-content>

  <div class="bar bar-footer">
    <button type="submit" form="form" class="button button-balanced">Continue</button>
  </div>

</ion-pane>
