<ion-view ng-controller="LicensePhotoController">

  <ion-nav-title>
    <page-title class="dark-bg">Driver's License</page-title>
  </ion-nav-title>

  <ion-content padding="true" class="ion-content--center dark-bg">

    <p class="padding-bottom">
      We need to verify your age and driving.<br>
      Please enter your details and upload a photo of your license.
    </p>

    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label required">License Number</span>
        <input name="number" type="text" placeholder="Driver's License Number" ng-model="license.number" autofocus required>
      </label>
      <label class="item item-input">
        <span class="input-label required">License State</span>
        <input name="state" type="text" placeholder="State" ng-model="license.state" required>
      </label>
    </div>

    <div class="padding-top padding-bottom">
      <button class="button button-balanced button-block" on-tap="takePhoto()">Take photo and Submit</button>
      <button class="button button-positive button-block" on-tap="uploadPhoto()">Upload Existing Photo</button>
    </div>

    <p class="padding-top">
      Your driver's license is required to book WaiveCar.
      <span ng-if="isWizard">
        <br>
        However you can skip this step and do it later on your account settings
      </span>
    </p>

    <button type="button" class="button button-small button-clear button-balanced" ui-sref="credit-cards-new({ step: 4 })" ng-if="isWizard">Skip this step</button>

  </ion-content>

</ion-view>
