<ion-view>

  <ion-nav-title>
    <page-title class="dark-bg">Driver's License</page-title>
  </ion-nav-title>

  <ion-content padding="true" class="ion-content--center dark-bg">


    <p class="padding-bottom">
      We need to verify your age and driving.
      <br> We won't share your information in any way.
    </p>

    <div class="row padding responsive-md">
      <div class="col col-50 col-offset-25">
        <a href class="thumbnail license-thumbnail">
          <img ng-src="{{licenseCtrl.license.filePath()}}">
        </a>
      </div>
    </div>

    <div class="padding-top padding-bottom">
      <button class="button button-balanced button-block" on-tap="licenseCtrl.takePhoto()" ng-bind="licenseCtrl.license.fileId ? 'Take New Photo' : 'Take Photo'"></button>
      <button class="button button-positive button-block" on-tap="licenseCtrl.uploadPhoto()" ng-bind="licenseCtrl.license.fileId ? 'Upload New' : 'Upload'"></button>
    </div>

    <p class="padding-top">
      Your driver's license is required to book WaiveCar.
    </p>

  </ion-content>

</ion-view>
