<div>
  <form ng-submit="finalizeEditRow()" name="forms.editForm" role="form" validations="validations" novalidate="novalidate" class="popped">
    <div class="form-group">
      <label for="firstName" class="control-label">First Name</label>
      <input name="firstName" type="text" ng-model="editable.user.firstName" placeholder="First Name" tabindex="3" ng-required="true" autocapitalize="off" autocorrect="off" class="form-control"/>
      <div ng-show="forms.editForm.firstName.$dirty && forms.editForm.firstName.$invalid" class="validation">
        <div class="help-icon"></div>
        <div ng-show="forms.editForm.firstName.$error.required" class="help-block">A First Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="control-label">Last Name</label>
      <input name="lastName" type="text" ng-model="editable.user.lastName" placeholder="Last Name" tabindex="4" ng-required="true" autocapitalize="off" autocorrect="off" class="form-control"/>
      <div ng-show="forms.editForm.lastName.$dirty && forms.editForm.lastName.$invalid" class="validation">
        <div class="help-icon"></div>
        <div ng-show="forms.editForm.lastName.$error.required" class="help-block">A Last Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneCountryCode" class="control-label">Phone Country Code</label>
      <input name="phoneCountryCode" type="text" ng-model="editable.user.phoneCountryCode" placeholder="Cell Counry Code" tabindex="5" autocapitalize="off" autocorrect="off" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="phoneNumber" class="control-label">Phone</label>
      <input name="phoneNumber" type="text" ng-model="editable.user.phoneNumber" placeholder="Cell Number" tabindex="6" autocapitalize="off" autocorrect="off" class="form-control"/>
    </div>
    <div class="form-group last-group">
      <input type="checkbox" name="isAdmin" ng-model="editable.user.isAdmin"/>
      <label for="isAdmin"><span>&nbsp;Is Administrator</span></label>
    </div>
    <div class="form-group form-actions blocked">
      <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-lg btn-default bootbox-close-button">Cancel</button>
      <button type="submit" name="submit" ng-class="{ 'btn-disabled': forms.editForm.$invalid }" ng-disabled="forms.editForm.$invalid" class="btn btn-lg btn-primary">Update</button>
    </div>
  </form>
</div>