<div class="header">
  <img src="https://s3.amazonaws.com/waivecar-assets/email-logo.png">
</div>
<div class="main"><h3>Hi {{ name }}.</h3>
  <p>
    Thanks for registering to access Level's fleet of complementary electric cars, brought to you by WaiveCar. 
  </p>
  <p>
    The next steps are to give yourself a password, log in and set up your account.
    <a href={{ passwordlink }}>Click here to set up your password</a>. 
  </p>

  <p>
    <em>Important:</em> This is a secret, exclusive, private and personal link connected to your email address. It is good for 7 days.
    Please do not share it. Thanks!
  </p>

  <p>
    Best regards,<br>
    The WaiveCar Team
  </p>
</div>
