<ion-view hide-back-button="{{::verify.isWizard}}" class="auth">

  <ion-nav-title>
    <page-title class="dark-bg"><span ng-if="::verify.isWizard">Step 2 of 6:</span> Enter Code</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <p class="margin-top-10 multiline">We<span ng-if='::verify.isWizard == false'> previously</span> sent an SMS with a verification code to {{::verify.phone}} from (855) 924-8355.</p>

    <form name="form" id="form" ng-submit="verify.submit(form)" novalidate class="margin-top-10">
      <div class="list">
        <label class="item item-input">
          <span class="input-label required">Code</span>
          <input type="text" name="token" ng-model="verify.form.token" required autofocus autocapitalize="off" autocorrect="off" />
        </label>

        <div ng-messages="verify.form.$error" ng-if="verify.form.$submitted" role="alert">
          <div ng-message="required">Verification Code is required</div>
        </div>

      </div>
    </form>

    <div class='multiline margin-top-10'>
      <p>Didn't get anything? We can <a class="link" ng-click="verify.resend()">send again.</a></p>
      <p>Phone number wrong? You can <a class="link" ng-click='verify.change()'>change the number.</a></p>
      <p class='faded margin-top-10'>This is a required step for booking a car. If you feel you are seeing it in error, you can <a class='link' ng-click="verify.abort()">cancel</a>.</p>
    </div>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-stable" ng-if="::verify.fromBooking" go-back>Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Verify</button>
    </div>
  </ion-footer-bar>

</ion-view>
