<ion-view can-swipe-back="false" hide-back-button="true" class="sign-in-content">

  <ion-nav-title class="sign-in-header">
    <ul class="progress-bar">
      <li class="active"></li>
      <li class="active"></li>
      <li></li>
      <li></li>
    </ul>
    <page-title class="dark-bg">Enter Code</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <div ng-if="::verifyCtrl.fromBooking">
      <p class="margin-top-10">You must verify your account before booking a car.</p>
      <p>
        We have previously sent you an SMS with verification code.
        (<button type="button" class="button button-small button-clear button-energized" ng-click="verifyCtrl.resend()">Resend</button>)
      </p>
      <p>Please enter it below to verify your account.</p>
    </div>

    <p ng-if="::verifyCtrl.isWizard" class="text-agreeing padding">We just sent you SMS with a verification code.<br/>Please enter it below.</p>

    <form name="form" id="form" ng-submit="verifyCtrl.submit(form)" novalidate>
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Code</span>
          <input type="text" name="token" ng-model="verifyCtrl.form.token" required autofocus />
        </label>

        <div class="errors">
          <div ng-messages="form.token.$error" ng-if="form.$submitted">
            <div ng-message="required">Verification Code is required</div>
          </div>
        </div>

      </div>
    </form>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" go-back>Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Verify</button>
    </div>
  </ion-footer-bar>

</ion-view>
