<ion-view class="auth" ng-controller="AuthController">

  <ion-nav-title>
    <page-title class="dark-bg">Recover Your Password</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <p>Enter your Email Address to recover your password</p>

    <form name="form" id="form" ng-submit="forgot(form)" novalidate>
      <div class="list">

        <label class="item item-input">
          <span class="input-label required">Email</span>
          <input type="email" placeholder="john@example.com" name="email" ng-model="forms.forgotForm.email" required autofocus />
        </label>

        <div ng-messages="form.email.$error" ng-if="form.email.$dirty || form.$submitted" role="alert">
          <div ng-message="required">Please provide registered email address</div>
          <div ng-message="email">Please provide registered email address</div>
        </div>

      </div>
    </form>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" go-back ng-if="$ionicHistory.backView()">Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Recover</button>
    </div>
  </ion-footer-bar>

</ion-view>
