<ion-view class="auth">

  <ion-nav-title>
    <page-title class="dark-bg">Recover Your Password</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <p>Enter your Email Address to recover your password</p>
    <p>We will send you a message with token and reset instructions.</p>

    <form name="form" id="form" ng-submit="auth.initPasswordReset(form)" novalidate>
      <div class="list">

        <label class="item item-input">
          <span class="input-label required">Email</span>
          <input type="text" name="identifier" ng-model="auth.forms.forgotForm.identifier" required autofocus autocapitalize="off" autocorrect="off" />
        </label>

        <div ng-messages="form.identifier.$error" ng-if="form.identifier.$dirty || form.$submitted" role="alert">
          <div ng-message="required">Please provide registered email address</div>
        </div>

      </div>
    </form>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" go-back ng-if="$ionicHistory.backView()">Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Recover</button>
    </div>
  </ion-footer-bar>

</ion-view>
