<ion-pane class="auth auth-forgot-password" ng-controller="AuthController">
  <form name="form" ng-submit="forgot()">
    <ion-content class="full-page  has-footer-bar" scroll="false">
      <page-title>Recover Your Password</page-title>
      <p class="text-info-title">Enter your Email Address to reset your password</p>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="john@example.com" name="email" ng-model="forms.forgotForm.email" required />
        </label>
        <div class="validations" ng-show="form.$dirty && form.$invalid">
          <div class="help-block" ng-show="form.email.$dirty && form.email.$error.required">An Email Address is required</div>
          <div class="help-block" ng-show="form.email.$dirty && form.email.$error.email">A valid Email Address is required</div>
        </div>
      </div>
    </ion-content>
    <div class="bar bar-footer">
      <div class="footer-buttons">
        <button class="button button-gray" ui-sref="auth">Cancel</button>
        <button type="submit" class="button button-balanced" ng-class="{ 'btn-disabled' : form.$pristine || form.$invalid }" ng-disabled="form.$pristine || form.$invalid">Recover</button>
      </div>
    </div>
  </form>
</ion-pane>
