<ion-view hide-back-button="true" class="auth auth-login" ng-controller="AuthController">

  <ion-nav-title>
    <page-title class="dark-bg">Sign In</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <button type="button" class="button button-block button-positive button-padded" ng-click="connectWithFacebook()">
      <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x positive"></i>
        </span> Login with Facebook
    </button>

    <lined>Or</lined>

    <form ng-submit="login(form)" name="form" id="form" novalidate class="padding-bottom">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="john@example.com" name="email" ng-model="forms.loginForm.email" required autofocus />
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="* * * * * *" name="password" ng-model="forms.loginForm.password" required>
        </label>

        <div class="validations" ng-show="form.$dirty && form.$invalid">
          <div class="help-block" ng-show="form.email.$dirty && form.email.$error.required">An Email Address is required</div>
          <div class="help-block" ng-show="form.email.$dirty && form.email.$error.email">A valid Email Address is required</div>
          <div class="help-block" ng-show="form.password.$dirty && form.password.$error.required">Password is required</div>
          <div class="help-block" ng-show="form.password.$dirty && form.password.$error.minlength">Password must be greater than 5 characters</div>
        </div>

      </div>
    </form>

    <a ui-sref="auth-forgot-password" class="padding-top">Forgot your password?</a>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" go-back>Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Sign In</button>
    </div>
  </ion-footer-bar>

</ion-view>
