<ion-view hide-back-button="true" class="auth auth-login" ng-controller="AuthController">

  <ion-nav-title>
    <page-title class="dark-bg">Sign In</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <button type="button" class="button button-block button-positive button-padded" ng-click="loginWithFacebook()">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x positive"></i>
      </span> Login with Facebook
    </button>

    <lined>Or</lined>

    <form ng-submit="login(form)" name="form" id="form" novalidate class="padding-bottom">
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Login</span>
          <input type="text" placeholder="phone or email" name="identifier" ng-model="forms.loginForm.identifier" required autofocus autocapitalize="off" autocorrect="off" />
        </label>

        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="* * * * * *" name="password" ng-model="forms.loginForm.password" required autocapitalize="off" autocorrect="off">
        </label>

        <div class="validations" ng-show="form.$dirty && form.$invalid">
          <div class="help-block" ng-show="form.identifier.$dirty && form.identifier.$error.required">An Email Address or Phone Number is required</div>
          <div class="help-block" ng-show="form.password.$dirty && form.password.$error.required">Password is required</div>
        </div>

      </div>
    </form>

    <button type="button" ui-sref="auth-forgot-password" class="button button-balanced button-clear button-small">Forgot your password?</button>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" ui-sref="auth" ng-if="$ionicHistory.backView()">Cancel</button>
      <button type="submit" form="form" form="form" class="button button-balanced">Sign In</button>
    </div>
  </ion-footer-bar>

</ion-view>
