<ion-view class="auth" ng-controller="AuthController">

  <ion-nav-title>
    <page-title class="dark-bg">Enter New Password</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <p>Enter your new password</p>

    <form name="form" id="form" ng-submit="submitNewPassword(form)" novalidate>
      <div class="list">

        <label class="item item-input">
          <span class="input-label required">New Password</span>
          <input type="password" name="password" ng-model="forms.resetForm.password" required autofocus />
        </label>

        <label class="item item-input">
          <span class="input-label required">Confirm</span>
          <input type="password" name="passwordConfirm" ng-model="forms.resetForm.passwordConfirm" required equal-to="forms.resetForm.password" />
        </label>

        <div ng-messages="form.password.$error" ng-if="form.password.$dirty || form.$submitted" role="alert">
          <div ng-message="required">Password is required</div>
        </div>
        <div ng-messages="form.passwordConfirm.$error" ng-if="form.passwordConfirm.$dirty || form.$submitted" role="alert">
          <div ng-message="required">Password confirmation is required</div>
          <div ng-message="equalTo">Password confirmation must match the password</div>
        </div>

      </div>
    </form>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" ui-sref="auth-login">Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Reset</button>
    </div>
  </ion-footer-bar>

</ion-view>
