<ion-view class="auth">

  <ion-nav-title>
    <page-title class="dark-bg">Enter New Password</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">

    <p ng-if="auth.forms.resetForm.tokenProvided">Enter your new password</p>
    <p ng-if="!auth.forms.resetForm.tokenProvided">Enter your token and new password</p>

    <form name="form" class="password-reset" id="form" ng-submit="auth.submitNewPassword(form)" novalidate>
      <div class="list">

        <label class="item item-input" ng-if="!auth.forms.resetForm.tokenProvided">
          <span class="input-label required">Reset Token</span>
          <input type="text" name="token" ng-model="auth.forms.resetForm.token" required autofocus autocapitalize="off" autocorrect="off" />
        </label>

        <label class="item item-input">
          <span class="input-label required">New Password</span>
          <input type="password" name="password" ng-model="auth.forms.resetForm.password" required autofocus autocapitalize="off" autocorrect="off" />
        </label>

        <label class="item item-input">
          <span class="input-label required">Confirm</span>
          <input type="password" name="passwordConfirm" ng-model="auth.forms.resetForm.passwordConfirm" required equal-to="auth.forms.resetForm.password" autocapitalize="off" autocorrect="off" />
        </label>

        <div ng-messages="form.token.$error" ng-if="form.token.$dirty || form.$submitted" role="alert">
          <div ng-message="required">Reset token is required</div>
        </div>

        <div ng-messages="form.password.$error" ng-if="form.password.$dirty || form.$submitted" role="alert">
          <div ng-message="required">Password is required</div>
        </div>

        <div ng-messages="form.passwordConfirm.$error" ng-if="form.passwordConfirm.$dirty || form.$submitted" role="alert">
          <div ng-message="required">Password confirmation is required</div>
          <div ng-message="equalTo">Password confirmation must match the password</div>
        </div>

      </div>
    </form>

    <p class="text-muted padding-top-10">
      We've sent you a message with token and reset instructions.
    </p>

    <button type="button" class="button button-clear button-positive button-small">Send again</button>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" ui-sref="auth-login">Cancel</button>
      <button type="submit" form="form" class="button button-balanced">Reset</button>
    </div>
  </ion-footer-bar>

</ion-view>
