<ion-view class="info">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">INFO</page-title>
  </ion-nav-title>



  <ion-content scroll="true" padding="false" class="ion-content--center">

    <button type="button" ui-sref="info-return-zone" class="button button-balanced button-block">VIEW RETURN ZONE</button>
    <button type="button" ui-sref="info-driving-zone" class="button button-balanced button-block">VIEW DRIVING ZONE</button>
    <button type="button" ui-sref="info-faq" class="button button-positive button-block">FAQ</button>
    <button type="button" ui-sref="info-insurance" class="button button-dark button-block">VIEW INSURANCE INFORMATION</button>

    <div class="contacts">
      <h4>GET IN TOUCH</h4>
      <h5 class="grey">CALL OR TEXT US ANYTIME AT</h5>
      <h3 ><a  class="highlight balanced" ng-href="tel: 855WAIVE55">(855) WAIVE 55</a></h3>
    </div>

  </ion-content>

</ion-view>
