<ion-view class="info">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">INFO</page-title>
  </ion-nav-title>

  <ion-content scroll="true" padding="false" class="ion-content--center">

    <div ng-if="ctrl.isLevel">
      <h3>All bookings must end at 34 North 7th Street in Brooklyn.</h3>
    </div>

    <div ng-if="!ctrl.isLevel">
      <h3>All bookings must end in the highlighted region on the map, viewable during a rental.</h3>
    </div>

    <button type="button" ui-sref="info-faq" class="button button-positive button-block">FAQ</button>
    <button type="button" ui-sref="info-insurance" class="button button-dark button-block">VIEW INSURANCE INFORMATION</button>

    <div class="contacts">
      <h4>GET IN TOUCH</h4>
      <h5 class="grey">CALL OR TEXT US ANYTIME AT</h5>
      <h3 ><a  class="highlight balanced" ng-href="tel: 855WAIVE55">(855) WAIVE 55</a></h3>
    </div>

  </ion-content>

</ion-view>
