@import '~styles/variables';

#site {
  .navbar-brand {
    img {
      width: 324px;
    }
  }
  .bg-transparent {
    background : none;
  }
  //background-color : $app-color-white;
  color            : $app-color-black;
  .tinted {
    background-color : rgba($app-color-black, .8);
  }
  .inverted {
    background-color : $gray-lightest;
    color            : $app-color-white;
  }
  .section {
    background-color : $app-color-white;
    &.section-1 {
      min-height : 845px;
      background : url('/images/site/bg-section-1.png') center center / cover;
      .tag {
        margin-top :292px;
      }
      .store-item {
        a {
          img {
            width: 199px;
          }
        }
      }
      .app-sample {
        height : 538px;
      }
    }
    &.section-2 {
      min-height : 358px;
    }
    &.section-3 {
      background: url('/images/site/bg-green.png') center center / cover;
      min-height : 458px;
    }
    &.section-4 {
      min-height : 700px;
    }
    &.section-5 {
      background: url('/images/site/bg-green.png') center center / cover;
      min-height : 504px;
    }
    &.section-6 {
      min-height : 318px;
    }
    &.section-7 {
      background-color : $app-color-black;
      height           : 166px;
    }
    > div {
      padding: 80px 100px;
    }
  }
}