#profile {
  $header-height : 180px;
  $avatar-size   : 180px;
  $avatar-radius : 50%;

  .container {
    position : relative;
    z-index  : 1;
  }

  // ### Header

  header {
    background    : #161616;
    height        : $header-height;
    margin-bottom : 220px;
    position      : relative;
  }

  .header-overlay {
    background : url(/images/profile/header.jpeg) bottom center / cover;
    height     : 100%;
    left       : 0;
    position   : absolute;
    top        : 0;
    width      : 100%;
  }

  .header-avatar {
    animation-duration : .4s;
    background         : rgba(#25C155, .75);
    border-radius      : 50%;
    height             : $avatar-size;
    left               : 50%;
    margin-left        : -($avatar-size / 2);
    padding            : 5px;
    position           : absolute;
    top                : $header-height - ($avatar-size / 2);
    width              : $avatar-size;
  }

  .header-avatar-image {
    border-radius : $avatar-radius;
    height        : 100%;
    width         : 100%;
  }

  .header-meta {
    color       : #363636;
    margin-top  : $header-height + ($avatar-size / 2);
    text-align  : center;
  }

  .header-meta-name {
    font-size   : 2.6rem;
    font-weight : 600;
  }

  .header-meta-box {
    color        : #565656;
    display      : inline-block;
    font-size    : .92rem;
    margin-top   : -5px;
    margin-left  : 24px;
    padding-left : 24px;
    position     : relative;
    i {
      font-size : 16px;
      left      : 0;
      position  : absolute;
      top       : 2px;
    }
    &:first-child {
      margin-left : 0;
    }
  }

  // ### Past Rides Timeline

  section {
    h2 {
      margin-bottom : 30px;
      text-align    : center;
    }

    .card {
      animation-duration : .4s;
      border-radius      : 5px;
      height             : 300px;
      overflow           : hidden;
      position           : relative;

      .card-content {
        background : rgba(#262626, .75);
        height     : 100%;
        left       : 0;
        position   : absolute;
        top        : 260px;
        width      : 100%;
        @include transition(all .4s ease);
      }

      .card-title {
        color      : #fff;
        font-size  : 13px;
        padding    : 8px;
        text-align : center;
      }

      .card-stat-title {
        font-size : 11px;
      }

      .card-actions {
        bottom   : 20px;
        left     : 0;
        padding  : 0 24px;
        position : absolute;
        width    : 100%;
        button {
          border-radius : 3px;
          width         : 100%;
        }
      }

      ul {
        margin   : 0;
        padding  : 0 24px;
        position : absolute;
        top      : 80px;
        width    : 100%;
        li {
          color          : #fafafa;
          list-style     : none;
          line-height    : 19px;
          margin-bottom  : 12px;
          text-align     : center;
        }
      }

      &:hover {
        .card-content {
          background : #262626;
          top        : 0;
          @include transition(all .4s ease);
        }
      }
    }
  }

}