<ion-view class="verify-id-new">
  <ion-content padding="true" class="ion-content--center dark-bg">
    <h4>Verify Your Identity</h4>
    <p>Help us keep your account secure by providing<br>
    us with a photo of your license and a selfie.</p>

    <p>Your License</p>
    <div class="image-tray">
      <button ng-click="ctrl.addLicense()" class="button button-dark add-image tnail" style="background:url({{ ctrl.imageMap.license }}) center center / cover"></div>
      </button>
    </div>

    <p>Your Selfie</p>
    <div class="image-tray">
      <button ng-click="ctrl.addSelfie()" class="button button-dark add-image tnail" class="selfie-image tnail" style="background:url({{ ctrl.imageMap.selfie }}) center center / cover"></button>
    </div>

    <form ng-submit="ctrl.submit()">
      <button type="submit" class="button button-balanced button-block" ng-disabled="!(ctrl.model.files.length)">
        Confirm
      </button>
    </form>
  </ion-content>
</ion-view>

