<ul>

  <li>
    <ng-include src="'/img/battery.svg'" alt="charge"></ng-include>
    <strong>{{chargeLevel}} remaining</strong>&nbsp;{{ make }} {{ model }}</strong>
  </li>

  <li>
    <ng-include src="'/img/distance.svg'" alt="reach"></ng-include>
    <span><strong ng-bind="chargeReach"></strong> currently available</span>
  </li>

  <li>
    <ng-include src="'/img/charging.svg'" alt="charge status"></ng-include>
    <strong>{{ license }}</strong>&nbsp;<span ng-bind="chargeState"></span>
  </li>

</ul>
