<div class="dialog">
    <div class="container vertical-aligned">
        <div class="row">
          <img src="img/waivecar-mark2.svg" class="waiveCar-icon"></img>
        </div>
        <p class="header-title"><span ng-bind="title"></span></p>
        <p class="header-subtitle"><span ng-bind="subtitle"></span></p>
        <div class="row">
            <div class="button button-balanced button-padded" ng-click="onButtonClick()">
              <span ng-bind="buttonText"></span>
            </div>
        </div>
    </div>
</div>