<ion-pane  class="info-window" ng-controller="ConnectionController as connection">
  <ion-content scroll="false">
   	<div class="container">
		<img src="img/waivecar-mark2.svg" class="waiveCar-icon"></img>
		<p class="highlight">End Ride</p>
		<p>Leave your Waivecar charging.</p>
		<p>Be nice, keep cars charged and
		<a ui-sref="search" class="button button-balanced button-padded">I'm charging end ride</a>
		<a ui-sref="search" class="button button-balanced button-padded">View charging stations</a>
		<p class="subtle-highlight">end ride here</p>
		
	</div>

  </ion-content>

<!-- 	<div class="bar bar-footer">
		<a ui-sref="search" class="button button-balanced button-padded">Back</a>
	</div> -->
</ion-pane>
