<ion-pane  class="info-window waiveCarContainer" >
    <ion-content scroll="false">
        <div class="container">
            <div class="top">
               
                <img src="img/waivecar-mark2.svg" class="waiveCar-icon"></img>
                <p class="highlight">End Ride</p>
            </div>
            <div class="middle middle-small">
                <p>Your charge level is bellow 65%.</p>
                <p>Leave your Waivecar charging and avoid the $20.00 charging fee.</p>
            </div>
            <div class="bottom bottom-big">
                <div class="line-3">
                    <div class="button button-balanced button-padded">
                        <a ui-sref="cars" >I'm charging end ride</a>
                    </div>
                </div>
                <div class="line-3">
                    <div class="button button-balanced button-padded">
                        <a ui-sref="cars" >View charging stations</a>
                    </div>
                </div>
                <div class="line-3">
                    <a class="subtle-highlight">end ride here and pay fee</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
