<ion-pane  class="info-window">
    <ion-content scroll="false">
        <div class="container">
            <div class="top">
                <i  ui-sref="cars" class="icon ion-close button-right top-icon"></i>
                <img src="img/waivecar-mark2.svg" class="waiveCar-icon"></img>
                <p class="highlight">Your Free Ride is Almost Over!</p>
            </div>
            <div class="middle">
                <p>You are 10 minutes away from reaching your free 2 hour ride.</p>
                <p>You can continue for $20.00 per hour</p>
            </div>
            <div class="bottom">
                <div class="line-2">
                  <div class="button button-balanced button-padded">
                        <a ui-sref="cars" >continue for fee</a>
                   </div>
                </div>
                <div class="line-2">
                    <div class="button button-balanced button-padded">
                      <a ui-sref="cars" >end ride</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>