<ion-pane  class="info-window">
    <ion-content scroll="false">
        <div class="container">
            <div class="top">
                <i  ui-sref="cars" class="icon ion-close button-right  top-icon"></i>
                <img src="img/waivecar-mark2.svg" class="waiveCar-icon"></img>
                <p class="highlight">Low battery.</p>
            </div>
            <div class="middle">
                <p>Wow, your battery level is under 15%</p>
                <p>Charge your Waivecar now and avoid the low battery $20.00 fee.</p>
                <p>The car will shut down when the battery goes under 10%.</p>
            </div>
            <div class="bottom">
                <div class="line-2">
                    <div class="button button-balanced button-padded">
                        <a ui-sref="cars" >View charging stations</a>
                    </div>
                </div>
                <div class="line-2">
                    <a class="subtle-highlight" ui-sref="ride-end-low-charge">end ride here and pay fee</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>


