<ion-pane  ng-controller="RideController as ride" class="rideSummary">
    <header-bar type="nav" on-button-click="showNav()">Summary</header-bar>
    <ion-content  class="has-header summary-container">
            <div class="ride-info">
                <ride-summary></ride-summary>
            </div>
            <div class="rideTables " >
                <div class="time-and-distance-info tableContainer">
                    <time-and-distance-summary></time-and-distance-summary>
                </div>
                <div class="fees-info tableContainer">
                    <page-title>fees</page-title>
                    <fees-summary></fees-summary>
                </div>
                <div class="points-info tableContainer">
                    <page-title>points</page-title>
                    <points-summary></points-summary>
                </div>
            </div>
    </ion-content>
</ion-pane>