
.box-empty {
  color       : #aaa;
  text-align  : center;
  text-shadow : 1px 1px 0 #fff;
}

.box {
  margin    : 50px auto;
  max-width : 680px;

  h3 {
    font-size   : 1.45rem;
    font-weight : 300;
    margin-left : 10px;
    em {
      font-style  : normal;
      font-size   : 70%;
      margin-left : 8px;
    }
    small {
      color       : #a6a6a6;
      font-size   : 65%;
      font-weight : 300;
      margin-left : 8px;
    }
  }

  h4 {
    border-bottom  : 1px solid #eee;
    font-size      : 1.2rem;
    font-weight    : 300;
    padding-bottom : 10px;
    small {
      color       : #a6a6a6;
      font-size   : 75%;
      font-weight : 300;
    }
  }

  &.full {
    max-width : 100%;
  }

  .box-info {
    color      : #767676;
    font-size  : .82rem;
    margin-top : 30px;
  }

  .box-content {
    background    : #fff;
    border-bottom : 3px solid #f0f0f0;
    padding       : 25px 40px;
    &.no-padding {
      padding : 0;
    }
  }
  @media (max-width: 1023px) {
    .box-content {
      padding       : 10px 5px;
    }
  }

  .box-image {
    img {
      height : auto;
      width  : 100%;
    }
  }

  .box-spacer {
    height : 30px;
  }

  .box-table-search {
    border-width  : 0 0 1px 0;
    margin-bottom : 20px;
    padding       : 10px 0;
    width         : 100%;
  }

  .box-table {
    width : 100%;

    th {
      font-size           : .9rem;
      padding             : 5px;
      -moz-user-select    : none;
      -webkit-user-select : none;
      user-select         : none;
      &.sortable {
        &:hover {
          cursor : pointer;
        }
        span {
          float : left;
        }
        .ASC, .DESC {
          display     : none;
          float       : left;
          margin-top  : -3px;
        }
        .sort-spacer {
          float      : left;
          height     : 10px;
          width      : 24px;
        }
        &.ASC, &.DESC {
          color : #25C155;
          .sort-spacer {
            display : none;
          }
        }
        &.ASC {
          .ASC {
            display : block;
          }
        }
        &.DESC {
          .DESC {
            display : block;
          }
        }
      }
    }

    td {
      font-size : .9rem;
      padding   : 5px;
    }

    button {
      background : none;
      border     : none;
      i {
        color     : red;
        font-size : 1.1rem;
      }
      &.hide {
        display : none;
      }
    }
  }

  .btn-group > .btn {
    margin: 0 10px;
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .box {
    margin: 0px auto;
  }
}
