.card {
  background    : #fff;
  box-sizing    : border-box;
  box-shadow    : 0 3px 3px rgba(0,0,0,0.07);
  border-bottom : 1px solid #cecece;
  margin-bottom : 30px;
  padding       : 20px 25px;
  width         : 100%;
  &.card-body-table {
    padding : 20px 0 0;
    .card-body {
      padding : 23px 0 0;
    }
  }
  &.card-body-chart {
    padding : 0;
    .card-body {
      padding : 0;
    }
  }
  &.card-body-map {
    padding : 0;
    .card-header {
      p {
        margin-bottom : 0;
        font-size     : 1rem;
      }
    }
    .card-body {
      padding     : 25px;
      padding-top : 0;
      overflow    : hidden;
    }
  }
}

.card-header {
  padding  : 23px 26px;
  position : relative;
  background : none;
  border : none;
  h2 {
    margin      : 0;
    line-height : 100%;
    font-size   : 19px;
    font-weight : 400;
    small {
      color       : #aeaeae;
      display     : block;
      font-size   : 14px;
      margin-top  : 8px;
      line-height : 160%;
    }
  }
}

.card-body {
  padding : 23px 26px;
}