@import '~styles/variables';

body {
  margin         : 0;
  padding        : 0;
  font-family    : 'Roboto', 'Helvetica', sans-serif;
}

:focus {
  outline: none;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
}

.bg-vid {
  position        : fixed;
  top             : 50%;
  left            : 50%;
  min-width       : 100%;
  min-height      : 100%;
  width           : auto;
  height          : auto;
  z-index         : -100;
  transform       : translateX(-50%) translateY(-50%);
  background      : #000;
  background-size : cover;
  transition      : 1s opacity;
}
.vid-overlay {
  position   : fixed;
  top        : 50%;
  left       : 50%;
  min-width  : 100%;
  min-height : 100%;
  width      : auto;
  height     : auto;
  z-index    : -99;
  transform  : translateX(-50%) translateY(-50%);
  background : -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 90%);
  background : -webkit-gradient(radial, center center, 0px, center center, 90%, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,.8)));
  background : -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 90%);
  background : -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 90%);
  background : -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 90%);
  background : radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 90%);
  filter     : progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}
.vid-fallback {
  position   : fixed;
  top        : 50%;
  left       : 50%;
  min-width  : 100%;
  min-height : 100%;
  width      : auto;
  height     : auto;
  transform  : translateX(-50%) translateY(-50%);
  background : $gray-dark;
}
aside:before {
  content: "💡 ";
  margin-left: -1.3rem;
  font-style: normal;
}
aside {
  padding: 0.5rem;
  padding-left: 1.65rem;
  background: seashell;
  border-left: 3px solid NavajoWhite;
  font-style: italic;
  margin-bottom: 1rem;
}
