<div class="header">
  <img src="https://s3.amazonaws.com/waivecar-assets/email-logo.png">
</div>
<div class="main"><h3>Hello {{name}},</h3>
  <p>
    {{{text}}} 
  </p>
  <p>
    Please don't hesitate to reach out to Frank, the director of WaiveWork with any questions you may have by clicking <a href="mailto:frank@waive.car">here</a>.
  <p>
    Thanks,<br>
    Waive
  </p>
</div>
