<div class="header">
  <img src="https://s3.amazonaws.com/waivecar-assets/email-logo.png">
</div>
<div class="main">
  <h3>Hello {{ name }},</h3>
  <p>
    Thanks for riding with us for free today{{ city }}! We hope you enjoyed {{ car }}. Have a great day!
  </p>
  {{{ optionalText }}}
  <p>
    Best regards,<br>
    The WaiveCar Team
  </p>
  <hr>
  <p><small>Disclaimer: Charges may apply for things such as but not limited to vehicle damage or tickets received during your rental or from tickets received during the required time window after your rental is complete, for example, a parking meter or street sweeping ticket. Don't worry, we'll get in touch with you first.</small></p>
</div>
