@import '~styles/variables';
@import '~styles/mixins';

/**
 * Returns styling for forms using the reach-components form setup.
 * @mixin reach-form
 * @param {Mixed} $input-height The height of your input
 * @param {Mixed} $font-size    The font size of your input
 */
@mixin reach-form($input-height, $font-size, $border-color) {
  .r-input {
    padding-top : $input-height;
    position    : relative;

    label {
      color        : #777;
      left         : 0;
      font-size    : $font-size;
      height       : $input-height;
      line-height  : $input-height;
      padding      : 0 15px;
      position     : absolute;
      transition   : 0.2s ease all;
      top          : $input-height;
      width        : 100%;
    }

    input {
      background    : none;
      border        : none;
      border-bottom : 1px solid $border-color;
      font-size     : $font-size;
      height        : $input-height;
      line-height   : $input-height;
      padding       : 0;
      position      : relative;
      z-index       : 100;
    }

    .focus-bar {
      background : $brand-primary;
      height     : 2px;
      margin     : -1px auto 0;
      transition : 0.2s ease all;
      width      : 0;
    }

    &.active, &.focus {
      transition  : 0.2s ease all;
      label {
        font-size  : .8rem;
        top        : 0;
        transition : 0.2s ease all;
      }
    }

    &.focus {
      .focus-bar {
        position   : relative;
        transition : 0.2s ease all;
        width      : 100%;
        z-index    : 101;
      }
    }

    .help-text {
      color     : #777;
      font-size : .8rem;
    }
  }

  .r-input-center {
    label, input {
      text-align : center;
    }
  }

  .r-select {
    select {
      border        : none;
      border-bottom : 1px solid $border-color;
      height        : $input-height;
      line-height   : $input-height;
      padding       : 0;
      width         : 100%;
    }
  }
}