<ion-view>

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Get to your WaiveCar</page-title>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="false" padding="false" class="gray-bg has-header has-footer">
    <div class="bar bar-dark bar-subheader route-distance">
      <h5 class="text-center">
        <reverse-geo-coding location="ctrl.car"></reverse-geo-coding>
      </h5>
    </div>

    <div class="map-container has-big-info-footer has-info-subheader">
      <google-map
        id="map"
        route="ctrl.route"
      ></google-map>
    </div>
    <div class="info-footer big-info-footer">
      <div class="has-footer-information">
        <div class="row" style="height: 100%;">
          <div class="col col-50 car-image" style="background-image: url(img/car.jpg);"></div>
          <div class="col">
            <!-- <p class="title"> -->
              <!-- <h3 ng-bind="ctrl.car.make"></h3> -->
              <!-- <h4 ng-bind="ctrl.car.model"></h4> -->
            <!-- </p> -->
            <p>
              <span ng-if="distance">{{ distance | number:0 }} miles away</span>
              <span ng-bind="data.cars.license"></span>
            </p>
            <p ng-if="ctrl.parkingDetails && ctrl.parkingDetails.type === 'lot'">
              <span ng-if="ctrl.parkingDetails.lotLevel">Lot level: {{ ctrl.parkingDetails.lotLevel }}</span><br>
              <span ng-if="ctrl.parkingDetails.lotSpot">Lot spot: {{ ctrl.parkingDetails.lotSpot }}</span>
            </p>
          </div>
        </div>
        <div class="footer-information">
          <p class="text-center" ng-show="ctrl.timeLeft"><strong>{{ ctrl.timeLeft }} left</strong> to get to your WaiveCar</p>
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-dark" ng-click="ctrl.getDirections()">Get Directions</button>
      <button type="button" class="button button-assertive" ng-click="ctrl.showCancel()">Cancel</button>
    </div>
  </ion-footer-bar>

</ion-view>
