<ion-view hide-back-button="true" can-swipe-back="false">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Get to your WaiveCar</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="false" class="gray-bg has-header has-footer">
    <div class="bar bar-dark bar-subheader route-distance">
      <h5 class="text-center">
        <reverse-geo-coding location="ctrl.car"></reverse-geo-coding>
      </h5>
    </div>

    <div class="map-container has-big-info-footer has-info-subheader">
      <google-map
        id="map"
        route="ctrl.route"
      ></google-map>
    </div>
    <div class="info-footer big-info-footer">
      <div class="has-footer-information">
        <div class="row pull-right vcenter reservation-extension">
          <div class="text-left reservation-text" ng-show="ctrl.timeLeft">
            Reserved until <strong>{{ ctrl.timeLeft }}</strong>.
          </div>
          <button ng-if="!ctrl.isExtended" type="button" class="button button-small button-balanced" ng-click="ctrl.extendBooking()"><img ng-src='img/clock.svg'>Extend</button>
          <button ng-if="ctrl.isExtended" type="button" class="button button-small" >extended</button>
          <button type="button" class="button button-link button-small button-blue" ng-click="ctrl.getDirections()"><i class="fa fa-location-arrow" aria-hidden="true"></i> Navigate</button>
        </div>
        <div class="row" style="height: 100%;">
          <div class="col col-50 car-image" style="background-image:url({{ ctrl.car.image }});"></div>
          <div class="col">
            <div class="title">{{ ctrl.car.make }} {{ ctrl.car.model.toUpperCase() }}</div>
            <div class="license" ng-bind="ctrl.car.license"></div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-dark" ng-click="ctrl.startIfBleFound()">Start Ride</button>
      <button type="button" class="button button-assertive" ng-click="ctrl.showCancel()">Cancel</button>
    </div>
  </ion-footer-bar>

</ion-view>
