<ion-vie hide-back-button="true">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">
      <div class="lead-logo header">
        <ng-include class="logo-image" src="'/img/waivecar-mark2.svg'" />
      </div>
    </page-title>
  </ion-nav-title>
  <ion-content scroll="true" padding="true" class="has-header ion-content--center dark-bg start-ride">
    <div  class="row row-center row-full-height">
      <div class="col col-center">
        <div ng-if="showVideo" class="padding video-container">
          <iframe src="https://www.youtube.com/embed/o_P-47umrK0" frameborder="0" allowfullscreen></iframe>
          <br />
          <br />
          <button type="button" class="margin-20 button button-block button-balanced" ng-click="toggleVideo()">Got It</button>
        </div>
        <div ng-if="!showVideo">
          <div ng-if="service.state.location.valet.confirmed">
            <h3 class="margin-bottom-10">END RIDE</h3>
            <div>
              <p>The WaiveCar valet will end your session as soon as you give him the WaiveCar key. This window will automatically disappear.</p>
              <ion-spinner icon="crescent" class="spinner-balanced"></ion-spinner>
            </div>
          </div>
          <div ng-if="service.state.location.valet.confirmed === false">
            <h3>END RIDE</h3>
            <div>
              <div class="info-header">
                <div class="info-header-item">
                  <ng-include class="battery" src="'/img/battery.svg'"></ng-include>
                  {{ ctrl.data.cars.charge | number:0 }} %
                </div>
                <div class="info-header-item">
                  <ng-include src="'/img/clock-icon.svg'"></ng-include>
                  {{ ctrl.hours }}:{{ ctrl.minutes }}
                </div>
              </div>
              <p>Quick checklist to wrap things up:</p>

              <ul class="list-unstyled text-left bold-list">
                <li>
                  <p class="pull-left">No damage to car</p>
                  <label ng-if="!ctrl.damage" ng-click="ctrl.toggle('damage')" class="pull-right">
                    <span class="check">
                      <div class="empty-red"></div>
                    </span>
                    <span class="check">
                      <ng-include src="'/img/check-icon.svg'" />
                    </span>
                  </label>
                  <label ng-if="ctrl.damage" ng-click="ctrl.toggle('damage')" class="pull-right">
                    <span class="check">
                      <ng-include src="'/img/x-icon.svg'" />
                    </span>
                    <span class="check">
                      <div class="empty-green"></div>
                    </span>
                  </label>
                </li>
                <li>
                  <p class="pull-left">Car is clean</p>
                  <label ng-if="!ctrl.dirty" ng-click="ctrl.toggle('dirty')" class="pull-right">
                    <span class="check">
                      <div class="empty-red"></div>
                    </span>
                    <span class="check">
                      <ng-include src="'/img/check-icon.svg'" />
                    </span>
                  </label>
                  <label ng-if="ctrl.dirty" ng-click="ctrl.toggle('dirty')" class="pull-right">
                    <span class="check">
                      <ng-include src="'/img/x-icon.svg'" />
                    </span>
                    <span class="check">
                      <div class="empty-green"></div>
                    </span>
                  </label>
                </li>
                <li>
                  <p class="pull-left">No tickets recieved</p>
                  <label ng-if="!ctrl.tickets" ng-click="ctrl.toggle('tickets')" class="pull-right">
                    <span class="check">
                      <div class="empty-red"></div>
                    </span>
                    <span class="check">
                      <ng-include src="'/img/check-icon.svg'" />
                    </span>
                  </label>
                  <label ng-if="ctrl.tickets" ng-click="ctrl.toggle('tickets')" class="pull-right">
                    <span class="check">
                      <ng-include src="'/img/x-icon.svg'" />
                    </span>
                    <span class="check">
                      <div class="empty-green"></div>
                    </span>
                  </label>
                </li>
              </ul>

              <p>
                Last few things
              </p>
              <ul class="list-unstyled text-left bold-list">
                <li>
                  <p class="pull-left">Key in holder</p>
                  <label class="pull-right">
                    <span class="check" ng-show="ctrl.data.cars.isKeySecure">
                      <ng-include src="'/img/check-icon.svg'" />
                    </span>
                    <span ng-hide="ctrl.data.cars.isKeySecure">
                      <ion-spinner icon="crescent" class="spinner-balanced"></ion-spinner>
                    </span>
                  </label>
                </li>
                <li>
                  <p class="pull-left">Engine off</p>
                  <label class="pull-right">
                    <span class="check" ng-hide="ctrl.data.cars.isIgnitionOn">
                      <ng-include src="'/img/check-icon.svg'" />
                    </span>
                    <span ng-show="ctrl.data.cars.isIgnitionOn">
                      <ion-spinner icon="crescent" class="spinner-balanced"></ion-spinner>
                    </span>
                  </label>
                </li>
                <li>
                  <p class="pull-left" style="max-width: 250px; text-align: left;">Take your belongings and close the doors</p>
                  <label class="pull-right">
                    <span class="check">
                      <ng-include src="'/img/check-icon.svg'" />
                    </span>
                  </label>
                </li>
              </ul>
            </div>

            <div ng-if="ctrl.dirty || ctrl.damage || ctrl.tickets">
              <button type="button" class="button button-block button-balanced"
                ng-disabled="ctrl.data.cars.isIgnitionOn || !ctrl.data.cars.isKeySecure"
                ng-click="ctrl.reportProblem()">Continue</button>
            </div>
            <div ng-if="!(ctrl.dirty || ctrl.damage || ctrl.tickets)">
              <button type="button" class="button button-block button-balanced"  ng-click="ctrl.onComplete()"
                ng-disabled="ctrl.data.cars.isIgnitionOn || !ctrl.data.cars.isKeySecure"
              >Finish and Lock Car</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
