<ion-view hide-back-button="true">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">{{ ctrl.license }}</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="false" class="gray-bg has-header has-footer has-ride-footer">


    <google-map id="map"
                ng-if="ctrl.currentLocation"
                markers="ctrl.locations"
                on-marker-tap="ctrl.openPopover"
                fit-bounds-by-markers="ctrl.fitMapBoundsByMarkers"
                current-location="ctrl.currentLocation"
            >
    </google-map>

  </ion-content>
  <div class="parking-footer" ng-show="ctrl.$data.reservedParking !== null">
    <div>
      <div>
        Parking Reservation: {{ ctrl.$data.reservedParking.location.address }} 
      </div>
      <div class="info-header">
        <div class="info-header-item">
          <button type="button" class="button button-small" ng-click="ctrl.getDirections(ctrl.$data.reservedParking.location)"/>
            Get Directions
          </button>
        </div>
        <div class="info-header-item">
          <div class="parking-timer">
            Time Remaining: {{ctrl.parkingReservationTime}}
          </div>
        </div>
        <div class="info-header-item">
          <button type="button" class="button button-small" ng-click="ctrl.cancelParking(ctrl.$data.reservedParking.id)"/>
            Cancel Reservation
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="info-header ride-footer">
    <div class="info-header-item">
      <ng-include class="battery icon" src="'/img/battery-darkgrey.svg'"></ng-include>
      {{("" + ((data.cars.charge * [143,73][+(data.cars.model === "Spark EV")]) / 100)).split('.')[0]}} miles
    </div>
    <!--
    <div class="info-header-item">
      <ng-include src="'/img/clock-grey-icon.svg'" class='icon'></ng-include>
      {{ ctrl.timeLeft }}
    </div>
    -->
    <div class="info-header-item item-right">
      <button type="button" class="button button-small" ng-disabled="ctrl.ending" ng-click="ctrl.endRide(data.cars.id, data.bookings.id)">End Ride</button>
    </div>
  </div>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray button-lighter" ng-click="ctrl.unlockCar(data.cars.id)"><i class="fa fa-unlock" aria-hidden="true"></i> &nbsp; Unlock</button>
      <button type="button" class="button button-gray" ng-click="ctrl.lockCar(data.cars.id)"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp; Lock</button>
    </div>
  </ion-footer-bar>
  <div class="item-popover" ng-if="ctrl.selectedItem">
    <div class="item-popover-content">
      <div class="row">
        <div class="col">
          <h1>{{ ctrl.selectedItem.name }}</h1>
          <h2>{{ ctrl.selectedItem.description }}</h2>
          <button type="button" class="button button-small button-dark" ng-click="ctrl.getDirections()">Directions to {{ ctrl.selectedItem.type }}</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="button button-small button-dark" ng-show="ctrl.selectedItem.type ==='chargingStation'" ng-click="ctrl.showUnlockChargerPrompt(ctrl.selectedItem.id)">Unlock charging station</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="button button-small button-dark" ng-show="ctrl.selectedItem.type ==='user-parking' && !ctrl.$data.reservedParking && ctrl.selectedItem.status === 'available'" ng-click="ctrl.reserveParking(ctrl.selectedItem.id)">Reserve parking</button>
        </div>
      </div>
    </div>
    <button type="button" class="button button-gray button-block" ng-click="ctrl.closePopover()">Close</button>
  </div>
</ion-view>
