<ion-view hide-back-button="true">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">{{ ctrl.license }}</page-title>
  </ion-nav-title>

  <ion-content scroll="false" padding="false" class="gray-bg has-header has-footer has-ride-footer">


    <google-map id="map"
                ng-if="ctrl.currentLocation"
                markers="ctrl.locations"
                on-marker-tap="ctrl.openPopover"
                fit-bounds-by-markers="ctrl.fitMapBoundsByMarkers"
                current-location="ctrl.currentLocation"
            >
    </google-map>

  </ion-content>
  <div class="parking-footer" ng-show="ctrl.$data.reservedParking !== null">
    <a ng-click="ctrl.getDirections(ctrl.$data.reservedParking.location)"/>
      <img src="img/parking-available.png"> {{ ctrl.cleanAddress(ctrl.$data.reservedParking.location.address) }} 
    </a>
    <div class="description">{{ ctrl.$data.reservedParking.notes }}</div>
    <div class="parking-timer">
      <img src="img/clock-grey-icon.svg"> {{ctrl.parkingReservationTime}}
    </div>
    <button type='button' class="button danger button-small" ng-click="ctrl.cancelParkingConfirm(ctrl.$data.reservedParking.id)"/>
      cancel reservation
    </button>
  </div>
  <div class="info-header ride-footer">
    <div class="info-header-item">
      <ng-include class="battery icon" src="'/img/battery-darkgrey.svg'"></ng-include>
      about {{("" + ((data.cars.charge * [132,65][+(data.cars.model === "Spark EV")]) / 100)).split('.')[0]}}mi.
    </div>
    <!--
    <div class="info-header-item">
      <ng-include src="'/img/clock-grey-icon.svg'" class='icon'></ng-include>
      {{ ctrl.timeLeft }}
    </div>
    -->
    <div class="info-header-item item-right">
      <button type="button" class="button button-small" ng-disabled="ctrl.ending" ng-click="ctrl.endRide(data.cars.id, data.bookings.id)">End Ride</button>
    </div>
  </div>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray button-lighter" ng-click="ctrl.unlockCar(data.cars.id)"><i class="fa fa-unlock" aria-hidden="true"></i> &nbsp; Unlock</button>
      <button type="button" class="button button-gray" ng-click="ctrl.lockCar(data.cars.id)"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp; Lock</button>
    </div>
  </ion-footer-bar>
  <div class="item-popover" ng-if="ctrl.selectedItem">
    <div class="item-popover-content">
      <div>
        <div class="name">{{ ctrl.selectedItem.name }}</div>
        <div class="description">{{ ctrl.selectedItem.description }}</div>
        <button type="button" class="button button-link button-small button-blue navigate" ng-click="ctrl.getDirections()"><i class="fa fa-location-arrow" aria-hidden="true"></i> Navigate</button>
      </div>
      <div class="row portList" ng-show="ctrl.selectedItem.type ==='chargingStation'">
        <div ng-repeat="port in ctrl.selectedItem.portList">
          <div ng-click="ctrl.showUnlockChargerPrompt(port.id,port.name)" class='port'>
            <img src="img/charger-fast.svg" ng-if="port.type == 'fast'">
            <img src="img/charger-slow.svg" ng-if="port.type == 'slow'">
            {{ port.name }}
          </div>
        </div>
      </div>
      <button ng-show="ctrl.selectedItem.type ==='user-parking'" type="button" class="button button-small button-dark" ng-click="ctrl.reserveParking(ctrl.selectedItem.parking.id)">Reserve parking</button>
    </div>
    <button type="button" class="button button-gray button-block" ng-click="ctrl.closePopover()">Close</button>
  </div>
</ion-view>
