<ion-view ng-controller="BookingController">

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Get to your WaiveCar</page-title>
  </ion-nav-title>

  <ion-nav-buttons side="primary">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content scroll="false" padding="false" class="dark-bg has-header has-footer">

    <div class="map-container has-info-footer has-big-info-footer">
      <map id="map" zoom="15" center="currentLocation">
        <location-marker location="currentLocation" icon="device"></location-marker>
        <location-marker location="active.cars.location" icon="car"></location-marker>
        <route-to-location start="currentLocation" destiny="active.cars.location"></route-to-location>
      </map>
    </div>

    <div class="vehicle-summary-container  info-footer big-info-footer">
      <div class="has-footer-information">
        <car-information>
        </car-information>
      </div>
      <div class="footer-information">
        <div class="text-center">
          <button class="button button-small button-energized" ng-click="mockInRange()">Mock Arrival</button>
          <button class="button button-small button-energized" ng-click="mockOutOfRange()">Mock Out Of Range</button>
        </div>
        <p>
          <time-left timer-name="getToYourWaiveCar" get-duration="duration()"></time-left> to get to your WaiveCar
        </p>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <!-- <button type="button" class="button button-balanced" ng-show="showConnect" ng-click="connect()">Connect to waivecar</button> -->
      <!-- <div ng-if="!showConnect"> -->
        <button type="button" class="button button-dark" ng-click="getDirections()" ng-if="!showConnect">Get Directions</button>
        <button type="button" class="button button-assertive" ng-click="cancel()" ng-if="!showConnect">Cancel</button>
      <!-- </div> -->
    </div>
  </ion-footer-bar>

</ion-view>
