<ion-view hide-back-button="true">
  <ion-nav-title>
    <page-title class="dark-bg">Parking Location</page-title>
  </ion-nav-title>
  <ion-content padding="true" class="has-header ion-content--center dark-bg parking-location">
    <div class="parking-details-wrap">
      <div ng-if="ctrl.type === 'street'" class="parking-details">
        <div class="address row" ng-bind-html="ctrl.address_markup"></div>
        <div>
          <p class="text-center">
            1) Take a picture of the parking sign.
          </p>
          <div>
            <div class="start-ride-holder">
            <img src="https://www.waivecar.com/images/cars/parking-sign.jpg" class="parking-sample-image"></img>
            <button 
              ng-click="ctrl.addPicture('streetSignImage')" 
              ng-style="ctrl.pictures.streetSignImage.style" 
              class="button parking-image">
            </button> 
            </div>
            Left
          </div>
        </div>
        <div class='text-center'>
          <p>
            2) How long is the spot valid from now?<br>
            (at least <b>{{ ctrl.minhours }}</b> hours for <b>{{ ctrl.zone }}</b>)
          </p>
          <div class="small-input">
            <input ng-model="ctrl.street.streetHours" type="text">
            <span class="input-label">Hours</span>
          </div>
        </div>
      </div>
      <div  class="row row-center">
        <div class="col col-center">
          <div>
            <div>
              <p>Your ride in {{ ctrl.data.cars.license }} is almost almost.</p>
              Document any existing issues by taking the following photos before ending your ride. The pictures on the left are examples             of how they should look.
              <div class="text-center">
                <div>
                  <div class="start-ride-holder">
                    <img ng-src="https://waivecar.com/images/cars/{{ctrl.model}}_front.jpg" class="sample-image"></img>
                    <button 
                      ng-click="ctrl.addPicture('beginFront')" 
                      ng-style="ctrl.pictures.beginFront.style" 
                      class="button side-image">
                    </button>
                  </div>
                  Front 
                </div>
                <div>
                  <div class="start-ride-holder">
                  <img ng-src="https://waivecar.com/images/cars/{{ctrl.model}}_driver.jpg" class="sample-image"></img>
                  <button 
                    ng-click="ctrl.addPicture('beginLeft')" 
                    ng-style="ctrl.pictures.beginLeft.style" 
                    class="button side-image">
                  </button> 
                  </div>
                  Left
                </div>
                <div> 
                  <div class="start-ride-holder">
                    <img ng-src="https://waivecar.com/images/cars/{{ctrl.model}}_back.jpg" class="sample-image"></img>
                    <button 
                      ng-click="ctrl.addPicture('beginRear')" 
                      ng-style="ctrl.pictures.beginRear.style" 
                      class="button side-image">
                    </button>
                  </div>
                  Rear
                </div>
                <div> 
                  <div class="start-ride-holder">
                    <img ng-src="https://waivecar.com/images/cars/{{ctrl.model}}_passenger.jpg" class="sample-image"></img>
                    <button 
                      ng-click="ctrl.addPicture('beginRight')" 
                      ng-style="ctrl.pictures.beginRight.style" 
                      class="button side-image">
                    </button>
                  </div>
                  Right
                </div>
                <div>
                  Any other damage? Is the car dirty or messy? Put pictures here.
                  <div>
                    <button 
                      ng-click="ctrl.addPicture('beginOther')" 
                      ng-style="ctrl.pictures.beginOther.style" 
                      class="button side-image">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-top padding-bottom">
        <button ng-click="ctrl.submit()" class="button button-balanced button-block">My Parking is OK</button>
      </div>
      <div class="text-center">
        <p><a class='link' ui-sref="dashboard">Resume your ride</a> and park somewhere else</p>
      </div>
    </div>
  </ion-content>
</ion-view>
