<ion-view hide-back-button="true">
  <ion-nav-title>
    <page-title class="dark-bg">Parking Location</page-title>
  </ion-nav-title>
  <ion-content scroll="false" padding="true" class="has-header ion-content--center dark-bg parking-location">
    <div class="parking-details-wrap">
      <!--
      <div class="button-bar">
        <a class="button"
          ng-class="{ 'button-balanced' : ctrl.type === 'lot', 'button-dark' : ctrl.type !== 'lot'  }"
          ng-click="ctrl.setType('lot')"
          >Parking Lot</a>
        <a class="button"
          ng-class="{ 'button-balanced' : ctrl.type === 'street', 'button-dark' : ctrl.type !== 'street'  }"
          ng-click="ctrl.setType('street')"
          >Street</a>
      </div>
      <div ng-if="ctrl.type === 'lot'" class="parking-details">
        <div class="address row" ng-bind-html="ctrl.address_markup"></div>
        <div class="row">
          <p class="text-left fill">Is there a free parking period?</p>
          <div class="text-right">
            <yes-no-toggle val="ctrl.lot.lotFreePeriod"></yes-no-toggle>
            <div class="small-input">
              <input ng-model="ctrl.lot.lotFreeHours" ng-disabled="!ctrl.lot.lotFreePeriod" type="text">
              <span class="input-label">Hours</span>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-left fill">
            How long can you park in the lot?<br>
            (minimum 3 hours)
          </p>
          <div class="text-right">
            <div class="small-input">
              <input ng-model="ctrl.lot.lotHours" type="text">
              <span class="input-label">Hours</span>
            </div>
            <div class="small-input">
              <input ng-model="ctrl.lot.lotMinutes" type="text">
              <span class="input-label">Min.</span>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-left fill">What is your spot number?</p>
          <div class="text-right">
            <div class="small-input">
              <input ng-model="ctrl.lot.lotLevel" type="text">
              <span class="input-label">Level</span>
            </div>
            <div class="small-input">
              <input ng-model="ctrl.lot.lotSpot" type="text">
              <span class="input-label">Spot</span>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-left fill">
            Is there an overnight restriction?<br>
            (ex: No Parking from 3AM - 5AM)
          </p>
          <div class="text-right">
            <yes-no-toggle val="ctrl.lot.lotOvernightRest"></yes-no-toggle>
          </div>
        </div>
        <div>
          <br>
          <p class="text-center">Please put the parking ticket in the glove box.</p>
        </div>
      </div>
      -->
      <div ng-if="ctrl.type === 'street'" class="parking-details">
        <div class="address row" ng-bind-html="ctrl.address_markup"></div>
        <div>
          <p class="text-center">
            1) Take a picture of the parking sign.
          </p>
          <div class="text-center">
            <div ng-if="ctrl.street.streetSignImage" class="street-sign-image" ng-style="ctrl.street.streetSignImage.style"></div>
            <button ng-click="ctrl.addPicture()" class="button button-dark add-image"></button>
          </div>
        </div>
        <div>
          <p class="text-center">
            2) How long is the spot valid from now?<br>
            (at least <b>{{ ctrl.minhours }}</b> hours for <b>{{ ctrl.zone }}</b>)
          </p>
          <div class="text-center">
            <div class="small-input">
              <input ng-model="ctrl.street.streetHours" type="text">
              <span class="input-label">Hours</span>
            </div>
            <div class="small-input">
              <input ng-model="ctrl.street.streetMinutes" type="text">
              <span class="input-label">Min</span>
            </div>
          </div>
        </div>
        <div>
          <p class="text-left pull-left">
            Is there an overnight restriction?<br>
            (ex: No Parking from 3AM - 5AM)
          </p>
          <div class="text-right">
            <yes-no-toggle val="ctrl.street.streetOvernightRest"></yes-no-toggle>
          </div>
        </div>
      </div>
      <div class="padding-top padding-bottom">
        <button ng-click="ctrl.submit()" class="button button-balanced button-block">Continue</button>
      </div>
    </div>
  </ion-content>
</ion-view>
