<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-close" ui-sref="dashboard({ id: service.booking.id })"></button>
  </ion-nav-buttons>
  <ion-content scroll="false" padding="true" class="has-header ion-content--center dark-bg">
    <div  class="row row-center row-full-height">
      <div class="col col-center">
        <div class="lead-logo">
          <ng-include class="logo-image" src="'/img/waivecar-mark2.svg'" />
        </div>
        <div ng-if="!service.state.zone.isOutside || (service.state.zone.isOutside && service.state.zone.confirmed)">
          <h3 class="margin-bottom-10">END RIDE</h3>
          <div>
            <p>Where are you?</p>
          </div>
          <div>
            <ul class="list-unstyled text-left margin-top-10">
              <li ng-repeat="(key, item) in service.state.location">
                <button type="button" class="button button-block button-balanced" ng-click="service.setLocation(key)" ng-if="item.isVisible">
                  {{ item.title }}
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div ng-if="(service.state.zone.isOutside && service.state.zone.confirmed === false)">
          <h3 class="margin-bottom-10">YOU'RE OUT OF THE SAFE ZONE</h3>
          <div>
            <p>End your ride inside of the safe zone and avoid the $20 fee for leaving your WaiveCar outside of the supported area.</p>
          </div>
          <div>
            <ul class="list-unstyled text-left margin-top-10">
              <li>
                <button type="button" class="button button-block button-balanced" ui-sref="bookings">Show Me The Safe Zone</button>
              </li>
              <li>
                <button type="button" class="button button-block button-gray" ng-click="service.confirmOutsideZone()">End Ride Here</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
