<ion-view class="bookings-component" ng-controller="BookingsController">

  <ion-nav-title>
    <page-title class="dark-bg">Past Rides</page-title>
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="ion-content--center dark-bg">

    <div class="alert alert-info" ng-if="!data.bookings.length">
      No rides taken yet.
    </div>

    <div class="list">
      <div class="list-item" ng-repeat="booking in data.bookings">{{ booking }}</div>
    </div>

  </ion-content>

  <!-- <div class="bar bar-footer">
    <button ui-sref="cars" class="button button-balanced">Back</button>
  </div> -->

</ion-view>
