<ion-view>
  <ion-nav-title>
    <page-title class="dark-bg">Past Rides</page-title>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content scroll="false" padding="true" class="has-header ion-content--center dark-bg">
    <div  class="row row-center row-full-height">
      <div class="col col-center">
        <div class="lead-logo">
          <ng-include class="logo-image" src="'/img/waivecar-mark2.svg'" />
        </div>
          <div class="padding text-center">
            <h3 class="margin-bottom-10">PAST RIDES</h3>
            <div>
              <p>Head to our website to review your ride history and review your profile.</p>
              <p>
                <a class="button button-balanced button-block" href="#" onclick="window.open('https://waivecar.com/my-rides', '_system', 'location=yes'); return false;">PAST RIDES</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
