<ion-view class="past-rides-content">

  <ion-nav-title>
    <page-title class="dark-bg">Past Rides</page-title>
  </ion-nav-title>


  <ion-content scroll="true" class="has-header ion-content--center dark-bg">
    <div class="ride-block" ng-repeat="ride in rides" ng-show="ride.carId">
      <div class="header">{{ride.dateHeader}}<span class="line"></span></div>
        <div class="body">
          <div class="title">
            {{ride.car.license}} <small>Booking #{{ride.id}}</small>
          </div>
          <div class="info-holder">
            <div class="info-item">
              <small>Start</small>
              <div>
                {{ride.startTime}}
              </div>
              <div ng-repeat="row in ride.ride.startAddress">
                {{ row }}
              </div>
            </div>
            <div class="info-item">
              <small>End</small>
              <div>
                {{ride.endTime}}
              </div>
              <div ng-repeat="row in ride.ride.endAddress">
                {{ row }}
              </div>
            </div>
          </div>
        </div>
      <div class="footer">
        <div class="hour pull-left">{{((ride.ride.end.mileage - ride.ride.start.mileage) * 0.621371).toFixed(2)}} miles</div>
        <div class="price pull-right">
          {{ride.durationString}} 
          <span class="tag" ng-repeat="key in ride.ride.flags">{{ key }}</span>
          {{ride.ride.fee}}</div>
        <div class="clearfix"></div>
      </div>
    </div>
    <button type="button" class="button button-small button-positive" ng-click="getMoreRides()" ng-show="moreBtn">Load more</button>
  </ion-content>

</ion-view>
