<ion-modal-view>
  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">
    <div  class="row row-center row-full-height">
      <div class="col col-center">
        <div class="lead-logo">
          <ng-include class="logo-image" src="'/img/waivecar-mark2.svg'" />
        </div>
        <div>
          <h3 class="margin-bottom-10">END RIDE</h3>
          <div>
            <p>Please complete these tasks before you leave.<br />The list will automatically update.</p>
          </div>
          <div>
            <ul class="list-unstyled text-left margin-top-10">
              <li ng-show="state.check.key">
                <label class="pull-right"><i>x</i></label>
                Key in holder
              </li>
              <li ng-show="state.check.ignition">
                <label class="pull-right"><i>x</i></label>
                Engine off
              </li>
              <li ng-show="state.check.chargeCard">
                <label class="pull-right"><i>x</i></label>
                Charging Card
              </li>
              <li ng-show="state.check.charging">
                <label class="pull-right"><i>x</i></label>
                Charging
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
