<ion-view class="bookings-show" hide-back-button="true">
  <ion-nav-title>
    <page-title class="dark-bg">Summary</page-title>
  </ion-nav-title>

  <ion-content  class="has-header summary-container">
    <div class="ride-info warn" ng-show="ctrl.booking.failedCharge">
      <page-title class="text-center">Failed to Charge Card</page-title>
      <p>We were unable to charge your card for the fees below. Please be advised that you cannot use the service again until these fees are resolved.</p>
    </div>
    <div class="ride-info">
      <p>This ride took place on <span ng-bind="ctrl.start.createdAt | date : 'EEEE, MMMM d, yyyy'" class="highlight"></span>.</p>
      <p>The WaiveCar was picked up at <span ng-bind="ctrl.start.address" class="highlight"></span></p>
    </div>
    <div class="time-and-distance-info tableContainer">
      <table>
        <tr>
          <td class="title">Time</td>
          <td class="value" ng-bind="ctrl.duration"></td>
        </tr>
        <tr>
          <td class="title">Distance</td>
          <td class="value" ng-bind="ctrl.distance"></td>
        </tr>
      </table>
    </div>
    <div class="fees-info tableContainer">
      <page-title class="text-center">Fees</page-title>
      <p class="padding text-center" ng-hide="ctrl.booking.payments && ctrl.booking.payments.length">Free Ride. There was no charge for this ride.</p>
      <table ng-show="ctrl.booking.payments && ctrl.booking.payments.length">
        <tr ng-repeat="item in ctrl.booking.payments">
          <td class="title">{{ item.description }}</td>
          <td class="value">{{ item.amount / 100 | currency:$:0  }}</td>
        </tr>
        <tr class="totalRow">
          <td class="title total">total</td>
          <td class="value">{{ ctrl.booking.total / 100 | currency:$:0 }}</td>
        </tr>
      </table>
    </div>
    <div class="padding">
      <button menu-toggle="right" class="button button-block button-dark">Home</button>
      <em>Additional charges may be added if tickets or damage is found</em>
    </div>
<!--     <div class="points-info tableContainer">
      <page-title>points</page-title>
      <table>
        <tr ng-repeat="point in active.bookings.points">
          <td class="title" ng-bind="point.title"></td>
          <td class="value" ng-bind="point.ammount"></td>
        </tr>
        <tr class="totalRow">
          <td class="title total">total</td>
          <td class="value" ng-bind="active.bookings.totalPoints"></td>
        </tr>
      </table>
    </div>
 -->
  </ion-content>
</ion-view>
