<ion-view hide-back-button="true">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">
      <div class="lead-logo header">
        <ng-include class="logo-image" src="'/img/waivecar-mark2.svg'" />
      </div>
    </page-title>
  </ion-nav-title>
  <ion-content scroll="true" padding="false" class="ion-content--center dark-bg start-ride">
    <div  class="row row-center">
      <div class="col col-center">
        <div>
          <h3>START RIDE</h3>
          <div>
            <div class="info-header">
              <div class="info-header-item">
                <ng-include class="battery" src="'/img/battery.svg'"></ng-include>
                {{ ctrl.data.cars.charge | number:0 }} %
              </div>
              <div class="info-header-item">
                <ng-include src="'/img/clock-icon.svg'"></ng-include>
                {{ ctrl.timeLeft }}
              </div>
            </div>
            <p>{{ ctrl.data.cars.license }} is almost ready.</p>
            Document any existing issues by taking the following photos before starting your ride
            <div class="text-center">
              <div>
                <div class="start-ride-holder">
                  <img src="https://waivecar.com/images/cars/ioniq_front.jpg" class="sample-image"></img>
                  <button 
                    ng-click="ctrl.addPicture('beginFront')" 
                    ng-style="ctrl.pictures.beginFront.style" 
                    class="button side-image">
                  </button>
                </div>
                Front 
              </div>
              <div>
                <div class="start-ride-holder">
                <img src="https://waivecar.com/images/cars/ioniq_driver.jpg" class="sample-image"></img>
                <button 
                  ng-click="ctrl.addPicture('beginLeft')" 
                  ng-style="ctrl.pictures.beginLeft.style" 
                  class="button side-image">
                </button> 
                </div>
                Left
              </div>
              <div> 
                <div class="start-ride-holder">
                  <img src="https://waivecar.com/images/cars/ioniq_back.jpg" class="sample-image"></img>
                  <button 
                    ng-click="ctrl.addPicture('beginRear')" 
                    ng-style="ctrl.pictures.beginRear.style" 
                    class="button side-image">
                  </button>
                </div>
                Rear
              </div>
              <div> 
                <div class="start-ride-holder">
                  <img src="https://waivecar.com/images/cars/ioniq_passenger.jpg" class="sample-image"></img>
                  <button 
                    ng-click="ctrl.addPicture('beginRight')" 
                    ng-style="ctrl.pictures.beginRight.style" 
                    class="button side-image">
                  </button>
                </div>
                Right
              </div>
              <div>
                Any other damage? Is the car dirty or messy Put pictures here.
                <div>
                  <button 
                    ng-click="ctrl.addPicture('beginOther')" 
                    ng-style="ctrl.pictures.beginOther.style" 
                    class="button side-image">
                  </button>
                </div>
              </div>
            </div>
            <p>Last few things</p>
            <ul class="list-unstyled text-left bold-list">
              <li>
                <p class="pull-left">Check your mirrors</p>
                <label class="pull-right">
                  <span class="check">
                    <ng-include src="'/img/check-icon.svg'" />
                  </span>
                </label>
              </li>
              <li>
                <p class="pull-left">Take note of your charge level</p>
                <label class="pull-right">
                  <span class="check">
                    <ng-include src="'/img/check-icon.svg'" />
                  </span>
                </label>
              </li>
            </ul>
            <div ng-if="ctrl.dirty || ctrl.intDamage || ctrl.extDamage">
              <button type="button" class="button button-block button-balanced"
                ng-disabled="!(ctrl.data.bookings.status === 'started' || ctrl.data.bookings.status === 'ready')"
                ng-click="ctrl.start()">Continue</button>
              <p>You can fill in damage details on the next screen.</p>
            </div>
            <div ng-if="!(ctrl.dirty || ctrl.intDamage || ctrl.extDamage)">
              <button type="button" class="button button-block button-balanced"
                ng-disabled="!(ctrl.data.bookings.status === 'started' || ctrl.data.bookings.status === 'ready')"
                ng-click="ctrl.start()">Start Ride</button>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
