<div class="list">

  <label class="item item-input">
    <span class="input-label">Card Number</span>
    <input type="password" name="number" ng-model="card.card.number" required autofocus placeholder="#### #### #### ####" payments-validate="card" payments-format="card" payments-type-model="type" />
  </label>

  <label class="item item-input">
    <span class="input-label">Name on Card</span>
    <input type="text" name="name" ng-model="card.card.name" required placeholder="Adrian Salazar" />
  </label>

  <label class="item item-input">
    <span class="input-label">Expiration Date</span>
    <input type="text" name="expiry" ng-model="card.card.expiry" required placeholder="05/2020" payments-validate="expiry" payments-format="expiry" />
  </label>

  <label class="item item-input">
    <span class="input-label">CVV</span>
    <input type="password" name="cvc" ng-model="card.card.cvc" required placeholder="###" payments-validate="cvc" payments-format="cvc" payments-type-model="type" />
  </label>

  <div class="errors">
    <div ng-messages="form.number.$error" ng-if="form.$submitted">
      <div ng-message="required">Credit Card number is required</div>
      <div ng-message="card">Credit Card number is invalid</div>
    </div>
    <div ng-messages="form.name.$error" ng-if="form.$submitted">
      <div ng-message="required">Card Holder Name is required</div>
    </div>
    <div ng-messages="form.expiry.$error" ng-if="form.$submitted">
      <div ng-message="required">Expiry Date is required</div>
      <div ng-message="expiry">Expiry Date is invalid</div>
    </div>
    <div ng-messages="form.cvc.$error" ng-if="form.$submitted">
      <div ng-message="required">CVC is required</div>
      <div ng-message="cvc">CVC is invalid</div>
    </div>
  </div>

</div>
