<ion-view>

  <ion-nav-title>
    <page-title class="dark-bg">Payment method</page-title>
  </ion-nav-title>

  <ion-content padding="true" class="ion-content--center dark-bg">

    <p>
      Don't worry, the majority of rides are free!
      <br> However, <a href="https://lb.waivecar.com/faq#fees">fees could apply in some cases</a>.
    </p>

    <form ng-submit="save(form)" name="form" id="form" novalidate>
      <div ng-include="'./templates/credit-cards/_form.html'"></div>
    </form>

    <p class="padding-top">By adding a credit card you are agreeing with our <a href="https://lb.waivecar.com/terms.html">terms of services</a> and <a href="https://lb.waivecar.com/faq#fees">Fees Guidelines</a></p>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="submit" form="form" class="button button-balanced">Update</button>
    </div>
  </ion-footer-bar>

</ion-view>
