<ion-view hide-nav-bar="true" ng-controller="CreditCardsController">

  <ion-nav-title>
    <page-title class="dark-bg">Credit Cards</page-title>
  </ion-nav-title>

  <ion-content padding="true" class="ion-content--center dark-bg">

    <div class="alert alert-info" ng-if="!active.users.creditCards.length">
      You don't have any credit cards stored.
      <br>

      <button type="button" class="button button-block button-balanced" ui-sref="credit-cards-new">Create one?</button>
    </div>

    <ion-list show-delete="true" show-reorder="true" can-swipe="true">
      <ion-item ng-repeat="card in active.users.creditCards" class="item-thumbnail-left" ng-controller="CreditCardController">
        <img />
        <h2>{{ card.last4Digits }}</h2>
        <p>{{ card.expiry }}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="removeCreditCard()">
        </ion-delete-button>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" go-back>Cancel</button>
    </div>
  </ion-footer-bar>

</ion-view>
