<div class="main">
  <h3>Hello {{ name }},</h3>
  <p>
    ${{ amount }} from your charge for {{ description }} on {{ date }} is now refunded. If you do not see this reflected in your account within 3 business days, please reach out to us. Thanks for using Waive!
  </p>
  <p>
    Visit <a href="https://waive.com">https://waive.com</a> to access your account.
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>
</div>
