<div class="main"><h3>Hi {{ name }}.</h3>
  <p>
   Thanks for signing up for WaivePark. We're excited you chose to join us in building the first network of free community car parking!
  </p>
  <p>
   We have signs for you to put on the space and will help guide you through how the process works.  You can either come by our headquarters
   at 2102 Pico in Santa Monica or wait for one of our staff members to reach out to you in a few days.  
  </p>
  <p>
    This program is still in its early phases and we'd love feedback and comments on it. Let's build the future together.
  </p>

  <p>
    With Love!
    Waive
  </p>
</div>
