<ion-modal-view class="simple-modal">
  <ion-content scroll="false" padding="true" class="ion-content--center dark-bg">
    <div class="modal-container">
      <div class="modal-header">
        <ng-include src="'/img/waivecar-mark.svg'" class="waivecar-mark"></ng-include>
        <p class="text-uppercase modal-title">{{title}}</p>
      </div>
      <div class="modal-content">
        <p>{{message}}</p>
      </div>
      <div class="modal-actions">
        <button ng-show="::action"
          class="button button-block"
          ng-click="action.handler()"
          ng-class="action.className">
          {{action.text}}
        </button>
        <button ng-hide="::action" type="button" class="button button-balanced button-block" ng-click="close()">Ok</button>
      </div>
    </div>
  </ion-content>

</ion-modal-view>
