<ion-view view-title="Map" ng-controller="VehiclesController">
  <ion-content>
    <div class="map-container">
      <map id="map" zoom="15" >
        <nearby-fleet></nearby-fleet>
        <device-location></device-location>
        <route-to-nearest-car></route-to-nearest-car>
        <div ng-controller="RouteTimeController as route">
          <map-info></map-info>
        </div>
        <div ng-controller="RouteDurationController as duration">
          <map-info></map-info>
        </div>
      </map>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <ion-item class="item item-button-right" collection-repeat="vehicle in data.vehicles track by vehicle.id">
          {{ vehicle.year }}
          {{ vehicle.make }}
          {{ vehicle.model }}
          <a class="button button-positive" ui-sref="app.vehicles-show({ id: vehicle.id })">View</a>
          </ion-item>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
