<ion-pane class="bookings-component" ng-controller="BookingController as booking">
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Booking Details?? View not designed</h1>
    <div class="buttons">
      <a ui-sref="search" class="button button-icon icon ion-close"></a>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <p class="text-center">
      Some screen that allows user to provide/confirm their details?
    </p>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced" ng-click="booking.updateBooking()">Confirm Details</button>
  </div>
</ion-pane>