<ion-pane class="bookings-component" ng-controller="BookingController as booking">
  <header-bar type="nav" on-button-click="showNav()">Booking Details?? View not designed</header-bar>
  <ion-content scroll="false" class="has-header">
    <p class="text-center">
      Some screen that allows user to provide/confirm their details?
    </p>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced" ng-click="booking.updateBooking()">Confirm Details</button>
  </div>
</ion-pane>