<ion-pane class="bookings-component waiveCarContainer" ng-controller="BookingController as booking">
  <ion-header-bar class="bar bar-header bar-light">
    <div class="header-text">
      <h1 class="header-title">Get to your WaiveCar</h1>
    </div>
    <button class="button button-right" ng-click="showNav()">
      <img src="img/menu.svg" >
    </button>
  </ion-header-bar>
  <ion-content scroll="false"  class="has-header has-footer-bar">
  <div class="map-container has-info-footer has-big-info-footer">
    <map id="map" zoom="15" >
      <device-location mock-walking></device-location>
      <destiny-location  get-initial-destiny="booking.getSelectedCarDestiny()"></destiny-location>
      <route-to-car></route-to-car>
    </map>
  </div>
  <div class="vehicle-summary-container  info-footer big-info-footer">
    <div class="has-footer-information">
      <car-information >
      </car-information>
      
    </div>
    <div class="footer-information">
      <p>
        <time-left timer-name="getToYourWaiveCar" get-duration="booking.getTimerDuration()"></time-left> to get to your WaiveCar
      </p>
    </div>
    
  </div>
  </ion-content>
  <div class="bar bar-footer">
    <div class="footer-buttons">
      <button class="button button-dark" ng-click="details.getDirectionsClick()">Get Directions</button><button class="button button-assertive" ng-click="booking.cancelClick()">Cancel</button>
    </div>
  </div>
  <overlay-dialog 
    title="you're in reach" 
    subtitle="Now you can connect to your WaiveCar!" 
    button-text="ok,take me there"
    set-display-function="booking.dialogDisplay(fn)"
    on-button-click="booking.dialogClick()"
  >
  </overlay-dialog>
</ion-pane>
