<ion-pane class="bookings-component" ng-controller="BookingController as booking">
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Get to your WaiveCar</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-navicon" ng-click="showNav()"></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
   <div class="map-container map-container-medium">
    <map id="map" zoom="15" >
      <device-location></device-location>
      <destiny-location  get-initial-destiny="booking.getSelectedCarDestiny()"></destiny-location>
      <route-to-car></route-to-car>
    </map>
  </div>
  <div class="vehicle-summary-container">
    <car-information></car-information>
    <time-to-get-to-car></time-to-get-to-car>
  </div>
  </ion-content>
  <div class="bar bar-footer">
    <div class="footer-buttons">
      <button class="button button-balanced" ng-click="details.getDirectionsClick()">Get Directions</button><button class="button button-assertive" ng-click="details.cancelClick()">Cancel</button>
    </div>
  </div>
</ion-pane>
