.map-wrapper, .map-container {
  min-height: 200px;
  height   : 100%;
  left     : 0;
  position : absolute;
  top      : 0;
  width    : 100%;
}

.map-dynamic {
  min-height : 600px;
  .map-wrapper {
    min-height : 600px;
  }
}

.map-dynamic {
  min-height : 300px;
  .map-wrapper {
    min-height : 600px;
  }
}

.map-wrapper {
  .col-xs-12 & {
    position   : relative;
    left       : auto;
    right      : auto;
  }
}

.map-placeholder {
  background-color : $gray-lighter;
  padding-top      : 30%;
}
