.map-wrapper, .map-container {
  height   : 100%;
  left     : 0;
  position : absolute;
  top      : 0;
  width    : 100%;
}

.map-wrapper {
  .col-xs-12 & {
    position   : relative;
    left       : auto;
    right      : auto;
    min-height : 600px;
  }
}
