<ion-pane  class="info-window">
    <ion-content scroll="false">
        <div class="container">
            <div class="top">
                <img src="img/waivecar-mark2.svg" class="waiveCar-icon"></img>
                <p class="highlight">End Ride</p>
            </div>
            <div class="middle middle-small">
                <p>Leave your Waivecar charging.</p>
                <p>Be nice, keep cars charged and ready for the next person.</p>
            </div>
            <div class="bottom bottom-big">
                <div class="line-3">
                    <div class="button button-balanced button-padded">
                        <a ui-sref="cars" >I'm charging end ride</a>
                    </div>
                </div>
                <div class="line-3">
                    <a ui-sref="cars"  class="button button-balanced button-padded">View charging stations</a>
                </div>
                <div class="line-3">
                    <a class="subtle-highlight">end ride here</a>
                </div>  
            </div>
        </div>
    </ion-content>
</ion-pane>
