<div class="main"><h3>Hello {{name}},</h3>
  <p>We have received your signup for WaiveWork! You should hear something back from us in about two business days. Please don't hesitate to reach out to 
  Frank, the director of WaiveWork with any questions you may have by clicking <a href="mailto:frank@waive.car">here</a>.
  </p>
  <p>
    Thanks,<br>
    Waive
  </p>
</div>
