<div class="main"><h3>Hello {{name}},</h3>
  <p>We have received your sign-up request for WaiveWork! You should be getting an email back from us in about 2 business days. If you don't hear back from us by then (or have any additional questions), please shoot us an email at <a href="mailto:support@waive.car">support@waive.car</a>.
  </p>
  <p>
    Talk soon!<br>
    Waive Team
  </p>
</div>
