.overlay-dialog{
  z-index: 2000;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  color:#FFF;
  background-color: rgba(0,0,0,0.96);
  position: absolute;
  top: 0;
  left: 0;
  .waiveCar-icon{
    margin-left: auto;
    margin-right: auto;
    height: 19%;
    margin-bottom:4%;

  }
  .container{
    height: 26.23%;
  }
  .button-padded{
    margin-top:4%;
    height: 33.14%;
    span,a{
      font-size: 3vh;
    }
  }

}
.splash-screen{
  vertical-align: middle;
  text-align: center;
  .logo{
    width: 80%;
    position:absolute;
    top:0;
    bottom:0;
    left: 0;  
    right: 0;  
    margin: auto;
  }
}
.step-by-step{
  margin-top: 1rem;
  svg{
    height: 0.5rem;
  }
  line{
    stroke-width:0.5rem;
    stroke: $gray;
    &.passed{
      stroke: $green;
    }
   
    
  }
}
.buttonsContainer{
  margin: 0 auto;
  text-align: center;
  a{
    margin: 0 auto;
  }
}
.strike{
  line{
    stroke: $green;
    stroke-width:0.5rem;
  }
  height: 0.5rem;
  width: 10rem;
  display: block;
  margin: 0 auto;
}
.lineOnTheSides{
  svg{
    display: inline-block;
    height: 0.5rem;
    
      line{
        stroke: $gray;
        stroke-width:0.5rem;
      }
    
  }
  .content{
    display: inline-block;
    width: 5%;
  }
}
.bottomToast{
  z-index: 500;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(190,190,190,0.6);
  ul{
    background-color: #FFF;
    width: 95%;
    border-radius: .5em;
    li{
      border-bottom: 1px solid;
    }
    li:last-child{
      border-bottom: 0px;
    }
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .contentWrapper{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}