<h3>Hello {{ name }}.</h3>
<p>
  A request to reset your password for your {{ service }} account was requested.
</p>
<p style="text-align:center">
  Your Token
  <h3>{{ token }}</h3>
</p>
<p>
  <strong>Don't recognize this activity?</strong><br>
  If you did not submit a request for a password reset, please ignore this email.
</p>
<p>
  Best regards,<br>
  The {{ service }} Team
</p>
