<!--
  Port this screen to the ones already layouted
-->
<ion-pane class="credit-cards-component" ng-controller="LicensesController as licensesCtrl">
  <ion-header-bar class="bar bar-header bar-light">
     <div class="header-text">
        <h1 class="header-title">Driver's License</h1>
    </div>
    <button class="button button-right" ng-click="showNav()">
      <img src="img/menu.svg" >
    </button>
  </ion-header-bar>
  <ion-content scroll="false">
    <ion-list show-delete="true" show-reorder="true" can-swipe="true">
      <ion-item ng-repeat="license in licensesCtrl.active.users.licenses" class="item-thumbnail-left" ng-controller="LicenseController as licenseCtrl">
        <img />
        <h2>{{ license.id }}</h2>
        <p>{{ license.expiry }}</p>
        <ion-delete-button class="ion-minus-circled" ng-click="licenseCtrl.remove()">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced" ui-sref="cars">Back</button>
  </div>
</ion-pane>