@import '~styles/variables';

#ui-editor {
  display           : -webkit-box;
  display           : -moz-box;
  display           : -ms-flexbox;
  display           : -moz-flex;
  display           : -webkit-flex;
  display           : flex;
  -webkit-flex-flow : row wrap;
  flex-flow         : row wrap;
  min-height        : 100vh;

  .ui-content {
    flex : 1;
  }

  $toolbar-background : #fefefe;
  $toolbar-border     : #f3f3f3;
  $toolbar-color      : #363636;
  $toolbar-icon-color : #a7a7a7;

  .ui-toolbar {
    background  : $toolbar-background;
    border-left : 1px solid #f0f0f0;
    color       : $toolbar-color;
    flex-basis  : 300px;
    text-shadow : 1px 1px 0 #fff;
  }

  .ui-toolbar-title {
    border-bottom : 1px solid $toolbar-border;
    font-size     : .8rem;
    font-weight   : 500;
    padding       : 6px 12px;
  }

  .ui-component-list {
    margin  : 0;
    padding : 0;
  }

  .ui-component {
    border-bottom : 1px dashed $toolbar-border;
    font-size     : .8rem;
    list-style    : none;
    height        : 43px;
    line-height   : 43px;
    i {
      color          : $toolbar-icon-color;
      font-size      : 1.1rem;
      text-align     : center;
      vertical-align : middle;
    }
  }

  .ui-component-item {
    cursor     : move;
    padding    : 0;
    text-align : left;
    .material-icons {
      color : $toolbar-icon-color;
      width : 35px;
    }
  }

  .ui-view-settings {
    .form-group {
      border-bottom : 1px solid $toolbar-border;
      box-sizing    : border-box;
      margin-bottom : 0;
      padding       : 0;
      width         : 299px;
    }

    label {
      border-right : 1px solid $toolbar-border;
      font-size    : .8rem;
      //font-weight  : 500;
      margin       : 0;
      padding      : 6px 0;
      width        : 75px;
    }

    input, select {
      background  : none;
      border      : none;
      color       : $toolbar-color;
      font-size   : .8rem;
      margin-left : 10px;
      padding     : 0;
      width       : 184px;
    }

    .Select {
      width : 100px !important;
      .Select-control {
        border : none;
      }
    }
  }

  .ui-toolbox-actions {
    text-align : center;
  }

  .ui-action-btn {
    background     : none;
    border         : none;
    border-bottom  : 1px dashed $toolbar-border;
    border-right   : 1px dashed $toolbar-border;
    color          : #767676;
    display        : inline-block;
    font-size      : .8rem;
    font-weight    : 500;
    padding        : 12px 0;
    text-transform : uppercase;
    width          : 33.33%;
    &:hover {
      background : #f6f6f6;
      color      : #363636;
    }
  }

  .ui-toolbar-view-link {
    border-bottom : 1px dashed $toolbar-border;
    color         : #767676;
    display       : block;
    font-size     : .9rem;
    font-weight   : 500;
    padding       : 12px 0;
    text-align    : center;
    &:hover {
      background      : #f6f6f6;
      color           : #262626;
      text-decoration : none;
    }
  }
}