@import '~styles/variables';
@import 'animations';

// #editor {
//   .vertical-align {
//     align-items: center;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     > div {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//   }
//   .view-dropzone {
//     text-align     : center;
//     vertical-align : middle;
//     visibility     : hidden;
//     .material-icons {
//       color : $gray-lighter;
//     }
//     h6 {
//      color : $gray-lighter;
//     }
//     &.view-dropzone-left {
//      // min-height : 300px;
//     }
//     &.view-dropzone-right {
//       //min-height : 300px;
//     }
//     &.view-dropzone-top,
//     &.view-dropzone-bottom {
//       //height : 30px;
//     }
//   }
//   .ui-content {
//     padding : 10px;
//     .view-dropzone {
//     }
//     .view-container {
//       > .view-dropzone {
//         margin          : 20px;
//         border          : 3px dashed $gray;
//         border-radius   : 6px;
//         visibility      : visible;
//         height          : 600px;
//         align-items     : center;
//         display         : flex;
//         align-items     : center;
//         justify-content : center;
//         background      : $gray-lightest url('/images/editor/arrow-component-list.svg') center right no-repeat;
//         background-size : 20%;
//         .material-icons {
//           height         : 100px;
//           font-size      : 100px;
//           color          : $gray-lighter;
//           pointer-events : none;
//         }
//         h6 {
//          color          : $gray;
//          pointer-events : none;
//         }
//       }
//       &.is-active {
//         .view-component-container {
//           .view-component {
//             border    : 2px dashed $gray-light;
//             animation : wiggle 0.1s linear 0s infinite alternate;
//             width     : 94%;
//           }
//           .vertical-dropzone {
//             background  : $gray-lightest;
//             display     : inline-block;
//             width       : 2%;
//             min-height  : 300px;
//           }
//           .horizontal-dropzone {
//             display : block;
//             width   : 100%;
//             height  : 30px;
//           }
//           .view-dropzone {
//             visibility : visible;
//             background : $gray-lightest;
//           }
//         }
//       }
//       &.is-over {
//         .view-component-container {
//           .view-component {
//           }
//           .view-dropzone {
//           }
//         }
//       }
//     }
//     .view-component-container {
//       .vertical-dropzone {
//         width : 0;
//         height : 0;
//         display : none;
//       }
//       .horizontal-dropzone {
//         width : 0;
//         height : 0;
//         display : none;
//       }
//       .view-component {
//         margin     : 0 auto;
//         border     : 1px solid $gray-lighter;
//         min-height : 200px;
//         .view-component-content {
//           padding    : 10px;
//         }
//         .view-component-header {
//           width         : 100%;
//           height        : 30px;
//           padding       : 2px;
//           background    : $gray-lightest;
//           border-bottom : 1px solid $gray-lighter;
//           .view-component-icon {
//             display  : inline-block;
//             width    : 24px;
//             height   : 24px;
//             vertical-align: middle;
//             opacity: 0.3;
//             border-radius: 100%;
//             background: $gray;
//             color: #FFF;
//             padding: 3px;
//             .material-icons {
//               line-height: 18px;
//               font-size: 18px;
//             }

//           }
//           .view-options {
//             position : absolute;
//             top      : 3px;
//             right    : 18px;
//             width    : 24px;
//             height   : 24px;
//             vertical-align: middle;
//             .view-options-menu {
//               width    : 24px;
//               height   : 24px;
//               .btn-icon {
//                 width    : 24px;
//                 height   : 24px;
//                 .material-icons {
//                   line-height: 24px;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }


.ui-content {
  padding : 20px;
  .view-container {
    > .view-dropzone {
      text-align: center;
      vertical-align: middle;
      margin          : 20px;
      border          : 3px dashed $gray;
      border-radius   : 6px;
      height          : 600px;
      align-items     : center;
      display         : flex;
      align-items     : center;
      justify-content : center;
      background      : $gray-lightest url('/images/editor/arrow-component-list.svg') center right no-repeat;
      background-size : 20%;
      .material-icons {
        height         : 100px;
        font-size      : 100px;
        color          : $gray-lighter;
        pointer-events : none;
      }
      h6 {
       color          : $gray;
       pointer-events : none;
      }
    }
    .view-component-container {
      .view-dropzone {
        text-align: center;
        vertical-align: middle;
        visibility: hidden;
        position: absolute;
        z-index: 1000;
        > .dropzone-separator {
          visibility: hidden;
          position: absolute;
          border : 1px solid $brand-primary;
        }
        &.view-dropzone-top {
          height : 20px;
          top: -10px;
          left : 0;
          right: 0;
          > .dropzone-separator {
            top : 8px;
            left : 0;
            right : 0;
          }
        }
        &.view-dropzone-right {
          width: 20px;
          top: 0;
          right: -10px;
          bottom: 0;
          > .dropzone-separator {
            top    : 0;
            bottom : 0;
            left : 8px;
          }
        }
        &.view-dropzone-bottom {
          height : 20px;
          bottom: -10px;
          left : 0;
          right: 0;
          > .dropzone-separator {
            top : 8px;
            left : 0;
            right : 0;
          }
        }
        &.view-dropzone-left {
          width: 20px;
          top: 0;
          left: -10px;
          bottom: 0;
          > .dropzone-separator {
            top    : 0;
            bottom : 0;
            left : 8px;
          }
        }
        &.is-active {
          visibility: visible;
          &.is-over {
            background : rgba(0,0,0,.0125);
            > .dropzone-separator {
              visibility: visible;
            }
          }
        }
      }
      .view-component-header {
        width         : 100%;
        height        : 33px;
        padding       : 2px;
        background    : $gray-lightest;
        border-bottom : 1px solid $gray-lighter;
        border-top    : 3px solid $gray-lighter;
        .view-component-icon {
          display  : inline-block;
          width    : 24px;
          height   : 24px;
          vertical-align: middle;
          opacity: 0.3;
          border-radius: 100%;
          background: $gray;
          color: #FFF;
          padding: 3px;
          .material-icons {
            line-height: 18px;
            font-size: 18px;
          }
        }
        .options-menu {
          display  : inline-block;
          width    : 24px;
          height   : 24px;
          .btn-icon {
            width    : 24px;
            height   : 24px;
            .material-icons {
              line-height: 24px;
            }
          }
        }
      }
      .view-options {
        background : #f8f8f8;
        font-size  : 0.8rem;
        padding    : 8px;
        label {
          color : $gray;
        }
        input {
          padding : 2px;
          font-size : 0.8rem;
        }
        .form-actions {
          text-align : right;
          .btn {
            width : 60px;
          }
        }
      }
    }
  }
}

        // .view-options {
        //   position : absolute;
        //   top      : 3px;
        //   right    : 18px;
        //   width    : 24px;
        //   height   : 24px;
        //   vertical-align: middle;
