#redux {
  padding : 20px;

  .form {

  }

  .form-group {
    margin : 8px 0;
  }

  .form-input {
    border        : 1px solid #cecece;
    border-radius : 5px;
    padding       : 6px 8px;
  }

  .form-label {
    display : inline-block;
    width   : 100px;
  }

  // table {
  //   border-collapse : collapse;
  //   font-size       : 14px;
  //   width           : 100%;
  //   thead {
  //     background : #363636;
  //   }
  //   th, td {
  //     border     : 1px solid #dee0df;
  //     padding    : 10px;
  //     text-align : left;
  //   }
  //   th {
  //     border      : 1px solid #292929;
  //     color       : #e6e6e6;
  //     font-size   : 15px;
  //     font-weight : 600;
  //   }
  //   tr:nth-child(even) {
  //     background-color : #fff;
  //   }
  // }
}