// colors
$white: #fff;
$black: #000;

$brand-alternate: #e37222;
$brand-secondary: #006699;
$brand-secondary-dark: #0b5172;

$brand-facebook: #3b5998;
$brand-twitter: #4099FF;
$brand-google: #427fed;
$brand-github: #444;

// dimensions
$footer-height: 30px;

$form-border: #DADADA;
$form-fill: #F7F7F7;
