<ion-pane>
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">Find WaiveCars</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-navicon" ng-click="showNav()"></button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="map-container">
      <map id="map" zoom="15" >
        <nearby-fleet></nearby-fleet>
        <device-location></device-location>
        <route-to-nearest-car></route-to-nearest-car>
        <div ng-controller="RouteTimeController as route">
          <map-info></map-info>
        </div>
        <div ng-controller="RouteDurationController as duration">
          <map-info></map-info>
        </div>
      </map>
    </div>
    <p class="text-center">
      <a ui-sref="bookings-new" class="button button-icon icon ion-ios-circle-filled"></a>
    </p>
  </ion-content>
</ion-pane>
