@import '~styles/variables';

body {
  background : $app-color-white;
}

#app {
  display           : -webkit-box;
  display           : -moz-box;
  display           : -ms-flexbox;
  display           : -moz-flex;
  display           : -webkit-flex;
  display           : flex;
  -webkit-flex-flow : row wrap;
  flex-flow         : row wrap;
  min-height        : 100vh;
  padding-top       : 52px;

  .container, .container-fluid, .containebento-form {
    padding : 24px 6px;
  }

  .container-fluid, .containebento-form {
    margin : 0 auto;
  }

  .containebento-form {
    min-width : 320px;
    max-width : 560px;
    width     : 100%;
    form {
      margin-top : 24px;
    }
    .form-actions {
      margin-top : 48px;
      text-align : center;
    }
  }

  // ### App Layout

  #content {
    background : #fafafa;
    display    : flex;
    flex       : 1;
  }
  #tickets-list {
    padding : 18px;

    tr.closed {
      opacity: 0.5;
    }
    td.date {
      white-space: nowrap;
      font-size: 0.85rem;
    }
  }
}

.notes .note {
  padding: 20px 0;
  border-bottom: 1px #eee solid;
  position: relative;

  em {
    display: block;
    font-size: 80%;
  }
  .remove-note {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.text-center {
  text-align: center;
}
.no-wrap {
  white-space: nowrap;
}

#site { 
  .faq {
    ul {
      margin-left: 1.5em;
    }
    h2 {
      margin-top: 2em;
    }
    h2 + h3 {
      margin-top: 1em;
    }
    h3 {
      margin-bottom: 0.35em;
    }
    h4 {
      font-size: 1rem;
    }
    p, h3 { 
      line-height: 1.5em;
    }
    blockquote {
      margin: 1em;
      color: #555;
      font-weight: bold;
      font-style: italic;
    }
  }
}
