@import '~styles/variables';

body {
  background : $app-color-white;
}

#app {
  display           : -webkit-box;
  display           : -moz-box;
  display           : -ms-flexbox;
  display           : -moz-flex;
  display           : -webkit-flex;
  display           : flex;
  -webkit-flex-flow : row wrap;
  flex-flow         : row wrap;
  min-height        : 100vh;
  padding-top       : 52px;

  .container, .container-fluid, .container-form {
    padding : 24px;
  }

  .container-fluid, .container-form {
    margin : 0 auto;
  }

  .container-form {
    min-width : 320px;
    max-width : 560px;
    width     : 100%;
    form {
      margin-top : 24px;
    }
    .form-actions {
      margin-top : 48px;
      text-align : center;
    }
  }

  // ### App Layout

  #content {
    background : #fafafa;
    display    : flex;
    flex       : 1;
  }
}
