#booking-view {
  small {
    display: block;
    margin-top: -0.2em;
  }

  .booking-status {
    > div {
      font-size : 1.3rem;
    }
  }

  .booking-actions {
    margin-top : 30px;
  }

  .booking-message {
    padding    : 50px;
    text-align : center;
  }

  .fee-list {
    width : 100%;
  }

  .fee-item-row {
    td {
      padding : 10px 0;
    }
  }

  .fee-item-btn {
    background    : #fff;
    border        : 1px solid #cecece;
    border-radius : 3px;
    margin        : 0 5px;
    width         : 25px;
  }

  .fee-actions {
    margin-top : 20px;
    text-align : center;
    p {
      color     : #767676;
      font-size : 0.9rem;
    }
  }

  .payment-item {
    margin-top : 5px;
  }

  .payment-total {
    border-top  : 1px solid #cecece;
    margin-top  : 10px;
    padding-top : 10px;
  }

  .ride-map {
    height   : 300px;
    position : relative;
    width    : 100%;
  }

  .timeline {
    .address {
      margin-top: 0.5rem;
      margin-bottom: -.25rem;
      display: block;
    }
    .time {
      font-family: monospace;
      width: 6rem;
      font-size: 0.8rem;
      display: inline-block;
    }
    .duration {
      font-family: monospace;
      width: 5rem;
      font-size: 0.8rem;
      margin-left: 1rem;
      display: inline-block;
    }
  }

  .ride-meta {
    .ride-fee {
      font-size   : 1.8rem;
      font-weight : 500;
      margin-top  : 20px;
      text-align  : center;
    }
    .ride-date {
      border-top    : 1px solid #e6e6e6;
      border-bottom : 1px solid #e6e6e6;
      margin-top    : 20px;
      text-align    : center;
      padding       : 8px 0;
    }
    .ride-from, .ride-to {
      margin-top   : 20px;
      padding-left : 35px;
      position     : relative;
      .ride-time {
        font-size   : 1.18rem;
        font-weight : 400;
      }
      .ride-icon {
        left     : 5px;
        position : absolute;
        top      : 2px;
        width    : 20px;
      }
    }
  }
  .ride-car {
    position   : relative;
    text-align : center;
    img {
      height : auto;
      width  : 100%;
    }
    h3 {
      margin-top : 15px;
    }
    ul {
      list-style : none;
      margin     : 0;
      padding    : 0;
    }
    .ride-car-meta {
      margin-top : 35px;
    }
  }

  #userInfoWindow{
    display: none;
    .box{
      margin: 20px auto;
    }
    .box-content{
      border-bottom: none;
    }
  }
}
