.help {
  li {
    list-style: none
  }
}
.cars {
  .ride-map {
    height : 400px;
  }
  .box {
    max-width: 980px;
  }
  .list-group {
    min-width: 270px;
  }
  .loading-panel {
    position   : relative;
    min-height : 126.391px;
  }
  [data-react-toolbox="checkbox"] {
    margin: 0;
    :last-child {
      font-size : 1rem;
    }
  }
}

.damage-row {
  border-top: 1px solid #ccc;
}
.gallery-image {
  img {
    width: 100%;
  }
  .btn-container {
    position: relative;
    height: 0;
    top: 10px;
    left: 10px;
    overflow: visible;
  }
  .remove-image {
    position: relative;
    display: inline-block;
    background: white;
    height: 28px;
  }
  margin-bottom: 1rem;
}

.carname {
  margin-left: -13px;
  min-width: 4.5rem;
  display: inline-block;
}
.cartime {
  margin-top: 0.2rem;
  margin-right: -13px;
}

.hide {
  display: none;
}

.cars-show {
  .btn-primary-outline {
    border: 0.0625rem solid $brand-primary;
    line-height: .8rem;
    margin: .2rem 0;
  }
}
