#users, .profile {

  .form-group {
    .row {
      margin-right: 0;
    }
    input[type="checkbox"] {
      margin-right: 0.25rem;
    }
  }
  .profile-header {
    margin-top : 50px;

    $profile-image-size : 150px;

    .profile-image {
      height   : $profile-image-size;
      margin   : 0 auto;
      position : relative;
      width    : $profile-image-size;

      .profile-image-view {
        border-radius : 50%;
        height        : 100%;
        width         : 100%;
      }

      .profile-image-selector {
        background    : rgba(#000, .3);
        border-radius : 50%;
        display       : none;
        height        : 100%;
        left          : 0;
        position      : absolute;
        text-align    : center;
        top           : 0;
        width         : 100%;
        z-index       : 10;
        i {
          color      : #fff;
          font-size  : 3.2rem;
          margin-top : ($profile-image-size / 2) - 25px;
        }
      }

      &:hover {
        cursor : pointer;
        .profile-image-selector {
          display : block;
        }
      }
    }

    .profile-meta {
      text-align : center;
      .profile-name {
        font-size   : 1.65rem;
        font-weight : 300;
        margin-top  : 10px;
        span:last-child {
          display: block;
          color: #25C155;
          font-size: 1.0rem;
          font-weight: bold;
        }
      }
    }
  }

  .profile-table {
    width : 100%;

    th {
      font-size : .9rem;
      padding   : 5px 0;
    }

    td {
      font-size : .9rem;
      padding   : 5px 10px;
    }

    button {
      background : none;
      border     : none;
      i {
        color     : red;
        font-size : 1.1rem;
      }
      &.hide {
        display : none;
      }
    }
  }

  .profile-status-check {
    color      : green;
    text-align : center;
  }

  .verification,
  .license-verification,
  .license-upload {
    margin-top : 10px;
    text-align : center;
    button, input {
      border  : 1px solid #cecece;
      padding : 5px 10px;
    }
    input {
      border-right : none;
    }
  }

  .license-image {
    text-align : center;
    img {
      height    : auto;
      max-width : 320px;
      width     : 100%;
    }
  }

  .license-verification {
    margin-top : 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0;
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4rem;
      letter-spacing: 0;
    }
  }

  .btn-profile-submit {
    margin : 10px 0;
  }

  .r-btn {
    border        : none;
    border-radius : 3px;
    display       : block;
    font-weight   : 400;
    height        : 48px;
    line-height   : 48px;
    margin        : 10px auto;
    transition    : .2s all;
    text-align    : center;
    max-width     : 300px;
    width         : 100%;
    &:hover {
      text-decoration : none;
    }
  }

  .no-records {
    background    : #eee;
    border-radius : 5px;
    padding       : 10px;
    text-align    : center;
  }

  .help-text {
    color : #a7a7a7!important;
  }

  .btnRunLicense{
    position: relative;
    top: 7px;
    left: 45px;
  }
  .status {
    color: grey;
    font-size: 1rem;
    font-weight: 400;
    &.credit {
      color: green;
    }
    &.failed {
      color: #951D34;
    }
  }

}
