.profile {

  .profile-header {
    margin-top : 50px;

    $profile-image-size : 150px;

    .profile-image {
      height : $profile-image-size;
      margin : 0 auto;
      width  : $profile-image-size;
      > div {
        border-radius : 50%;
        height        : 100%;
        width         : 100%;
      }
    }

    .profile-meta {
      text-align : center;
      .profile-name {
        font-size   : 1.65rem;
        font-weight : 300;
        margin-top  : 10px;
      }
    }
  }

  .profile-box {
    margin    : 50px auto;
    max-width : 680px;

    h3 {
      font-size   : 1.45rem;
      font-weight : 300;
      margin-left : 10px;
      small {
        color       : #a6a6a6;
        font-size   : 65%;
        font-weight : 300;
        margin-left : 8px;
      }
    }

    h4 {
      border-bottom  : 1px solid #eee;
      font-size      : 1.2rem;
      font-weight    : 300;
      padding-bottom : 10px;
      small {
        color       : #a6a6a6;
        font-size   : 75%;
        font-weight : 300;
      }
    }
  }

  .profile-box-info {
    color      : #767676;
    font-size  : .82rem;
    margin-top : 30px;
  }

  .profile-box-content {
    background    : #fff;
    border-bottom : 3px solid #f0f0f0;
    padding       : 25px 40px;
  }

  .profile-box-spacer {
    height : 30px;
  }

  .profile-table {
    width : 100%;

    th {
      font-size : .9rem;
      padding   : 5px 0;
    }

    td {
      font-size : .9rem;
      padding   : 5px 10px;
    }

    button {
      background : none;
      border     : none;
      i {
        color     : red;
        font-size : 1.1rem;
      }
      &.hide {
        display : none;
      }
    }
  }

  .profile-status-check {
    color      : green;
    text-align : center;
  }

  .verification,
  .license-verification {
    margin-top : 10px;
    text-align : center;
    button, input {
      border  : 1px solid #cecece;
      padding : 5px 10px;
    }
    input {
      border-right : none;
    }
  }
  .license-verification {
    margin-top : 30px;
  }

  .btn-profile-submit {
    margin : 10px 0;
  }

  .r-btn {
    border        : none;
    border-radius : 3px;
    display       : block;
    font-weight   : 400;
    height        : 48px;
    line-height   : 48px;
    margin        : 10px auto;
    transition    : .2s all;
    text-align    : center;
    max-width     : 300px;
    width         : 100%;
    &:hover {
      text-decoration : none;
    }
  }

  .no-records {
    background    : #eee;
    border-radius : 5px;
    padding       : 10px;
    text-align    : center;
  }

  .help-text {
    color : #a7a7a7!important;
  }

}
