.rides {

  .table-rides {
    width : 100%;
    thead {
      th {
        color       : #565656;
        font-weight : 400;
        padding     : 8px;
      }
    }
    tbody {
      border-top : 1px solid #eee;
      td {
        padding : 8px;
        i {
          font-size   : 1.2rem;
          font-weight : 600;
          margin-top  : 6px;
          &.primary {
            color : #25C155;
          }
        }
        .undo {
          font-size   : 0.8rem;
          font-weight : 200;
          float: right;
          opacity: 0.5;
          :hover {
            opacity: 1;
          }
        }

      }
      .ride-row, .ride-details {
        font-weight : 300;
      }
      .ride-row {
        &.failed-row {
          background: rgba(149, 29, 52, 0.2);
          &:hover {
            background: rgba(149, 29, 52, 0.3);
            color: #000;
          }
          .status {
            color: #951D34;
          }
        }
        &:hover {
          background : #eee;
          cursor     : pointer;
          color      : #777;
        }
      }
      .ride-details {
        background    : #f6f6f6;
        border-top    : 1px solid #eee;
        border-bottom : 1px solid #eee;
        td {
          padding : 20px;
        }
        .ride-map {
          border : 1px solid #cecece;
          height : 320px;
        }
        .ride-meta {
          .ride-fee {
            font-size   : 1.8rem;
            font-weight : 500;
            margin-top  : 20px;
            text-align  : center;
            small {
              display: block;
              line-height: 1rem;
              font-size: 1rem;
            }
          }
          .ride-date {
            border-top    : 1px solid #e6e6e6;
            border-bottom : 1px solid #e6e6e6;
            margin-top    : 20px;
            text-align    : center;
            padding       : 8px 0;
          }
          .ride-from, .ride-to {
            margin-top   : 20px;
            padding-left : 35px;
            position     : relative;
            .ride-time {
              font-size   : 1.18rem;
              font-weight : 400;
            }
            .ride-icon {
              left     : 5px;
              position : absolute;
              top      : 2px;
              width    : 20px;
            }
          }
        }
        .ride-car {
          position   : relative;
          text-align : center;
          img {
            height : auto;
            width  : 100%;
          }
          h3 {
            margin-top : 15px;
          }
          ul {
            list-style : none;
            margin     : 0;
            padding    : 0;
          }
          .ride-car-meta {
            margin-top : 35px;
          }
        }
      }
    }
  }

}
