
// ### Variables

$avatar-size         : 100px;
$sidebar-width       : 250px;
$sidebar-link-height : 35px;
$sidebar-button-size : 33px;

// ### Sidebar

.sidebar-overlay {
  background : rgba(#262626, .12);
  display    : none;
  height     : 100%;
  left       : 0;
  position   : fixed;
  top        : 0;
  width      : 100%;
  z-index    : 998;
  &.show {
    display : block;
  }
  &:hover {
    cursor : pointer;
  }
}

#sidebar {
  background : #fff;
  box-shadow : 0 0 10px rgba(#000, .3);
  left       : -$sidebar-width;
  position   : fixed;
  height     : 100%;
  top        : 0;
  width      : $sidebar-width;
  z-index    : 999;
  transition : left .4s ease;

  .sidebar-wrapper {
    left       : 0;
    position   : absolute;
    overflow-y : scroll;
    top        : 0;
    width : 100%;
    height : 100%;
  }

  .btn-sidebar {
    background    : $brand-primary;
    border        : none;
    border-radius : 50%;
    box-shadow    : 0 0 5px rgba(#262626, .3);
    color         : #fff;
    height        : $sidebar-button-size;
    position      : absolute;
    right         : -47px;
    top           : 10px;
    width         : $sidebar-button-size;
    z-index       : 999;
    transition    : all .4s ease;
    i {
      font-size  : 1.25rem;
      margin-top : 5px;
    }
  }

  &.show {
    left       : 0;
    transition : left .4s ease;

    .btn-sidebar {
      box-shadow : none;
      right      : -($sidebar-button-size / 2);
      top        : 62px;
      transition : all .4s ease;
      i {
        font-size  : 1.65rem;
        margin-top : 4px;
      }
    }
  }

  .animated {
    animation-duration: .3s;
  }

  .sidebar-meta {
    border-bottom  : 1px solid #eee;
  }

  .sidebar-avatar {
    background    : $brand-primary;
    border-radius : 100%;
    box-sizing    : border-box;
    height        : $avatar-size;
    margin        : 24px auto 0;
    overflow      : hidden;
    padding       : 3px;
    width         : $avatar-size;

    .sidebar-avatar-img {
      border        : 2px solid #fff;
      border-radius : 100%;
      height        : 100%;
      width         : 100%;
    }
  }

  .sidebar-name {
    font-size  : 1.2rem;
    margin-top : 8px;
    text-align : center;
    small {
      display       : block;
      font-size     : .9rem;
      margin-bottom : -3px;
    }
    span {
      font-weight : 600;
    }
  }

  ul {
    margin  : 0;
    padding : 0;
    li {
      list-style : none;

      a {
        color        : #363636;
        font-size    : .9rem;
        font-weight  : 300;
        height       : $sidebar-link-height;
        line-height  : $sidebar-link-height;
        padding-left : 50px;
        position     : relative;
        width        : $sidebar-width;

        i {
          color      : #ccc;
          font-size  : 1.02rem;
          left       : 24px;
          position   : absolute;
          top        : 50%;
          margin-top : -.54rem;
        }

        &:hover, &.active {
          background : $brand-primary;
          color      : #fff;
          i {
            color : #fff;
          }
        }
      }

      &.has-parent {
        a {
          background   : rgba($brand-primary, .03);
          font-size    : 0.9rem;
          height       : $sidebar-link-height - 5;
          line-height  : $sidebar-link-height - 5;
          padding-left : 78px;
          i {
            left : 54px;
          }
          &:hover {
            background : rgba($brand-primary, .8);
          }
        }
      }
    }
  }

  .btn-account {
    background  : none;
    border      : none;
    color       : #a6a6a6;
    display     : block;
    font-size   : .9rem;
    font-weight : 300;
    margin      : 0 auto 10px;
    text-align  : center;
    i {
      float      : right;
      margin-top : -2px;
    }
  }

  .sidebar-account,
  .sidebar-nav,
  .sidebar-admin {
    padding-bottom : 15px;
    h5 {
      font-size   : 1.05rem;
      font-weight : 300;
      margin      : 0;
      padding     : 15px;
      small {
        color     : #bbb;
        font-size : 65%;
      }
    }
  }

  .sidebar-account {
    background    : #eee;
    border-bottom : 1px solid #e6e6e6;
    display       : none;
    &.show {
      display : block;
    }
  }

  .sidebar-admin {
    background    : #262626;
    border-bottom : 1px solid #000;
    h5 {
      color : #fcfcfc;
    }
    a {
      color : #fcfcfc;
    }
    i {
      color : #fff;
    }
  }
}
