.user-events {

  img { 
    width: 40%;
    padding-right: 3%;
  }
  .table-user-events {
    width : 100%;
    thead {
      th {
        color       : #565656;
        font-weight : 400;
        padding : 8px;
      }
    }
    tbody {
      border-top : 1px solid #eee;
      td {
        padding : 8px;
        min-width   : 75px;
        font-size   : 1rem;
        font-weight : 300;
        i {
          font-size   : 1.2rem;
          font-weight : 600;
          margin-top  : 6px;
          &.primary {
            color : #25C155;
          }
        }
      }
    }
  }

}
