<div class="main">
  <h3>Hello, {{ name }}</h3>
  <p>
    A request to reset your Waive account password was requested.
  </p>
  <p>
    Your verification token: <strong>{{ token.token }}</strong>
  </p>
  <p>
    Click <a href="{{ resetUrl }}?hash={{ token.hash }}">here</a> to reset your Waive password.
  </p>
  <p>
    <strong>Don't recognize this activity?</strong><br>
    If you did not submit a request for a password reset, please ignore this email.
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>
</div>
