<div class="main"><h3>Hello {{name}},</h3>
  <p>
    You have a payment of ${{amount}} for WaiveWork coming up in 48 hours. Please have your payment method prepared for this. 
  </p>
  <p>
    You can visit <a href="https://waivework.com">waivework.com</a> to make your payment in advance.
  </p> 
  <p>
    Thanks,<br>
    Waive
  </p>
</div>
