<div class="main"><h3>Hello {{name}},</h3>
  <p>
    You have a payment of ${{amount}} for WaiveWork coming up in 48 hours. Please have your payment method prepared for this. 
  </p>
  <p>  
    Additionally, if your contract is completed and you are not renewing, please make a dropoff appointment <a href="">here</a>.
  </p>
  <p>
  <p> Please don't hesitate to reach out to customer service with any questions you may have at <a href="mailto:support@waive.car">support@waive.car</a> or by calling <a href="tel:+1855waive55">1 (855) WAIVE-55</a>.
  </p> 
  <p>
    Thanks,<br>
    Waive
  </p>
</div>
