<ion-pane class="credit-cards-component" ng-controller="CreditCardController as cardCtrl">
  <ion-header-bar class="bar bar-header bar-light">
     <div class="header-text">
        <h1 class="header-title">Payment Details</h1>
    </div>
    <button class="button button-right" ng-click="showNav()">
      <img src="img/menu.svg" >
    </button>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="pre-data-collection-message">
    </div>
    <form ng-submit="cardCtrl.create()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="cardCtrl.forms.new.firstName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="cardCtrl.forms.new.lastName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Card Number</span>
          <input type="text" placeholder="XXXX-XXXX-XXXX-XXXX" ng-model="cardCtrl.forms.new.number">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">CVC</span>
          <input type="text" placeholder="CVC" ng-model="cardCtrl.forms.new.cvc">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Expiry Month</span>
          <input type="text" placeholder="Expiry Month" ng-model="cardCtrl.forms.new.exp_month">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Expiry Year</span>
          <input type="text" placeholder="Expiry Year" ng-model="cardCtrl.forms.new.exp_year">
        </label>
      </div>
      <button type="submit" class="button">Add Credit Card</button>
    </form>
    <div class="post-data-collection-message">
      <p>
        <small>TODO: Your credit card details are stored in Stripe disclaimer.</small>
      </p>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced" ui-sref="cars">Back</button>
  </div>
</ion-pane>