<ion-pane class="bookings-component waiveCarContainer" ng-controller="UserController as userCtrl">
  <ion-content  class="full-page  has-footer-bar" >
    <step-by-step current-step="4"></step-by-step>
    <h1 class="page-title">Payment method</h1>
    <p>Don't worry, the majority of rides are free!</p>
    <p>However, fees could apply in some cases.</p>
    <p style="text-decoration:underline">Check out fees Guidelines</p>
    <form >
      <label class="item item-input">
        <span class="input-label">License Number</span>
        <input type="text" >
      </label>
      <label class="item item-input">
        <span class="input-label">Card Number</span>
        <input type="password" >
      </label>
      <label class="item item-input">
        <span class="input-label">Name on Card</span>
        <input type="text" >
      </label>
      <label class="item item-input">
        <span class="input-label">Expire Date</span>
        <input type="text" >
      </label>
      <label class="item item-input">
        <span class="input-label">CVV</span>
        <input type="password" >
      </label>
    </form>
    <button class="button button-balanced button-padded" >Add card and finnish</button>

    <p>By adding a credit card you are agreeing with our <span style="text-decoration:underline">terms of services</span> and <span style="text-decoration:underline">Fees Guidelines</span></p>
  </ion-content>

</ion-pane>