<ion-pane class="nav-component waiveCarContainer" >
  <ion-header-bar class="bar bar-header">
    <div class="header-text">
        <h1 class="header-title">Find WaiveCars</h1>
    </div>
    <button class="button button-right" ng-click="hideNav()">
        <img src="img/close.svg" >
    </button>
  </ion-header-bar>
  <ion-content scroll="false">
  <div class="button-container">
      <div class="row">
        <div class="col col-center text-center">
          <a ui-sref="cars" ng-click="hideNav()" >
            <img src="img/find-cars.svg" alt="">
            <span class="button-icon-label">Find Cars</span>
          </a>
        </div>
        <div class="col col-center text-center">
          <a ui-sref="account" >
            <img src="img/account.svg" alt="">
            <span class="button-icon-label">Account</span>
          </a>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-center text-center">
          <a ui-sref="bookings" ng-click="hideNav()">
            <img src="img/past-rides.svg" alt="">
            <span class="button-icon-label">Past Rides</span>
          </a>
        </div>
        <div class="col col-center text-center">
          <a ui-sref="vision" ng-click="hideNav()">
            <img src="img/vision.svg" alt="">
            <span class="button-icon-label">Vision</span>
          </a>
        </div>
      </div>
      <div class="row row-bottom">
        <div class="col col-center text-center">
          <a ui-sref="contact" ng-click="hideNav()">
            <img src="img/contact.svg" alt="">
            <span class="button-icon-label">Contact</span>
          </a>
        </div>
        <div class="col col-center text-center">
          <a ui-sref="points" ng-click="hideNav()" >
            <img src="img/logout.svg" alt="">
            <span class="button-icon-label">logout</span>
          </a>
        </div>
      </div>
  </div>
  </ion-content>
</ion-pane>