<div class="main">
  <h3>Hello{{ name }},</h3>
  <p>
    Sorry, but we were unable to charge your card {{ message }}.
  </p>
  {{#if advanceCharge}}
    <p>
      To resolve any issues with payment methods, please visit our website at <a href="https://waivework.com">waivework.com</a>.
    </p>
  {{else if forOrganization}}
    <p>
      To resolve any issues with payment methods, please visit our website at <a href="https://lb.waivecar.com">lb.waivecar.com</a>.
    </p>
  {{else}}
    <p>
      Your vehicle may be immobilized if you are unable to clear this balance.
    </p>
    <h4>How to fix this issue</h4>
    <ol>
      <li> You can visit <a href="https://waivework.com">waivework.com</a> to update your payment information and retry your payment.</li>
    </ol>
  {{/if}}
  <p>
    Thanks for using Waive.
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>
</div>
