<div class="main"><h3>Hi {{ name }}.</h3>
  <p>
    {{ intro }}
  </p>
  <p>Remember, to drive with Waive you'll need:
    <ul>
      <li>A very clean driving record</li>
      <ii>A valid credit card</li>
    </ul>
  </p>
  <p>
    You signed up with facebook, so get the app and sign in and you should be good to go!
  </p>

  <p>
    Best regards,<br>
    Waive
  </p>
</div>
