<ion-view ng-controller="QuizController">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">Rules of the Road</page-title>
  </ion-nav-title>


  <ion-content padding="true" class="ion-content--center gray-bg">

  <iframe class='quiz' width="100%" height="{{ user.tested ? '100%' : '60%' }}" src="https://www.waivecar.com/faq"></iframe>

    <div class='quiz-content' ng-if='!user.tested'>
      <div ng-if="!showQuiz()">
        <h3>Please take some time to look this over. There will be an open-book quiz in 3 minutes.
          <span class='time-display'>
          {{ timeDisplay }}
          </span>
        </h3>
      </div>

      <div ng-if="showQuiz()" ng-include src="'/templates/quiz/quiz.html'"></div>
    </div>
  </ion-content>
</ion-view>
