<ion-view can-swipe-back="true" hide-back-button="false" class="sign-in-content" ng-controller="QuizController">

  <ion-nav-title class="sign-in-header">
    <ul class="progress-bar">
      <li class="active"></li>
      <li class="active"></li>
      <li class="active"></li>
      <li class="active"></li>
    </ul>
    <page-title class="dark-bg title-plain">Rules of the Road</page-title>
  </ion-nav-title>



  <ion-content scroll="true" padding="true" class="ion-content--center dark-bg">

    <h3><b>Most</b> of our users haven't ever paid anything to use WaiveCar.</h3>
    <p>We've made a guide to help make sure you are in the majority. Since some prefer to read and some prefer videos, we've made one of each.</p>

    <div class='group'>
      <h4>I prefer videos</h4>
      <button class="button button-balanced button-block" ui-sref="quiz-video">Show me a 3 minute video</button>
    </div>

    <div class='group'>
      <h4>I prefer reading</h4>
      <button class="button button-balanced button-block" ui-sref="quiz-faq">Show me the FAQ</button>
    </div>

  </ion-content>

</ion-view>