<ion-view hide-back-button="{{ isWizard }}" ng-controller="QuizController">
  <ion-nav-title>
    <page-title class="dark-bg title-plain"><span ng-if="isWizard">Step 6 of 6: </span>Rules of the Road</page-title>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content padding="true" class="ion-content--center gray-bg">
    <h3><b>Most</b> of our users haven't ever paid anything to use WaiveCar.</h3>
    <p>We've made a guide to help make sure you are in the majority. Since some prefer to read and some prefer videos, we've made one of each.</p>

    <div class='group'>
      <h4>I prefer videos</h4>
      <button class="button button-balanced button-block" ui-sref="quiz-video">Show me a 3 minute video</button>
    </div>

    <div class='group'>
      <h4>I prefer reading</h4>
      <button class="button button-balanced button-block" ui-sref="quiz-faq">Show me the FAQ</button>
    </p>
  </ion-content>
</ion-view>
