<ion-view ng-controller="QuizController">
  <ion-nav-title>
    <page-title class="dark-bg title-plain">Rules of the Road</page-title>
  </ion-nav-title>


  <ion-content padding="true" class="ion-content--center gray-bg">
  <iframe class='quiz' id='video-embed' width="{{ videoWidth }}" height="{{ videoHeight }}" src="https://www.youtube.com/embed/WAPlGKNJlQw?autoplay=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>

    <div class='quiz-content' ng-if='!user.tested'>
      <div ng-if="!showQuiz()">
        <h3>Thanks! When you're ready, please tap the play icon to start the video. We'd like to make sure you watch it before continuing.
        <span class='time-display'>
        {{ timeDisplay }}
        </span>
        </h3>
      </div>

      <div ng-if="showQuiz()" ng-include src="'/templates/quiz/quiz.html'"></div>
    </div>
  </ion-content>
</ion-view>
