<div class="header">
  <img src="https://s3.amazonaws.com/waivecar-assets/email-logo.png">
</div>
<div class="main">
  <h3>Hi, {{ name }}</h3>
  <p>
    All records and traces of your account and information has been removed from our system and all of our backups.
  </p>
  <p>
    If you'd like to sign up again in the future, we'd love to have you back.
  </p>
  <p>
    Thanks and have a great day.
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>
</div>
