<div class="main">
  <h3>Hello, {{ name }}</h3>
  <p>
    Your verification token: <strong>{{ token.token }}</strong>
  </p>
  <p>
    Click <a href="{{ link }}">here</a> to enter your account profile and click the verify token button.
  </p>
  <p>
    <strong>Don't recognize this activity?</strong><br>
    If you did not submit a request for a password reset, please ignore this email.
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>

</div>
