<div class="main">
  Hello,
  <p>
    Welcome to WaiveAid. You will now have <b>10 extra minutes for free, every time</b>, to get to your WaiveCar. Thanks for using Waive and enjoy!
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>
</div>
