<div class="main">
  <p>Hello {{ name }},</p>

  <p>
    Your booking with {{ car }} was recently subject to a parking ticket.
  </p>

  <img width="450" src="https://s3.amazonaws.com/waivecar-prod/{{ path }}">

  <p>
    Every photo you take is reviewed by our staff to help avoid very costly fines from the City for unfortunate events such as towing during anti-gridlock hours (over $400!) and parking tickets (over $60!).
  </p>

  <p>
    Instead of, in this example, getting the WaiveCar towed, accurate descriptions and correct parking allow us to retrieve it for a far small fraction of that cost. 
  </p>

  <p>
    There are modest fee schedule for rescuing WaiveCars to discourage persistent perilous parkers. According to our records, this is reminder #{{ citeCount }}.
  </p>

  <table>
    <tr><td><b>Time</b></td><td align=right><b>Fee</b></td><td></td></tr>
    <tr><td>1<sup>st</sup></td><td align=right><tt>$0.00</tt></td><td></td></tr>
    <tr><td>2<sup>nd</sup></td><td align=right><tt>$20.00</tt></td><td></td></tr>
    <tr><td>3<sup>rd</sup>+</td><td align=right><tt>$40.00</tt></td><td></td></tr>
  </table>

  <p>
    <em>Remember</em>: We're saving<br>you from parking tickets<br>that <b>start</b> at $63.00!
  </p>

  <p>Thanks for choosing Waive!</p>

  <hr>
  <p><b>Note:</b> If you are unable to get a good photograph please mark the checkbox "Unable to get photo" or text us immediately and make sure the other information is accurate. We understand it's not always possible.</p>
</div>
