<div class="main">
  <h3>Hello, {{ name }}</h3>
  <p>
    {{ body }}
  </p>
  <p>
    Visit <a href="https://waive.car">https://waive.car</a> to access your account.
  </p>
  <p>
    Best regards,<br>
    Waive
  </p>
</div>
