<ion-view class="report-problem-new">
  <!--ion-nav-buttons side="primary">
    <button class="button button-icon icon ion-chevron-left" ng-click="ctrl.modal.show()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-close" ui-sref="booking({ id: ctrl.model.bookingId })"></button>
  </ion-nav-buttons-->
  <ion-content padding="true" class="ion-content--center dark-bg">
    <ng-include src="'/img/waivecar-mark.svg'" class="waivecar-mark"></ng-include>
    <h4>{{ ctrl.car.license}}</h4>

    <div class="row" style="flex-wrap: wrap;">
      <div ng-repeat="image in ctrl.images" class="col col-33">
        <img ng-src="{{image.url}}">
      </div>
    </div>


    <ion-footer-bar>
      <div class="button-bar">
        <button type="button" class="button button-dark" ng-click="ctrl.goBack()">Cancel</button>
        <button type="button" class="button button-balanced" ng-click="ctrl.addPicture()">Add new photo</button>
      </div>
    </ion-footer-bar>

  </ion-content>
</ion-view>

