<ion-view class="report-problem-new" can-swipe-back="false" hide-back-button="true">
  <ion-content padding="true" class="ion-content--center dark-bg">
    <h4>{{ ctrl.car.license}}</h4>
    <div>
      Currently known damage or uncleanliness
    </div>
    <div ng-if="ctrl.images != null && !ctrl.images.length">
      <h3>Nothing currently reported</h3>
    </div>

    <div class="row" style="flex-wrap: wrap;">
      <div ng-repeat="image in ctrl.images"  class="col col-33 tile" ng-click="ctrl.showPicture(image)">
        <div style="box-shadow:0 0 1px #555;background-image: url('{{ image.url }}');">
        </div>
      </div>
    </div>

  </ion-content>

  <ion-footer-bar class="no-padding">
    <div class="button-bar">
      <button type="button" class="button button-gray" ng-click="ctrl.goBack()">{{ctrl.backCaption}}</button>
      <button type="button" class="button button-balanced" ng-click="ctrl.addPicture()">Add new photo</button>
    </div>
  </ion-footer-bar>
</ion-view>

