<ion-view class="report-problem-new">
  <ion-content padding="true" class="ion-content--center dark-bg">
    <ng-include src="'/img/waivecar-mark.svg'" class="waivecar-mark"></ng-include>

    <div class="large-image" style="background-image: url('{{ctrl.model.file.url}}');">
    </div>
    <p>Describe the problem</p>
    <form ng-submit="ctrl.submit()">
      <label class="item item-input">
        <textarea ng-model="ctrl.model.comment" rows="10"></textarea>
      </label>
      <button type="submit" class="button button-balanced button-block" ng-disabled="(!ctrl.model.files.length) || !ctrl.model.buttonActive">
        Report
      </button>
    </form>
  </ion-content>
</ion-view>

