<ion-view class="report-problem-new">
  <ion-content padding="true" class="ion-content--center dark-bg">
    <div class="large-image" style="background-image: url({{ctrl.model.file.url}});"></div>
    <form ng-submit="ctrl.submit()">
      <label class="item item-input">
        <textarea ng-model="ctrl.model.comment" rows="4" placeholder="Describe the problem with {{ctrl.model.car}} here"></textarea>
      </label>
      <button type="submit" class="button button-balanced button-block" ng-disabled="!ctrl.model.file || ctrl.model.buttonActive">
        Report
      </button>
    </form>
  </ion-content>
</ion-view>

