<div class="main"><h3>Hello {{name}},</h3>
  <p>
    {{text}}
  </p>
  <p>
  Please visit our site at <a href="http://waivework.com">waivework.com</a> for managing your account and payments. If you need any further assistance, you can reach out to cutomer support at <a href="mailto:support@waive.car">support@waive.car</a> or by calling <a href="tel:+1855waive55">1 (855) WAIVE-55</a>.
  </p>
  <p>
    Thanks,<br>
    Waive
  </p>
</div>
