<div class="main"><h3>Hello {{name}},</h3>
  <p>
    {{text}}
  </p>
  <p>
  Please don't hesitate to reach out to customer service with any questions you may have at <a href="mailto:support@waive.car">support@waive.car</a> or by calling <a href="tel:+1855waive55">1 (855) WAIVE-55</a>.
  </p>
  <p>
    Thanks,<br>
    Waive
  </p>
</div>
