#!/bin/bash
# chkconfig: 2345 98 02
#
# description: Start app
# processname: pm2
#
### BEGIN INIT INFO
# Provides:          pm2
# Required-Start: $local_fs $remote_fs
# Required-Stop: $local_fs $remote_fs
# Should-Start: $network
# Should-Stop: $network
# Default-Start:        2 3 4 5
# Default-Stop:         0 1 6
### END INIT INFO

NAME={{ name }}
DIR=/opt/{{ name }}-api
START_SCRIPT=$DIR/deployment/init/start.sh
STOP_SCRIPT=$DIR/deployment/init/stop.sh
STATUS_SCRIPT=$DIR/deployment/init/status.sh
CUSER=travis
{% if env == 'prod' %}
export NODE_ENV=production
{% elif env == 'stag' %}
export NODE_ENV=staging
{% else %}
export NODE_ENV=development
{% endif %}

super() {
    if [ "$USER" != "$CUSER" ]; then
        su - $CUSER -c "PATH=$PATH; NODE_ENV=$NODE_ENV $*"
    else
        $*
    fi
}

start() {
    echo "Starting $NAME"
    super $START_SCRIPT
    RETVAL=$?
}

stop() {
    super $STOP_SCRIPT
    RETVAL=$?
}

restart() {
    echo "Restarting $NAME"
    stop
    start
    RETVAL=$?
}

status() {
    echo "Status for $NAME:"
    super $STATUS_SCRIPT
    RETVAL=$?
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        status
        ;;
    restart)
        restart
        ;;
    force-reload)
        reload
        ;;
    *)
        echo "Usage: {start|stop|status|restart}"
        exit 1
        ;;
esac
exit $RETVAL
