<ion-view class="contacts-new"x>

  <ion-nav-title>
    <page-title class="dark-bg title-plain">Contact</page-title>
  </ion-nav-title>



  <ion-content scroll="false" padding="true" class="ion-content--center gray-bg">

    <p id="padding-top padding-bottom">Please fill out the form. We will contact you shortly.</p>

    <form ng-submit="ctrl.send(ctrl.subject, ctrl.message)" name="form" id="form" class="padding-bottom">

      <label class="item item-input">
        <span class="input-label">Subject</span>
        <input type="text" ng-model='ctrl.subject' autofocus>
      </label>

      <label class="item item-input" style="align-items: flex-start">
        <span class="input-label">Message</span>
        <textarea style="flex: 1 220px" rows="10" ng-model='ctrl.message'></textarea>
      </label>
      <button type="submit" form="form" class="button button-balanced button-block">Send</button>

    </form>

    <!-- Discourage phone calls
    <p>
    You are free to call us at any time: <a class="icon-left ion-ios7-telephone button-calm" ng-href="tel: +1-855-924-8355">1 (855) WAIVE55</a>.
    </p>
    -->

    <button type="button" ui-sref="info-insurance" class="button button-dark button-block">VIEW INSURANCE INFORMATION</button>
    <p>Live chat is available during business hours over text, email, and phone.</p>

    <div>
      <a onclick="window.open('https://www.facebook.com/waivecar', '_system', 'location=yes')"><img class="social-icon" src="img/facebook-icon.svg" /></a>
      <a onclick="window.open('https://twitter.com/waivecar', '_system', 'location=yes')"><img class="social-icon" src="img/twitter-icon.svg" /></a>
    </div>
  </ion-content>

</ion-view>
