<ion-pane class="contacts-new" ng-controller="MessageController">
  <header-bar type="nav" on-button-click="showNav()">Contact</header-bar>
  <ion-content scroll="false"  class="has-header">
    <p id="fillInstructions">Please fill the form below and we will contact you as soon as possible</p>
   <form >
      <label class="item item-input">
          <span class="input-label">Subject</span>
          <input type="text" >
        </label>
      <label class="item item-input" style="vertical-align:top">
          Message
          <textarea rows="10"></textarea>
      </label>
    </form>
    <div class="buttonsContainer">
      <a class="button button-balanced button-padded" >Send message</a>
      <a class="button button-blue button-padded">Call us</a>
    </div>
    <img class="social-icon" src="img/facebook-icon.svg" />
    <img class="social-icon" src="img/twitter-icon.svg" />

  </ion-content>

</ion-pane>