<ion-pane class="bookings-component waiveCarContainer" ng-controller="UserController as userCtrl">
  <header-bar type="nav" on-button-click="showNav()">Find WaiveCars</header-bar>
  <ion-content scroll="false" class="has-header">

    <form ng-submit="userCtrl.create()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="userCtrl.forms.userForm.firstName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="userCtrl.forms.userForm.lastName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="userCtrl.forms.userForm.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="userCtrl.forms.userForm.password">
        </label>
      </div>
      <button type="button" class="button" ng-click="login()">Already have an account?</button>
      <button type="submit" class="button">Register</button>
    </form>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-balanced"  previous-state>Back</button>
  </div>
</ion-pane>