<bottom-toast>
  <ul>
    <li>Change profile picture</li>
    <li>Import from Facebook</li>
    <li>Take photo</li>
    <li>Photo Library</li>
  </ul>
  <ul>
    <li>Delete picture</li>
  </ul>
</bottom-toast>
<ion-pane class="bookings-component" ng-controller="UserController as userCtrl">
  <header-bar avatar="true" type="nav" on-button-click="showNav()">My Account</header-bar>
  <ion-content scroll="false" class="has-header">
    <form >
      <label class="item item-input">
        <span class="input-label">Full Name</span>
        <input type="text" ng-model="userCtrl.active.user.fullName">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="userCtrl.active.user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Mobile</span>
        <input type="text" ng-model="userCtrl.active.user.mobile">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="userCtrl.active.user.password">
      </label>
    </form>
    <div class="buttonsContainer">
      <a class="button button-balanced button-padded" >UPDATE PAYMENT METHOD</a>
      <a class="button button-blue button-padded" >UPDATE DRIVER'S LICENSE</a>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <a ui-sref="cars" class="button button-balanced">Back</a>
  </div>
</ion-pane>