<ion-pane class="bookings-component" ng-controller="UserController as userCtrl">
  <header-bar type="nav" on-button-click="showNav()">My Account</header-bar>
  <ion-content scroll="false">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="userCtrl.active.user.firstName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name" ng-model="userCtrl.active.user.lastName">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email" ng-model="userCtrl.active.user.email">
      </label>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <a ui-sref="cars" class="button button-balanced">Back</a>
  </div>
</ion-pane>