<div class="overlay-dialog">
    <div class="container vertical-aligned">
      <img src="img/waivecar-mark2.svg" class="waiveCar-icon"></img>
      <div class="title-container">
        <p class="header-title"><span ng-bind="title"></span></p>
        <p class="header-subtitle"><span ng-bind="subtitle"></span></p>   
      </div>
        <button class="button button-balanced button-padded" ng-click="onButtonClick()">
          <span ng-bind="buttonText"></span>
        </button>
    </div>
</div>